<!DOCTYPE html>
<html class="no-js" lang="en" ng-app="SmartKart">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Smartkart - Grocery Delivery</title>
    <meta name="description" content="Groceries at your doorstep from the stores you love. Same-day grocery &amp; alcohol delivery from Loblaws, Costco and LCBO in Ottawa. Shop online today!">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/ico" href="/static/img/favicon-sk.ico"/>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oleo+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Hammersmith+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'>
    
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>

     <!-- Stripe -->
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <link rel="stylesheet" href="/static/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/static/css/toaster.css"  />
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/ladda-themeless.min.css">
    <link rel="stylesheet" href="/static/css/perfect-scrollbar.css">
    <link rel="stylesheet" href="/static/css/loading-bar.css">
   
    {% load staticfiles %}

    <!-- Facebook Conversion Code for Thanksgiving signups -->
    <script>(function() {
      var _fbq = window._fbq || (window._fbq = []);
      if (!_fbq.loaded) {
        var fbds = document.createElement('script');
        fbds.async = true;
        fbds.src = '//connect.facebook.net/en_US/fbds.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(fbds, s);
        _fbq.loaded = true;
      }
    })();
    window._fbq = window._fbq || [];
    window._fbq.push(['track', '6028678939059', {'value':'0.00','currency':'USD'}]);
    </script>
    <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6028678939059&amp;cd[value]=0.00&amp;cd[currency]=USD&amp;noscript=1" /></noscript>
        
</head>

<body>

<toaster-container toaster-options="{'time-out': 6000}" style="top:84px;"></toaster-container>
      
<div class="container-fluid" style="position:fixed;opacity:0.117;pointer-events:none;top:65%;">
<h1 style="display:none;">Smartkart - Grocery Delivery</h1>
  <div class="row">
    <div class="col-md-12" style="text-align:center;">
      <img alt="Smartkart Logo" style="max-width:60%;" src="/static/img/smartkart-final-logo.png"/>
    </div>
  </div>
</div>
			<div ui-view class="view-changer">
            </div>
<script src="https://checkout.stripe.com/checkout.js"></script>  
<script src="{% static "js/build/app.js" %}" type="text/javascript"></script>		

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-52225520-1', 'smartkart.ca');
      ga('require', 'ec');
      ga('send', 'pageview');
    </script>
</body>

</html>
