<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" style="font-family: 'Oxygen', 'Helvetica Neue', 'Arial', 'sans-serif' !important;">
<head style="font-family: 'Oxygen', 'Helvetica Neue', 'Arial', 'sans-serif' !important;">
  {% load get_order_total %}
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" style="font-family: 'Oxygen', 'Helvetica Neue', 'Arial', 'sans-serif' !important;">
  <meta name="viewport" content="width=device-width, initial-scale=1" style="font-family: 'Oxygen', 'Helvetica Neue', 'Arial', 'sans-serif' !important;">
  <title style="font-family: 'Oxygen', 'Helvetica Neue', 'Arial', 'sans-serif' !important;">Smartkart Order Confirmation</title>
</head>

<body bgcolor="#f7f7f7" style="font-family: 'Oxygen', 'Helvetica Neue', 'Arial', 'sans-serif' !important;-webkit-font-smoothing: antialiased;-webkit-text-size-adjust: none;height: 100%;color: #676767;width: 100% !important;margin: 0 !important;">
<table border="0" align="center" cellpadding="0" cellspacing="0" class="container-for-gmail-android" width="100%" style="font-family: 'Oxygen', 'Helvetica Neue', 'Arial', 'sans-serif' !important;min-width: 600px;border-collapse: collapse !important;">
  <tr style="font-family: 'Oxygen', 'Helvetica Neue', 'Arial', 'sans-serif' !important;">
    <td align="center" valign="top" width="100%" style="background-color: #f7f7f7;font-family: 'Oxygen', 'Helvetica Neue', 'Arial', 'sans-serif' !important;font-size: 14px;color: #777777;text-align: center;line-height: 21px;border-collapse: collapse;padding: 20px 0 5px;" class="content-padding">
      <center style="font-family: 'Oxygen', 'Helvetica Neue', 'Arial', 'sans-serif' !important;">
        <table cellspacing="0" border="0" cellpadding="0" width="600" class="w320" style="font-family: 'Oxygen', 'Helvetica Neue', 'Arial', 'sans-serif' !important;border-collapse: collapse !important;">
          <tr style="font-family: 'Oxygen', 'Helvetica Neue', 'Arial', 'sans-serif' !important;">
            <td class="header-lg" style="font-family: 'Oxygen', 'Helvetica Neue', 'Arial', 'sans-serif' !important;font-size: 32px;color: #4d4d4d;text-align: center;line-height: normal;border-collapse: collapse;font-weight: 700;padding: 35px 0 0;">
              New <img style="display: inline;font-family: 'Oxygen', 'Helvetica Neue', 'Arial', 'sans-serif' !important;max-width: 600px;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;" src="{{order.store.store_logo_url}}" height="30"> order
            </td>
          </tr>
          <tr style="font-family: 'Oxygen', 'Helvetica Neue', 'Arial', 'sans-serif' !important;">
            <td class="button" style="font-family: 'Oxygen', 'Helvetica Neue', 'Arial', 'sans-serif' !important;font-size: 14px;color: #777777;text-align: center;line-height: 21px;border-collapse: collapse;padding: 30px 0;">
              <div style="font-family: 'Oxygen', 'Helvetica Neue', 'Arial', 'sans-serif' !important;"><!--[if mso]>
                <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="http://" style="height:45px;v-text-anchor:middle;width:155px;" arcsize="15%" strokecolor="#ffffff" fillcolor="#ff6f6f">
                  <w:anchorlock/>
                  <center style="color:#ffffff;font-family:Helvetica, Arial, sans-serif;font-size:14px;font-weight:regular;">Track Order</center>
                </v:roundrect>
              <![endif]--><a href="https://www.smartkart.ca/#/process/admbrkdwn/{{order.id}}" style="background-color:rgb(147,185,77);border-radius:5px;color:#ffffff;display:inline-block;font-family:'Cabin', Helvetica, Arial, sans-serif;font-size:14px;font-weight:regular;line-height:45px;text-align:center;text-decoration:none;width:155px;-webkit-text-size-adjust:none;mso-hide:all;">View order</a></div>
            </td>
          </tr>
          <tr style="font-family: 'Oxygen', 'Helvetica Neue', 'Arial', 'sans-serif' !important;">
            <td class="w320" style="font-family: 'Oxygen', 'Helvetica Neue', 'Arial', 'sans-serif' !important;font-size: 14px;color: #777777;text-align: center;line-height: 21px;border-collapse: collapse;">
              <table cellpadding="0" cellspacing="0" width="100%" style="font-family: 'Oxygen', 'Helvetica Neue', 'Arial', 'sans-serif' !important;border-collapse: collapse !important;">
                <tr style="font-family: 'Oxygen', 'Helvetica Neue', 'Arial', 'sans-serif' !important;">
                  <td class="mini-container-left" style="font-family: 'Oxygen', 'Helvetica Neue', 'Arial', 'sans-serif' !important;font-size: 14px;color: #777777;text-align: center;line-height: 21px;border-collapse: collapse;width: 278px;padding: 10px 0 10px 15px;">
                    <table cellpadding="0" cellspacing="0" width="100%" style="font-family: 'Oxygen', 'Helvetica Neue', 'Arial', 'sans-serif' !important;border-collapse: collapse !important;">
                      <tr style="font-family: 'Oxygen', 'Helvetica Neue', 'Arial', 'sans-serif' !important;">
                        <td class="mini-block-padding" style="font-family: 'Oxygen', 'Helvetica Neue', 'Arial', 'sans-serif' !important;font-size: 14px;color: #777777;text-align: center;line-height: 21px;border-collapse: collapse;">
                          <table cellspacing="0" border="0" cellpadding="0" width="100%" style="border-collapse: separate !important;font-family: 'Oxygen', 'Helvetica Neue', 'Arial', 'sans-serif' !important;">
                            <tr style="font-family: 'Oxygen', 'Helvetica Neue', 'Arial', 'sans-serif' !important;">
                              <td class="mini-block" style="font-family: 'Oxygen', 'Helvetica Neue', 'Arial', 'sans-serif' !important;font-size: 14px;color: #777777;text-align: left;line-height: 21px;border-collapse: collapse;border: 1px solid #e5e5e5;border-radius: 5px;background-color: #ffffff;padding: 12px 15px 15px;width: 253px;">
                                <span class="header-sm" style="font-family: 'Oxygen', 'Helvetica Neue', 'Arial', 'sans-serif' !important;font-size: 18px;font-weight: 700;line-height: 1.3;padding: 5px 0;color: #4d4d4d;">Shipping Address</span><br style="font-family: 'Oxygen', 'Helvetica Neue', 'Arial', 'sans-serif' !important;">
                                {{order.user.first_name}} {{order.user.last_name}}<br style="font-family: 'Oxygen', 'Helvetica Neue', 'Arial', 'sans-serif' !important;">
                                {{order.shipping_address.street_address}} {{order.shipping_address.apt_number}} <br style="font-family: 'Oxygen', 'Helvetica Neue', 'Arial', 'sans-serif' !important;">
                                {{order.shipping_address.postal_code}}<br style="font-family: 'Oxygen', 'Helvetica Neue', 'Arial', 'sans-serif' !important;">
                                {{order.phone}}
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </table>
                  </td>
                  <td class="mini-container-right" style="font-family: 'Oxygen', 'Helvetica Neue', 'Arial', 'sans-serif' !important;font-size: 14px;color: #777777;text-align: center;line-height: 21px;border-collapse: collapse;width: 278px;padding: 10px 14px 10px 15px;">
                    <table cellpadding="0" cellspacing="0" width="100%" style="font-family: 'Oxygen', 'Helvetica Neue', 'Arial', 'sans-serif' !important;border-collapse: collapse !important;">
                      <tr style="font-family: 'Oxygen', 'Helvetica Neue', 'Arial', 'sans-serif' !important;">
                        <td class="mini-block-padding" style="font-family: 'Oxygen', 'Helvetica Neue', 'Arial', 'sans-serif' !important;font-size: 14px;color: #777777;text-align: center;line-height: 21px;border-collapse: collapse;">
                          <table cellspacing="0" border="0" cellpadding="0" width="100%" style="border-collapse: separate !important;font-family: 'Oxygen', 'Helvetica Neue', 'Arial', 'sans-serif' !important;">
                            <tr style="font-family: 'Oxygen', 'Helvetica Neue', 'Arial', 'sans-serif' !important;">
                              <td class="mini-block" style="font-family: 'Oxygen', 'Helvetica Neue', 'Arial', 'sans-serif' !important;font-size: 14px;color: #777777;text-align: left;line-height: 21px;border-collapse: collapse;border: 1px solid #e5e5e5;border-radius: 5px;background-color: #ffffff;padding: 12px 15px 15px;width: 253px;">
                                <span class="header-sm" style="font-family: 'Oxygen', 'Helvetica Neue', 'Arial', 'sans-serif' !important;font-size: 18px;font-weight: 700;line-height: 1.3;padding: 5px 0;color: #4d4d4d;">Delivery Time</span><br style="font-family: 'Oxygen', 'Helvetica Neue', 'Arial', 'sans-serif' !important;">
                                {{order.delivery_date|date:"M d, Y"}} <br style="font-family: 'Oxygen', 'Helvetica Neue', 'Arial', 'sans-serif' !important;">{{order.from_delivery_time}} to {{order.to_delivery_time}} <br style="font-family: 'Oxygen', 'Helvetica Neue', 'Arial', 'sans-serif' !important;">
                                <br style="font-family: 'Oxygen', 'Helvetica Neue', 'Arial', 'sans-serif' !important;">
                                <span class="header-sm" style="font-family: 'Oxygen', 'Helvetica Neue', 'Arial', 'sans-serif' !important;font-size: 18px;font-weight: 700;line-height: 1.3;padding: 5px 0;color: #4d4d4d;">Order</span> <br style="font-family: 'Oxygen', 'Helvetica Neue', 'Arial', 'sans-serif' !important;">
                                {{order.order_number}}
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </center>
    </td>
  </tr>
  <tr style="font-family: 'Oxygen', 'Helvetica Neue', 'Arial', 'sans-serif' !important;">
    <td align="center" valign="top" width="100%" style="background-color: #ffffff;border-top: 1px solid #e5e5e5;border-bottom: 1px solid #e5e5e5;font-family: 'Oxygen', 'Helvetica Neue', 'Arial', 'sans-serif' !important;font-size: 14px;color: #777777;text-align: center;line-height: 21px;border-collapse: collapse;">
      <center style="font-family: 'Oxygen', 'Helvetica Neue', 'Arial', 'sans-serif' !important;">
        <table cellpadding="0" cellspacing="0" width="600" class="w320" style="font-family: 'Oxygen', 'Helvetica Neue', 'Arial', 'sans-serif' !important;border-collapse: collapse !important;">
            <tr style="font-family: 'Oxygen', 'Helvetica Neue', 'Arial', 'sans-serif' !important;">
              <td class="item-table" style="font-family: 'Oxygen', 'Helvetica Neue', 'Arial', 'sans-serif' !important;font-size: 14px;color: #777777;text-align: center;line-height: 21px;border-collapse: collapse;padding: 50px 20px;width: 560px;">
                <table cellspacing="0" border="0" cellpadding="0" width="100%" style="font-family: 'Oxygen', 'Helvetica Neue', 'Arial', 'sans-serif' !important;border-collapse: collapse !important;">

                  <tr style="font-family: 'Oxygen', 'Helvetica Neue', 'Arial', 'sans-serif' !important;">
                    <td class="item-col item mobile-row-padding" style="font-family: 'Oxygen', 'Helvetica Neue', 'Arial', 'sans-serif' !important;font-size: 14px;color: #777777;text-align: left;line-height: 21px;border-collapse: collapse;width: 300px;padding-top: 20px;vertical-align: top;"></td>
                    <td class="item-col quantity" style="font-family: 'Oxygen', 'Helvetica Neue', 'Arial', 'sans-serif' !important;font-size: 14px;color: #777777;text-align: left;line-height: 21px;border-collapse: collapse;padding-top: 20px;vertical-align: top;"></td>
                    <td class="item-col price" style="font-family: 'Oxygen', 'Helvetica Neue', 'Arial', 'sans-serif' !important;font-size: 14px;color: #777777;text-align: left;line-height: 21px;border-collapse: collapse;padding-top: 20px;vertical-align: top;"></td>
                  </tr>

<!-- 
<tr>
    <td>Order#</td>
    <td>{{order.order_number}}</td>
  </tr>
  <tr>
    <td>GST/HST#</td>
    <td>{{order.gst_hst_number}}</td>
  </tr>
  <tr>
    <td>Delivery Time:</td>
    <td><strong>{{order.from_delivery_time}} - {{order.to_delivery_time}}</strong></td>
  </tr>
  <tr>
    <td>SUBTOTAL</td>
    <td>${{order.total_price|floatformat:2}}</td>
  </tr>
  <tr>
    <td>DELIVERY FEE</td>
    <td>${{order.delivery_charge|floatformat:2}}</td>
  </tr>
  <tr>
    <td>DISCOUNT</td>
    <td>${{order.discount|floatformat:2}}</td>
  </tr>
  <tr>
    <td>TAX</td>
    <td>${{order.tax|floatformat:2}}</td>
  </tr>
  <tr>
    <td>TIP</td>
    <td>${{order.tip|floatformat:2}}</td>
  </tr>
  <tr>
    <td><strong>ORDER TOTAL</strong></td>
    <td><strong>{{order.total_price|get_order_total:order}}</strong></td>
  </tr>

 -->
                  <tr style="font-family: 'Oxygen', 'Helvetica Neue', 'Arial', 'sans-serif' !important;">
                    <td class="item-col item" style="font-family: 'Oxygen', 'Helvetica Neue', 'Arial', 'sans-serif' !important;font-size: 14px;color: #777777;text-align: left;line-height: 21px;border-collapse: collapse;width: 300px;padding-top: 20px;vertical-align: top;">
                    <img src="{{order.store.store_logo_url}}" width="150px" style="font-family: 'Oxygen', 'Helvetica Neue', 'Arial', 'sans-serif' !important;max-width: 600px;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;">
                    </td>
                    <td class="item-col quantity" style="text-align: right;padding-right: 10px;border-top: 1px solid #cccccc;font-family: 'Oxygen', 'Helvetica Neue', 'Arial', 'sans-serif' !important;font-size: 14px;color: #777777;line-height: 21px;border-collapse: collapse;padding-top: 20px;vertical-align: top;">
                      <span class="total-space" style="font-family: 'Oxygen', 'Helvetica Neue', 'Arial', 'sans-serif' !important;padding-bottom: 8px;display: inline-block;">Subtotal</span> <br style="font-family: 'Oxygen', 'Helvetica Neue', 'Arial', 'sans-serif' !important;">
                      <span class="total-space" style="font-family: 'Oxygen', 'Helvetica Neue', 'Arial', 'sans-serif' !important;padding-bottom: 8px;display: inline-block;">Delivery</span> <br style="font-family: 'Oxygen', 'Helvetica Neue', 'Arial', 'sans-serif' !important;">
                      <span class="total-space" style="font-family: 'Oxygen', 'Helvetica Neue', 'Arial', 'sans-serif' !important;padding-bottom: 8px;display: inline-block;">Discount</span> <br style="font-family: 'Oxygen', 'Helvetica Neue', 'Arial', 'sans-serif' !important;">
                      <span class="total-space" style="font-family: 'Oxygen', 'Helvetica Neue', 'Arial', 'sans-serif' !important;padding-bottom: 8px;display: inline-block;">Tax</span>  <br style="font-family: 'Oxygen', 'Helvetica Neue', 'Arial', 'sans-serif' !important;">
                      <span class="total-space" style="font-family: 'Oxygen', 'Helvetica Neue', 'Arial', 'sans-serif' !important;padding-bottom: 8px;display: inline-block;">Tip</span>  <br style="font-family: 'Oxygen', 'Helvetica Neue', 'Arial', 'sans-serif' !important;">
                      <span class="total-space" style="font-weight: bold;color: #4d4d4d;font-family: 'Oxygen', 'Helvetica Neue', 'Arial', 'sans-serif' !important;padding-bottom: 8px;display: inline-block;">Total</span>
                    </td>
                    <td class="item-col price" style="text-align: left;border-top: 1px solid #cccccc;font-family: 'Oxygen', 'Helvetica Neue', 'Arial', 'sans-serif' !important;font-size: 14px;color: #777777;line-height: 21px;border-collapse: collapse;padding-top: 20px;vertical-align: top;">
                      <span class="total-space" style="font-family: 'Oxygen', 'Helvetica Neue', 'Arial', 'sans-serif' !important;padding-bottom: 8px;display: inline-block;">${{order.total_price|floatformat:2}}</span> <br style="font-family: 'Oxygen', 'Helvetica Neue', 'Arial', 'sans-serif' !important;">
                      <span class="total-space" style="font-family: 'Oxygen', 'Helvetica Neue', 'Arial', 'sans-serif' !important;padding-bottom: 8px;display: inline-block;">${{order.delivery_charge|floatformat:2}}</span> <br style="font-family: 'Oxygen', 'Helvetica Neue', 'Arial', 'sans-serif' !important;">
                      <span class="total-space" style="color: rgb(147,185,77);font-family: 'Oxygen', 'Helvetica Neue', 'Arial', 'sans-serif' !important;padding-bottom: 8px;display: inline-block;">-${{order.discount|floatformat:2}}</span> <br style="font-family: 'Oxygen', 'Helvetica Neue', 'Arial', 'sans-serif' !important;">
                      <span class="total-space" style="font-family: 'Oxygen', 'Helvetica Neue', 'Arial', 'sans-serif' !important;padding-bottom: 8px;display: inline-block;">${{order.tax|floatformat:2}}</span>  <br style="font-family: 'Oxygen', 'Helvetica Neue', 'Arial', 'sans-serif' !important;">
                      <span class="total-space" style="font-family: 'Oxygen', 'Helvetica Neue', 'Arial', 'sans-serif' !important;padding-bottom: 8px;display: inline-block;">${{order.tip|floatformat:2}}</span>  <br style="font-family: 'Oxygen', 'Helvetica Neue', 'Arial', 'sans-serif' !important;">
                      <span class="total-space" style="font-weight: bold;color: #4d4d4d;font-family: 'Oxygen', 'Helvetica Neue', 'Arial', 'sans-serif' !important;padding-bottom: 8px;display: inline-block;">${{order.total_price|get_order_total:order}}</span>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>

        </table>
      </center>
    </td>
  </tr>
  <tr style="font-family: 'Oxygen', 'Helvetica Neue', 'Arial', 'sans-serif' !important;">
    <td align="center" valign="top" width="100%" style="background-color: #f7f7f7;height: 100px;font-family: 'Oxygen', 'Helvetica Neue', 'Arial', 'sans-serif' !important;font-size: 14px;color: #777777;text-align: center;line-height: 21px;border-collapse: collapse;">
      <center style="font-family: 'Oxygen', 'Helvetica Neue', 'Arial', 'sans-serif' !important;">
        <table cellspacing="0" border="0" cellpadding="0" width="600" class="w320" style="font-family: 'Oxygen', 'Helvetica Neue', 'Arial', 'sans-serif' !important;border-collapse: collapse !important;">
          <tr style="font-family: 'Oxygen', 'Helvetica Neue', 'Arial', 'sans-serif' !important;">
            <td style="padding: 25px 0 25px;font-family: 'Oxygen', 'Helvetica Neue', 'Arial', 'sans-serif' !important;font-size: 14px;color: #777777;text-align: center;line-height: 21px;border-collapse: collapse;">
              <a href="http://www.smartkart.ca/"><img width="80" style="opacity: 0.8;font-family: 'Oxygen', 'Helvetica Neue', 'Arial', 'sans-serif' !important;max-width: 600px;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;" src="https://www.smartkart.ca/static/img/small_logo.png"></a>
            </td>
          </tr>
        </table>
      </center>
    </td>
  </tr>
</table>

</body>
</html>
