<html>
<body>
<p>Hello {{order.user.first_name}}!</p>
<p>Your order from {{order.store.name}} has been canceled</p>
<p>Order Details:</p>
<p>Order# {{order.order_number}}</p>
<p>GST/HST# {{order.gst_hst_number}}</p>
<p>SUBTOTAL {{order.total_price|floatformat:2}}</p>
<p>TAX {{order.tax|floatformat:2}}</p>
<p>TIP  {{order.tip|floatformat:2}}</p>

<p><strong>You will receive the refund in 5 business days.</strong></p>

<p>The Smartkart Team</p>
<img src="https://images-smartkartca.rhcloud.com/img/store-logo.png"/>

</body>
</html>
