<div ng-controller="AddressModalCtrl">
 <div class="modal-header with-icon">
     <h4>Add a shipping address </h4> <i class="fa fa-home"></i>
</div>
  

  <div class="modal-body " >
  <div class="alert alert-danger" id="wrongShippingAddr" style="display:none"><strong>Sorry, this {{message}}</strong></div>
    <form novalidate  role="form" name="shippingAddrForm" id="shippingAddrForm" class="form-horizantal css-form" >

      <div class="form-group ">
        <label  class="control-label required" for="Name">Label</label>
        <div class="row">
          <div class="col-md-5">
            <input class="form-control" required name="Name" id="Name" ng-model="address.label" type="text" placeholder="Home, work, school..." focus></div>
         </div>
         <div class="error" ng-if="(shippingAddrForm.Name.$dirty && shippingAddrForm.Name.$invalid)" style="width:30%;text-align:center;">
            <small class="error" ng-if="shippingAddrForm.Name.$error.required">Name is required</small>
         </div>
      </div>

      <div class="form-group">
        <label for="streetaddress" class="control-label required">Street address</label>
        <div class="row">
          <div class="col-md-5">
            <input class="form-control" required id="streetaddress" ng-model="address.street_address" type="address" placeholder="Street address" name="streetaddress" focus></div>
        </div>
        <div class="error" ng-if="shippingAddrForm.streetaddress.$dirty && shippingAddrForm.streetaddress.$invalid" style="width:30%;text-align:center;">
          <small class="error" ng-if="shippingAddrForm.streetaddress.$error.required">Street address is required</small>
        </div>
      </div>
      <div class="form-group">
        <label for="apptnumber"  class="control-label" >Apartment Number</label>
        <div class="row">
          <div class="col-md-2">
            <input class="form-control" id="apptnumber" name="apptnumber" ng-model="address.apt_number" type="text" placeholder="App. #"></div>
        </div>
      </div>
      <div class="form-group">
        <label for="postalcode" class="control-label required" >Postal Code</label>
        <div class="row">
          <div class="col-md-2">
            <input style="width:85px;" class="form-control" required id="postalcode" name="postalcode" ng-model="address.postal_code" type="text" placeholder="X#X #X#" ng-minlength=6 maxlength="7" ng-pattern="/[a-zA-Z][0-9][a-zA-Z](-| |)[0-9][a-zA-Z][0-9]/"></div>           
        </div>
        <div class="error" style="width:30%;text-align:center;" ng-if="(shippingAddrForm.postalcode.$dirty && shippingAddrForm.postalcode.$invalid)">
          <small class="error" ng-if="shippingAddrForm.postalcode.$error.required">A postal code is required</small>
          <small class="error" ng-if="!shippingAddrForm.postalcode.$focused && shippingAddrForm.postalcode.$error.pattern">The postal code should be of the following pattern: A1B 2C3</small>
        </div>
      </div>

      <div class="control-group span4">
        <label for="note" class="control-label" >Note</label>
        <div class="controls">
          <input class="form-control" id="note" name="textinput" ng-model="address.note" type="text" placeholder="Custom note for this address"></div>
      </div>
    </form>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" ng-click="close()">Close</button>
    <button type="submit" class="btn btn-info" ng-disabled="shippingAddrForm.$invalid || isLoading" ng-click="ok()" >Save</button>
  </div>

</div>