<div ng-show="isLoading" class="spinnerNew">
              <div class="double-bounce1"></div>
              <div class="double-bounce2"></div>
            </div>
<tabset style="padding:20px;">
    <tab>
    <tab-heading>
         <i class="fa fa-shopping-cart"></i>&nbsp;&nbsp;Order Manager
    </tab-heading>
        <div>
    <h1>Orders <i class="fa fa-shopping-cart pull-right"></i></h1>
</div>
    <accordion close-others="false">
        <accordion-group heading="Quick look" is-open="true">
                <div ng-controller="AdminOrdersCtrl">

                    <div>
                       <div class="span4 offset4" ng-controller="DatePickerCtrl">
                         <label class="control-label" for="date">Choose a day</label>
                         <div class="form-horizontal controls">
                             <table class="table">

                              <tr>
                               <td class="pull-left">
                                <i class="fa fa-calendar"></i>&nbsp;&nbsp;&nbsp;<input placeholder="Select a date" class="form-control adminTextfield" type="text" datepicker-popup="{{format}}" ng-model="deliveryDate.date" is-open="opened" max="'2021-12-31'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close"/>&nbsp;&nbsp;&nbsp;<a style="border-radius:7px;" class="btn btn-primary" ng-click="getOrdersForDay()">Get orders for this day <i class="fa fa-search"></i></a>
                                    </td>
                                </tr>

                            </table>
                            </div>
                        </div>
                </div>
                <div class="span12 row-fluid">
                    


                    <table class="table table-hover table-condensed table-striped">
                        <caption><big>Orders for <span class="dateRange">{{deliveryDate.selectedDateString}}</span></big></caption>
                        <thead class="levelOne">
                            <tr>
                                <th>Order number</th>
                                <th>Delivery time</th>
                                <th>Address</th>

                                <th>Total price</th>
                                <th>Phone</th>
                                <th>Delivery instructions</th>

                                <th>Status</th>
                                <th></th>
                                <th>Assigned driver</th>
                                <th>Driver's pay*</th>
                                <th>Tip</th>
                                <th>Stripe charge</th>

                            </tr>
                        </thead>
                        <tbody ng-controller="OrderModalCtrl" data-ng-repeat="order in ordersByDay track by $index">
                          <tr class="clickableRow" title="Click to view items">
                            <td><a ui-sref="process.admbrkdwn({orderId:order.id})">{{order.order_number}}</a></td>
                            <td><strong>{{order.from_delivery_time}} - {{order.to_delivery_time}}</strong></td>
                            <td>{{order.shipping_address.label}} ({{order.shipping_address.street_address}}, {{order.shipping_address.postal_code}})</td>

                            <td>{{order.totalWithDiscount | currency}}</td>
                            <td>{{order.refund | currency}}</td>
                            <td>{{order.delivery_instructions}}</td>

                            <td>{{order.status}}</td>
                            <td><button class="btn btn-danger btn-mini pull-right" ng-click="cancelOrder(order);$event.stopPropagation()" ng-hide="(order.status == 'CANCELED') || (order.status == 'ASSIGNED TO SHOPPER')">Cancel</button></td>


                            <!-- <div us-spinner="" spinner-key="assignOrderSpinner"></div> -->
                            <td>
                                
                                <select class="form-control" ng-change="assignOrder(order);" ng-options="driver.id as (driver.first_name + ' ' + driver.last_name) for driver in drivers" ng-model="order.assigned_driver.id">
                                </select>
                                
                            </td>
                            
                            <td style="color:red;">
                                <strong>({{order.driverWage | currency}})</strong>
                            </td>
                            <td style="color:red;">
                                <strong>({{order.tip | currency}})</strong>
                            </td>
                            <td style="color:red;">
                                <strong>({{order.stripeCharge | currency}})</strong>
                            </td>


                        </tr>
                    </tbody>
                </table>
                <h2 style="text-align:center;" ng-show="!ordersByDay.length && deliveryDate.selectedDateString=='Today'" class="faded">No orders yet today</h2>
                <h2 style="text-align:center;" ng-show="!ordersByDay.length && deliveryDate.selectedDateString!='Today'" class="faded">No orders for this day</h2>
                <!-- END TABLE -->
                </div>
                </div>
        </accordion-group>
        <accordion-group heading="Full order report" is-open="true">
                <div class="row">
                    <div class="col-md-4">
                    <table class="table table-condensed">
                    <th><h5><i class="fa fa-calendar"></i>&nbsp;&nbsp;&nbsp;From</h5></th>
                    <th><h5><i class="fa fa-calendar"></i>&nbsp;&nbsp;&nbsp;To</h5></th>
                              <tr>
                               <td ng-controller="DatePickerCtrl">
                                <input placeholder="From" class="form-control adminTextfield" type="text" datepicker-popup="{{format}}" ng-model="orderDateRange.fromDate" is-open="opened" max="'2021-12-31'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close"/>
                                
                                </td>
                                <td ng-controller="DatePickerCtrl">
                                    <input placeholder="To" class="form-control adminTextfield" type="text" datepicker-popup="{{format}}" ng-model="orderDateRange.toDate" is-open="opened" max="'2021-12-31'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close"/>
                                </td>
                                <td>
                                <a style="border-radius:7px;" class="btn btn-primary" ng-click="fullReport=false;refreshOrders()"><i class="fa fa-search"></i></a>
                                </td>
                                </tr>   
                            </table>
                        </div>
                    <div class="col-md-4 pull-right">
                        <a style="border-radius:7px;" class="btn btn-info pull-right" ng-click="fullReport=true;getFullOrderReport()"><i class="fa fa-table"></i>&nbsp;&nbsp;Full report</a>
                    </div>

                </div>
                <div>
                <div class="span12 row-fluid">
                    <!-- <div  class="spinner-generic" ng-show="isLoading">
                          <div class="bounce1"></div>
                          <div class="bounce2"></div>
                          <div class="bounce3"></div>
                    </div> -->
                    <table class="table table-condensed">
                        <caption>
                            <h4 ng-if="fullReport">Full report (all orders)</h4>
                            <h4 ng-if="currentFromDate && currentToDate && !fullReport">Orders between <span class="dateRange">{{currentFromDate}}</span> and <span class="dateRange">{{currentToDate}}</span></h4>
                            <h4 ng-if="!(currentFromDate && currentToDate) && !fullReport">Today's orders</h4>
                        </caption>

                        <thead class="levelOne">
                            <tr>
                                <th><a ng-click="orderBy('store.id')">Order number</a></th>
                                <th><a ng-click="orderBy('-delivery_date')">Delivery Date&nbsp;<i class="fa fa-sort-down"></i></a></th>
                                <th><a ng-click="orderBy('from_delivery_time')">Delivery time&nbsp;<i class="fa fa-sort-down"></i></a></th>
                                <th>Address</th>

                                <th>
                                    <a ng-click="orderBy('-totalWithDiscount')">Total&nbsp;price&nbsp;<i class="fa fa-sort-down"></i></a><br/>(paid&nbsp;by&nbsp;customer)
                                </th>
                                <th>Cost price (in&nbsp;db)</th>
                                <th>Real&nbsp;price<br/>(paid&nbsp;in&nbsp;store)</th>
                                <th>Markup profit</th>
                                <th>Refunded</th>
                                <th>Delivery instructions</th>

                                <th>Status</th>
                                <th></th>
                                <th colspan="2"><a ng-click="orderBy('assigned_driver.id')">Assigned driver&nbsp;<i class="fa fa-sort-down"></i></a></th>
                                <th>Driver's pay *</th>
                                <th>Stripe charge</th>



                            </tr>
                        </thead>
                        <tbody ng-controller="OrderModalCtrl" data-ng-repeat="order in allOrders | orderBy:predicate">
                          <tr ng-class="{true: 'danger', false: ''}[order.status=='CANCELED']" class="clickableRow" title="Click to view items">
                            <td>
                                <a ui-sref="process.admbrkdwn({orderId:order.id})">{{order.order_number}}</a><br/>
                                <a style="color:blue;font-weight:bold;" ui-sref="process.admbrkdwn({orderId:order.id})">{{order.user.name}}</a><br/>
                                <img style="margin-top:-10px;" height="10" ng-src="{{order.store.store_logo_url}}"/>
                            </td>
                            <td><strong>{{order.delivery_date | date : 'fullDate'}}</strong></td>
                            <td><strong>{{order.from_delivery_time}} - {{order.to_delivery_time}}</strong></td>
                            <td>{{order.shipping_address.label}} ({{order.shipping_address.street_address}}, {{order.shipping_address.postal_code}})</td>

                            <td style="font-size:110%;font-weight:bold;">{{order.totalWithDiscount | currency}}</td>
                            <td>{{order.cost_price | currency}}</td>
                            <td ng-class="{true: 'warning', false: ''}[order.price_paid=='0.00']">
                            <div style="white-space:nowrap;" collapse="!order.editPricePaid">
                                <input placeholder="Subtotal" ng-model="order.price_paid" class="form-control"/>
                                <input placeholder="Tax" ng-model="order.tax_paid" class="form-control"/>
                                <a  class="editPhoneBtn btn btn-mini btn-success" ng-click="savePricePaid(order)">&nbsp;<i class="fa fa-check"></i></a>
                                <a class="editPhoneBtn btn btn-mini btn-danger" ng-click="cancelPricePaid(order);order.price_paid=order.previousPricePaid;">&nbsp;<i  class="fa fa-times"></i></a>
                            </div>
                            <span style="font-size:110%;font-weight:bold;"  ng-if="order.price_paid && !order.editPricePaid">{{order.totalPricePaid | currency}}</span>&nbsp;&nbsp;<a style="font-size:110%" btn="btn-inverse btn btn-mini" ng-if="order.price_paid && !order.editPricePaid" ng-click="order.editPricePaid=!order.editPricePaid;order.previousPricePaid=order.price_paid;"><i class="fa fa-pencil-square-o"></i></a>
                            </td>

                            <td class="success">
                                <table class="table">
                                    <th>Expected</th>
                                    <th>Actual</th>
                                    <tr>
                                        <td><strong>{{order.expectedProfit | currency}}</strong></td>
                                        <td><strong>{{order.totalMarkupProfit | currency}}</strong></td>
                                    </tr>
                                </table>
                                
                            </td>
                            <td style="color:red"><strong>{{order.refund | currency}}</strong></td>
                            <td>{{order.delivery_instructions}}</td>

                            <td>{{order.status}}</td>
                            <td><button class="btn btn-danger btn-mini pull-right" ng-click="cancelOrder(order);$event.stopPropagation()" ng-hide="(order.status == 'CANCELED') || (order.status == 'ASSIGNED TO SHOPPER')">Cancel</button></td>


                            <!-- <div us-spinner="" spinner-key="assignOrderSpinner"></div> -->
                            <td style="background-color:rgb(243,243,243)">
                                <strong>{{order.assigned_driver.name}}</strong>
                            </td>
                            <td>
                                
                                <select style="min-width:75px;" class="form-control" ng-change="assignOrder(order);" ng-options="driver.id as (driver.first_name + ' ' + driver.last_name) for driver in drivers" ng-model="order.assigned_driver.id">
                                </select>
                                
                            </td>

                            <td ng-class="{true: 'warning', false: ''}[order.price_paid=='0.00']" style="color:red;">
                                <strong>({{order.drivers_pay | currency}})</strong>
                            </td>
                            <td style="color:red;">
                                <strong>({{order.stripeCharge | currency}})</strong>
                            </td>
                        </tr>
                        
                    </tbody>
                    <tfoot>
                        <tr>
                                
                                <td colspan="4"><h2>Total (<strong>{{orderCount}}</strong> orders)</h2><small>excludes canceled orders</small></td>
                                <td><h3>{{grandTotalOrderPrice | currency}}</h3></td>
                                <td><h3>{{grandTotalCostPrice | currency}}</h3></td>
                                <td></td>
                                <td class="success">
                                <table class="table">
                                    <th>Expected</th>
                                    <th>Actual</th>
                                    <tr>
                                        <td><h3>{{grandTotalExpectedProfit | currency}}</h3></td>
                                        <td><h3>{{grandTotalMarkupProfit | currency}}</h3></td>
                                    </tr>
                                </table>
                                    <small>Net profit after paying Stripe and shopper</small>
                                </td>
                                <td><h3>Refunds: {{grandTotalRefunds | currency}}</h3></td>
                                                                <td colspan="4"></td>
                                <td colspan="2">
                                    <table class="table">
                                        <th colspan="2">Total pay</th>
                                        <th colspan="1">Tips</th>
                                        <th colspan="1">Wages</th>
                                        <tr ng-repeat="driver in drivers" ng-if="totalPayByDriverId[driver.first_name]>0">
                                            <td><strong>{{driver.first_name}}</strong></td>
                                            <td style="color:red"><code>{{totalPayByDriverId[driver.first_name] | currency}}</code></td>
                                            <td style="color:red">{{totalTipByDriverId[driver.first_name] | currency}}</td>
                                            <td style="color:red">{{totalWageByDriverId[driver.first_name] | currency}}</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                
                                <td colspan="4"><h2>Average</h2></td>
                                <td><h3>{{averageTotalPrice | currency}}</h3></td>
                                <td><h3>{{averageCostPrice | currency}}</h3></td>
                                <td></td>
                                <td>
                                <table class="table">
                                    <th>Expected</th>
                                    <th>Actual</th>
                                    <tr>
                                        <td><h3><mark>{{expectedNetProfitPercentage}}%</mark></h3></td>
                                        <td><h3><mark>{{netProfitPercentage}}%</mark></h3></td>
                                    </tr>
                                </table>
                                <small>Net profit percentage</small></td>

                            </tr>
                            <tr>
                                <td colspan="7" style="text-align:left;font-size:120%">

                                    <ul>
                                        <li>
                                            <strong>*Driver's pay is final <em>if and only if</em> a receipt price (<code>price_paid</code>) has been entered.</strong>
                                        </li>
                                        <li class="warning"><span style="background-color:rgb(251,248,226)">Driver's pay highlighted in yellow means that it is tentative</span></li>
                                        

                                        <li>If a receipt has not been entered the driver's pay is tentatively computed from the <em><u>expected</u></em> <code>total_price</code> (the subtotal as calculated by the sum of each cart item's product <code>cost_price</code> factored by said cart item's <code>quantity</code>)
                                        </li>

                                        <li>
                                        This allows us to see how much we <em>expect</em> to pay the driver and how much net profit is made without waiting for receipts to be entered.
                                        </li>

                                    </ul>




                                </td>
                            </tr>
                    </tfoot>
                </table>
                <!-- END TABLE -->
                </div>
                </div>
        </accordion-group>
        </accordion>

    </tab>


        <tab>
    <tab-heading>
         <i class="fa fa-database"></i>&nbsp;&nbsp;Inventory
    </tab-heading>
    <div>
    <h1>Inventory <i class="fa fa-database pull-right"></i></h1>
    <!-- <button ng-click="getAllProducts()" style="display:inline;" class="btn btn-success btn-mini">Get all products</button> -->
    </div>
    <div>
      <accordion close-others="oneAtATime">
        <accordion-group ng-repeat="store in storeDetails track by $index" heading="{{store.name}}" is-open="true">


        <accordion ng-controller="AdminDepartmentsCtrl" close-others="oneAtATime">
            Departments for&nbsp;&nbsp;<img style="display:inline;" width="100" ng-src="{{store.store_logo_url}}" /><button ng-click="addDepartment(store)" class="btn btn-info btn-mini pull-right">+ New department</button><br/><br/>
            <accordion-group ng-repeat="department in store.departments track by $index" heading="{{department.department_name}}" is-open="false">

            <div ng-controller="AdminAislesCtrl">
                <button class="btn btn-warning btn-mini" ng-click="isCollapsed = !isCollapsed">
                    Aisles in {{department.department_name}}</button><button ng-click="addAisle(department)" class="btn btn-success btn-mini pull-right">+ Add aisle</button><br/><br/>
                    <div class="span4" collapse="isCollapsed">
                        <table class="table table-hover table-condensed table-striped">

                            <thead>
                                <tr>
                                    <th>Aisle name</th>
                                    <th>Aisle number (in-store)</th>


                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="aisle in department.aisles track by $index">
                                    <td>{{aisle.aisle_name}}</td>
                                    <td>{{aisle.store_aisle_number}}</td>
                                    <td>

                                        <button class="btn btn-danger btn-mini">Delete</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>



                <accordion-group ng-repeat="aisle in department.aisles track by $index" heading="Aisle #{{aisle.id}} : {{aisle.aisle_name}}" is-open="false">
                <button class="btn btn-success btn-mini pull-left" ng-controller="EditProductModalCtrl" ng-click="getProductsInAisle(aisle,store)">Show products</button>
                <button class="btn btn-success btn-mini pull-right" ng-controller="EditProductModalCtrl" ng-click="product={};editProduct(product,aisle.id,department.id,store.id)">+ Add product</button>
                <table ng-show="aisle.products" class="table table-hover table-condensed table-striped">
                    <thead class="levelOne">
                        <tr>
                    <!-- "brand_name": "Dole",
                        "description": "Apples are a good source of Vitamin C",
                        "id": 12,
                        "image_url": "https://d2lnr5mha7bycj.cloudfront.net/itemimage/image/-daf3450243b2bc7393ef6d64ee4cccec.jpg",
                        "name": "Apple",
                        "position_on_aisle": "1",
                        "price": "0.69",
                        "product_available": true,
                        "taxable": true -->
                        <th colspan="2">Id</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Aisle position</th>
                        <th>Available</th>
                        <th>Taxable</th>
                    </tr>
                </thead>
                <tbody ng-repeat="product in aisle.products track by $index" ng-controller="EditProductModalCtrl">
                  <tr class="clickableRow" title="Click to view items" ng-click="editProduct(product,aisle.id,department.id,store.id)">
                    <td>{{product.id}}</td>
                    <td><img ng-src="{{product.image_url}}" width="20" height="20"/></td>
                    <td>{{product.name}}</td>
                    <td>{{product.description}}</td>
                    <td>{{product.price}}</td>
                    <td>{{product.position_on_aisle}}</td>
                    <td>{{product.product_available}}</td>
                    <td>{{product.taxable}}</td>
                    <td><a ng-click="editProduct(product)" class="btn btn-info btn-mini">Edit</a></td>
                </tr>
            </tbody>
        </table>


        </accordion-group>

    </accordion-group>
    </accordion>
    </accordion-group>
</accordion>
</div>

</tab>



    <tab>
    <tab-heading>
         <i class="fa fa-clock-o"></i>&nbsp;&nbsp;Timeslots
    </tab-heading>
    <h1>Manage timeslots <i class="pull-right fa fa-clock-o"></i></h1>
    <accordion close-others="false">
    
        <accordion-group  is-open="true">
            <accordion-heading>
                <i class="fa fa-ban pull-left"></i>&nbsp;Block timeslots 
            </accordion-heading>
            <div style="min-height:420px;" class="row">

                <div class="col-md-6 bs-callout">
                    <div class="span4 offset4">
                         <label class="control-label" for="date">Choose a store</label>
                         <div class="form-horizontal controls">

                             <table class="table">
                                <tr>
                                    <td ng-repeat="store in globalStoreInfo" class="pull-left">
                                        <img style="padding:15px;" ng-class="{true: 'storeSelectedForTimeslot', false: 'storeNotSelectedForTimeslot'}[$parent.timeslotSelectedStore.id==store.id]" ng-click="$parent.timeslotSelectedStore=store" width="200" ng-src="{{store.store_logo_url}}"/>
                                    </td>
                                </tr>   
                            </table>
                        </div>
                    </div>
                </div>

                <div ng-show="timeslotSelectedStore" class="col-md-6 bs-callout">
                    <div class="span4 offset4" ng-controller="DatePickerCtrl">
                         <label class="control-label" for="date">Choose a day</label>
                         <div class="form-horizontal controls">
                             <table class="table">
                              <tr>
                               <td class="pull-left">
                                <i class="fa fa-calendar"></i>&nbsp;&nbsp;&nbsp;<input placeholder="Select a date" class="form-control adminTextfield" type="text" datepicker-popup="{{format}}" ng-model="timeslotDate.date" is-open="opened" max="'2021-12-31'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close"/>&nbsp;&nbsp;&nbsp;<a style="border-radius:15px;" ng-click="showAvailableSlotsForDate($parent.timeslotSelectedStore.id)" class="btn btn-primary">Get timeslots for this day <i class="fa fa-search"></i></a>
                                    </td>
                                </tr>   
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <table style="table-layout:fixed;" ng-if="timeslotsForDate" class="table table-responsive">
                        <thead class="box-title">
                        <tr>
                            
                            <th colspan="2">
                                <h4>Timeslots <span ng-if="timeslotsForDate">for <code>{{cleanDate(timeslotDate.date)}}</code></span></h4></th>
                        </tr>
                        <tr>
                            <th><h5><i class="fa fa-clock-o"></h5></th>
                            <th><h5>Status</h5></th>
                            
                        </tr>
                        </thead>
                        <tbody>
                               <tr ng-repeat="timeslot in timeslotsForDate track by $index" ng-mouseenter="timeslot.showButton=true;" ng-mouseleave="timeslot.showButton=false;" >
                                    <td ng-class="{true: 'success', false: 'danger'}[timeslot.time.available]">
                                        {{timeslot.time.display_name}}
                                    </td>
                                   <td ng-class="{true: 'success', false: 'danger'}[timeslot.time.available]">
                                        <i class="fa fa-check-circle" ng-hide="!timeslot.time.available"></i>
                                        <i ng-if="!timeslot.time.available" class="fa fa-ban"></i>&nbsp;
                                        <a class="btn btn-mini btn-success pull-right" ng-show="timeslot.showButton && !timeslot.time.available" ng-click="unblockTimeslot($parent.timeslotSelectedStore.id,timeslot)">Unblock</a>&nbsp;
                                        <a class="btn btn-mini btn-danger pull-right" ng-click="blockTimeslot($parent.timeslotSelectedStore.id,timeslot)" ng-show="timeslot.showButton && timeslot.time.available">
                                            <i class="fa fa-ban"></i>&nbsp;&nbsp;Block
                                        </a>
                                    </td>
                               </tr> 
                        </tbody>
                    </table>
                </div>
            </div>
        </accordion-group>
    </accordion>


    </tab>
    <tab>
    <tab-heading>
         <i class="fa fa-dollar"></i>&nbsp;&nbsp;Refunds
    </tab-heading>
    <h1>Refund requests <i class="fa fa-dollar pull-right"></i></h1>

    <div ng-repeat="cart in refundsGroupedByCart track by $index">
        <h2 ng-if="cart.refunds.length">Cart # : {{cart.id}}</h2>

        <div ng-repeat="order in cart.refunds track by $index">
            <h3>Order # : {{order.orderNumber}}</h3>
            <button class="btn btn-success btn-mini pull-right" ng-click="approveRefund(cart.id, order.orderNumber)">
                                    Approve refund
                                </button>
            <table class="table table-hover table-condensed table-striped">
                        <thead class="levelOne">
                            <tr>
                                
                                <th>Store</th>
                                <th colspan="2">Product</th>
                                
                                <th>Price</th>
                                <th>Tax</th>
                                <th>Quantity</th>
                                <th>Driver</th>
                                
                                <th>Note</th>

                            </tr>
                        </thead>
                        <tbody data-ng-repeat="refund in order.refundedItems track by $index">
                        <tr>    
                        </tr>
                          <tr class="clickableRow" title="Click to view items">
                            
                            <td>{{refund.store}}</td>
                            <td>{{refund.product.name}}</td>
                            <td><img ng-src="{{refund.product.image_url}}" width="50" height="50"/></td>

                            <td>{{refund.price}}</td>
                            <td>{{refund.tax}}</td>
                            <td>{{refund.quantity}}</td>
                            <td>{{refund.assigned_driver}}</td>
                            
                        </tr>
                    </tbody>
                </table>

        </div>

    </div>

    </tab>
    <tab>
    <tab-heading>
         <i class="fa fa-barcode"></i>&nbsp;&nbsp;Coupons
    </tab-heading>
    <h1>Coupons<i class="fa fa-barcode pull-right"></i></h1>
    <accordion close-others="false">
        <accordion-group heading="Coupon Generator" is-open="true">
            <!-- <input ng-model="" type="text" class="form-control"/> -->
            <div style="width:20%">
            <table style="border-spacing:10px;border-collapse:separate;" class="table table-condensed">
                <tr>
                    <td>
                        <input class="form-control" type="text" ng-model="$parent.couponInfo.quantity" placeholder="How many coupons?"/>
                    </td>
                </tr>
                <tr>
                    <td>    
                     <select ng-options="type for type in $parent.couponTypes" class="form-control iconField" ng-model="$parent.couponInfo.type" ng-required="true">
                          <option disabled="" selected="" value="">
                            &#xf017; Select a coupon type
                          </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input class="form-control" type="text" ng-model="$parent.couponInfo.value" placeholder="Coupon value"/>
                    </td>
                </tr>
                <tr>
                    <div ng-controller="DatePickerCtrl">
                   
                        <div class="input-group">
                            <input readonly="readonly" style="background-color:rgba(255,255,255,0.5);cursor:pointer;" class="form-control" datepicker-popup="{{format}}" ng-required="true" id="date" name="date" ng-model="couponExpiryDate.date" type="text" is-open="opened" min="minDate" max="'2021-12-31'" datepicker-options="dateOptions" ng-required="true" close-text="Close" placeholder="Coupon expiry date">
                            <span class="input-group-btn">
                              <button style="display:inline;" class="btn btn-default" ng-click="open($event)"> <i class="glyphicon glyphicon-calendar"></i>
                              </button>
                            </span>
                          </div>
                  </div>
                </tr>
            </table>

            <button style="margin-right:20px;" ng-disabled="((isLoading && (!couponQuantity || !couponValue || couponType))) || (couponType == 'monetary' && couponValue > 100)" class="btn btn-warning btn-mini pull-right" ng-click="generateCoupons()">
                    Generate coupons</button>
            </div>
        </accordion-group>
        <accordion-group heading="Coupon List" is-open="true">
                 <table class="table table-hover table-condensed table-striped">
                        <thead class="levelOne">
                            <tr>
                                
                                <th>Coupon code</th>
                                <th>Created At</th>
                                
                                <th>Id</th>
                                <th>Checked out</th>
                                <th>Random hash</th>
                                <th>Redeemed at</th>
                                
                                <th>Type</th>
                                <th>Value</th>

                            </tr>
                        </thead>
                        <tbody ng-animate="'animate'" ng-repeat="coupon in couponList track by $index | orderBy:-id">
                        <tr>    
                        </tr>
                          <tr class="clickableRow" title="Click to view items">
                            <!-- "code": "eSroS",
                                "created_at": "2014-07-21T21:54:56.017633",
                                "discount_per_store": null,
                                "dollar_amount": null,
                                "id": 1,
                                "is_checked_out": false,
                                "random_hash": null,
                                "redeemed_at": null,
                                "resource_uri": "/api/coupon/1/",
                                "type": "percentage",
                                "value": 5 -->
                            <td><span class="badge alert-success"><h4><i class="fa fa-barcode"></i>&nbsp;{{coupon.code}}</h4></span></td>
                            <td>{{coupon.created_at}}</td>
                            <td>{{coupon.id}}</td>
                            <td>{{coupon.is_checked_out}}</td>
                            <td>{{coupon.random_hash}}</td>
                            <td>{{coupon.redeemed_at}}</td>
                            <td>{{coupon.type}}</td>
                            <td>{{coupon.value}}</td>

                            
                        </tr>
                    </tbody>
                </table>
        </accordion-group>
    </accordion>
    

    </tab>
    <tab>
        <tab-heading>
             <i class="fa fa-dollar"></i>&nbsp;&nbsp;Price updates
        </tab-heading>
        <h1>Price change requests ({{priceChangeList.meta.total_count}}) <i class="fa fa-tags pull-right"></i></h1>
        <table style="font-size:115%;" class="table table-hover table-striped">
            <thead>
                <tr>
                    <th colspan="2">
                        Product
                    </th>
                    <th>
                        Old cost price
                    </th>
                    <th>
                        New cost price
                    </th>
                </tr>
            </thead>
            <tr ng-repeat="product in priceChangeList.objects" ng-if="product.cost_price < product.modified_price">

                <td>
                    <img width="100" ng-src="{{product.image_url}}"/>
                </td>
                <td>
                    {{product.name}}
                </td>
                <td>
                    {{product.cost_price | currency}}
                </td>
                <td style="color:blue;font-weight:bold;">
                    {{product.modified_price | currency}}
                </td>
                <td>
                    <a class="btn btn-success btn-mini" ng-click="approvePriceChange(product)">Approve</a>
                </td>

            </tr> 

        </table>


    </tab>
</tabset>

<hr>



