<div class="container">
<a class="back-store-button" ui-sref="admin.manageConfiguration"><i class="fa fa-chevron-circle-left"></i> Back to orders </a><h4 ng-if="orderInfo.status == 'CANCELED'" style="display:inline;padding-left:20px;color:red;"><i class="fa fa-warning"></i>&nbsp;This order is canceled</h4><br><br>

<div class="box">
    <div class="box-title">
    <table style="table-layout:fixed;width:100%">
        <tr>
            <td style="width:50%">
                <h3>
                    <i class="fa fa-barcode"></i>&nbsp;Order&nbsp;#&nbsp;{{orderInfo.order_number}}
                </h3>
            </td>
            <td style="width:50%">
                <img width="200" class="pull-right" style="opacity:0.7" ng-src="{{orderInfo.store.store_logo_url}}"/>
            </td>

        </tr>
    </table>

    </div>
    <div class="box-content">
        <div  class="overlay-generic" ng-show="isLoading"></div>
              <div  class="spinner-generic" ng-show="isLoading">
              <div class="bounce1"></div>
              <div class="bounce2"></div>
              <div class="bounce3"></div>
            </div>
        <div>   
<div class="row mb-lg">
                     <div class="col-lg-4 col-xs-6 br pv">
                        <div class="row">
                           <div class="col-md-2 text-center visible-md visible-lg">
                              <em class="fa fa-home fa-4x text-muted"></em>
                           </div>
                           <div class="col-md-10">
                           <span class="row-label">Name:</span> <strong>{{orderInfo.user.name}}</strong><br/>
                            <span class="row-label">Address:</span> {{orderInfo.shipping_address.label}} ({{orderInfo.shipping_address.street_address}}, {{orderInfo.shipping_address.postal_code}})<br/>
                             <span class="row-label">Phone: </span> {{orderInfo.phone | tel}}
                          </div>
                        </div>
                     </div>
                     <div class="col-lg-4 col-xs-6 br pv">
                        <div class="row">
                           <div class="col-md-2 text-center visible-md visible-lg">
                              <em class="fa fa-truck fa-4x text-muted"></em>
                           </div>
                           <div class="col-md-10">
                           <table>
                             <tr ng-if="orderInfo.assigned_driver != null">
                                <td><span class="row-label"> Assigned Driver:</span></td>
                                <td>
                                  {{orderInfo.assigned_driver.name}}
                                </td>
                              </tr>
                            <tr>
                              <td><span class="row-label"> Delivery Date: </span></td>
                              <td>
                                <span style="color:rgb(122,176,45);font-weight:bold;">
                                  <big>{{orderInfo.delivery_date | date}}</big>
                                </span>
                              </td>
                            </tr>
                            <tr>
                              <td><span class="row-label">Delivery Time:</span></td>
                              <td>
                                <span style="color:rgb(122,176,45);font-weight:bold;font-size:90%;">
                                  <big>{{orderInfo.deliveryTimeDisplayName}}</big>
                                </span>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <span class="row-label"> Delivery Instructions:</span>
                              </td>
                              <td>  
                                <em>{{orderInfo.delivery_instructions}}</em>
                              </td>
                            </tr>
                           </table>
                             
                         </div>
                        </div>
                     </div>
                     <div class="clearfix hidden-md hidden-lg">
                        <hr>
                     </div>
                     <div class="col-lg-4 col-xs-12 pv">
                        <div class="clearfix">
                           <p class="pull-left"><span class="row-label">Created at</span></p>
                           <p class="pull-right mr">{{orderInfo.created_at | date}}</p>
                        </div>
                        <div class="clearfix">
                           <p class="pull-left"><span class="row-label">Confirmation code</span></p>
                           <p class="pull-right mr"><code>{{orderInfo.order_confirmation_code}}</code> <i popover-placement="left" popover="You will be asked to provide this code upon delivery" popover-trigger="mouseenter" class="fa fa-question-circle"></i></p>
                        </div>
                        <div class="clearfix">
                           <p class="pull-left"><span class="row-label">Status</span></p>
                           <p class="pull-right mr"><strong>{{orderInfo.status}} <i class="fa" ng-class="orderStatusIcons[orderInfo.status]"></i></strong></p>
                        </div>
                        <div class="clearfix">
                           <p class="pull-left"><span class="row-label">GST/HST number</span></p>
                           <p class="pull-right mr">{{orderInfo.gst_hst_number}}</p>
                        </div>
                     </div>
                  </div>
        <table style="table-layout:fixed;" class="table table-responsive table-condensed table-bordered table-hover">
        <tr>    
            <th>Subtotal</th>
            <td>{{orderInfo.total_price | currency}}</td>
        </tr>
        <tr>    
            <th>Delivery Fee</th>
            <td>{{orderInfo.delivery_charge | currency}}</td>
        </tr>
        <tr>    
            <th>Tip</th>
            <td>{{orderInfo.tip | currency}}</td>
        </tr>
        <tr>    
            <th>Tax</th>
            <td>{{orderInfo.tax | currency}}</td>
        </tr>
        <tr class="warning">    
            <th><h4 class="noCaps">TOTAL</h4></th>
            <td>
              <h4 ng-if="!(orderInfo.discount > 0)" class="total-original">{{ orderInfo.totalWithTip | currency }}</h4>
              <div ng-if="orderInfo.discount > 0">
                <ul id="totals">
                    <li class="total-original">
                      <h3 ng-class="{'strikeThrough': orderInfo.discount}">{{orderInfo.totalWithTip | currency}}</h3>
                    </li>
                    <li class="amount-discount" style=" margin-top: 27px;">- {{orderInfo.discount | currency}}<small>+tax</small></li>
                    <li id="total-new"><h3>{{ orderInfo.totalWithDiscount | currency}}<h3></li>
                </ul>
              </div>
            </td>
        </tr>
         <tr class="success">    
            <th><h4 class="noCaps">TOTAL MARKUP PROFIT</h4></th>
            <td>
              <strong>{{orderInfo.totalMarkupProfit | currency}} </strong>
            </td>
        </tr>
        </table>
        <hr>
       
        <!-- <div>
            <i class="fa fa-shopping-cart fa-2x"></i>&nbsp;&nbsp;&nbsp;<h3 style="display:inline;">Your order items</h3>
            </div> -->
                   
        <table class="table table-hover table-responsive">
                      <thead>
                        <tr>
                          <th>Aisle</th>
                          <th colspan="2">Product</th>
                          
                          <th class="centered">Quantity</th>
                          <th class="centered">Price&nbsp;x Quantity</th>
                          <th class="centered">Product&nbsp;cost&nbsp;price</th>
                          <th class="centered">Profit</th>
                          <th class="centered">Brand</th>
                          <th class="centered">Status</th>
                        </tr>
                      </thead>
                      <tbody>      
                        <tr ng-class="{true: 'success', false: ''}[item.isFound]" ng-repeat="item in orderInfo.items | orderBy:'product.position_on_aisle'">
                          <td><strong>{{item.product.position_on_aisle}}</strong></td>
                          <td>
                          <div class="tint"><img src="{{item.product.image_url}}" width="88"></div>
                          </td>
                          <td>
                          {{item.product.name}} <span style="color:blue;font-weight:bold;">{{item.product.size}}</span>
                          <br/>
                          <span style="font-weight:bold;color:orange;">{{item.note}}</span>
                          </td>

                          
                          <td><span style="font-size:120%;font-weight:bolder;color:red;">x{{item.quantity}}</span></td>
                          <td>{{item.price | currency}}</td>


                          <td class="danger">
                            <div style="white-space:nowrap;" collapse="!item.editCostPrice">
                                <input placeholder="Cost price" ng-model="item.product.cost_price" class="form-control"/>
                                <input placeholder="Selling price" ng-model="item.product.price" class="form-control"/>
                                <a  class="editPhoneBtn btn btn-mini btn-success" ng-click="saveCostPrice(item)">&nbsp;<i class="fa fa-check"></i></a>
                                <a class="editPhoneBtn btn btn-mini btn-danger" ng-click="cancelCostPrice(item);item.product.cost_price=item.previousCostPrice;">&nbsp;<i  class="fa fa-times"></i></a>
                            </div>
                            <span style="font-size:110%;font-weight:bold;"  ng-if="item.product.cost_price && !item.editCostPrice">{{item.product.cost_price | currency}}</span>&nbsp;<a btn="btn-inverse btn btn-mini" ng-if="item.product.cost_price && !item.editCostPrice" ng-click="item.editCostPrice=!item.editCostPrice;item.previousCostPrice=item.product.cost_price;"><i class="fa fa-pencil-square-o"></i></a>
                          </td>
                          <td class="success"><strong>{{item.profit | currency}}</strong></td>
                          <td>{{item.product.brand_name}}</td>

                          <td> <span class="label label-default" ng-class="{'label-warning': item.status=='PENDING','label-default': item.status=='CANCELED', 'label-success': item.status=='FOUND', 'label-info': item.status=='SUBSTITUTE', 'label-default': item.status=='REFUND' }"> {{item.status}}</span></td>
                        </tr>
                      </tbody>
                    </table>
           
        
        </div>
    </div>
</div>
</div>

