<div class="out-cart">
<script>$(function(){
    
    // Enabling Popover Example 1 - HTML (content and title from html tags of element)
    $("[data-toggle=popover]").popover();

});
</script>
<!--  Default panel contents -->
<div class="unselectable" id="empty-cart" ng-if="cartItems.length < 1">

  <span id="empty-cart-msg">Your shopping cart is empty!</span> 
  <!-- TODO: Add message saying what the delivery charge will be -->
</div>
<!--  CART TODO: put this in a partial/directive -->
<div class="cart-content unselectable" ng-hide="cartItems.length < 1">

  <div ng-repeat="store in cartItemsByStore track by store.id" style="margin-top:78px;">

    <div class="cart-store-title unselectable">
    
      <!-- <h5>{{ getStoreName(store.id) }}&nbsp; -->
      <h5>
      <div class="store-title-img">
      <img class="cartStoreLogo" ng-src="{{store.store_logo_url}}" height="28px" style="padding-bottom:7px;padding-left:7px;">&nbsp;
      </div>
      <div style="display:inline-block;width:47%;">
          <span class="pull-right" style="margin-top:20px;">
            Total: {{ store.totalForStore | currency }}</span><br/>
          
            <span class="noCaps" ng-if="!store.isDeliveryFree">
              <!-- <small class="pull-right noCaps"><i class="fa fa-truck"></i>&nbsp;Delivery Fee: {{ store.delivery_fee| currency}}</small> -->
              <a ng-if="store.isDeliveryFree" href="#/productList" popover-placement="bottom" popover="Free delivery for orders over {{store.min_order_for_free_delivery | currency}}" popover-trigger="mouseenter">
              <i class="fa fa-exclamation-circle"></i></a>
          
            </span>
           
             
  
              <span class="pull-right noCaps" ng-if="store.isDeliveryFree">
                
                <small><i class="fa fa-truck"></i>&nbsp;<em>Free delivery!</em></small>
          
            </span>
            </div>
        </h5>
    </div>

    <div style="text-align:center;" class="store-min-msg" ng-if="!store.hasReachedMinOrderForStore"><i class="fa fa-shopping-cart pull-left" style="padding-left:3px;padding-top:3px;"></i>Spend at least  {{store.minimum_order | currency}} to check out</div>

    <!-- <div class="progress unselectable" ng-hide="store.isDeliveryFree">

 <progressbar  type="warning" animate="false" max="store.min_order_for_free_delivery" value="store.totalForStore"><span class="progress-desc"><em>Add {{ store.differenceAmountForFreeDelivery | currency}} for free delivery</em></span></progressbar>

</div> -->
          <div animate remove="remove($index)" class="cart-store-items cartListItem" ng-repeat="item in store.cartItems track by $index">
            <div tooltip-append-to-body="true" tooltip-html-unsafe="<img style='opacity:0.92;' width=185 src='{{item.product.image_url}}'/>" tooltip-placement="left" class="cart-store-items-content">
              <div class="pull-left">
              <div class="item-quantity">{{item.quantity}}</div>
             
                <button class="btn btn-warning btn-xs cartMinusBtn" ng-disabled="item.quantity < 2" ng-click="decreaseItemQuantity(item)">
                  <span class="glyphicon glyphicon-minus-sign"></span>
                </button>
            <div class="tint" ng-controller="ProductDetailModalCtrl" ng-click="viewProduct(item.product)">
              <img src="{{item.product.image_url}}" width="36" height="36">
            </div>

            <button class="btn btn-success btn-xs cartPlusBtn" ng-click="increaseItemQuantity(item)"> <span class="glyphicon glyphicon-plus-sign"></span></button>
            </div>

            <div class="pull-right item-desc-box">
              <div class="item-desc" ng-controller="ProductDetailModalCtrl" ng-click="viewProduct(item.product)">{{item.product.name}} </div>
            <div class="item-size">{{item.product.size}}</div>
              <!-- <div class="item-price">{{item.product.price * item.quantity | currency}}</div> -->
                  <span  ng-click="removeCartItem(item)" class="remove-item glyphicon glyphicon-remove-circle"></span>
                
            
            </div>
              <div style="display:block;clear:both;"></div>

            <div style="padding-top:5px;" ng-if="!item.addingNote && !item.note.length">
              <i class="fa fa-comment-o"></i>&nbsp;<a href="" ng-click="item.addingNote = true;"><strong>Add note</strong></a>
              <span style="font-weight:bold;" class="pull-right">{{item.product.price * item.quantity | currency}}</span>
            </div>
            <div collapse="!item.addingNote">
              <textarea autofocus style="width:100%px;margin-top:5px;" placeholder="Instructions to the shopper" class="form-control" ng-model="item.note"></textarea>
              <div style="margin-top:5px;">
                <span><button style="border-radius:15px;" class="cartPlusBtn btn btn-info btn-mini" ng-click="saveAddNote(item)">Save</button></span>
                <span><button style="border-radius:15px; margin-bottom: 10px;" class="cartPlusBtn btn btn-danger btn-mini" ng-click="cancelAddNote(item);item.note=item.previousNote;">Cancel</button></span>
              </div>
            </div>
            <div style="margin-top: 10px;" ng-if="item.note && !item.addingNote" ng-click="item.addingNote=!item.addingNote;item.previousNote=item.note;">
              <i class="fa fa-comment"></i><em>&nbsp;{{item.note}}</em>
            </div>
            </div>
          </div>
    </div>
    
      </div>

    <div id="fixed-push"></div>
    </div>
    </div>
    <div id="fixed-totals" ng-if="cartItems.length>0" ng-init="initializeJQuery()">

    <div id="cart-totals">
            <div id="totals-toggler"></div>
          <div id="subtotals">
          <div ng-if="false" class="total-calc">
            <strong>Delivery fees</strong>
            <span ng-if="totalDeliveryFee>0" class="totals-price"> {{totalDeliveryFee | currency}}
            
            </span>
            <span ng-if="totalDeliveryFee==0 || !hasStoreInCartUnderMinimumForFreeDelivery" class="totals-price">
            <span class="label label-info">Free!</span> 
            </span>
      
          <!-- &nbsp;&nbsp;<a ng-if="totalDeliveryFee>0" href="#/productList" popover-placement="top" popover="Check free delivery minimums for stores in your cart" popover-trigger="mouseenter">want it free&nbsp;<i class="fa fa-question-circle"></i></a> -->
          </div>
          
          <div class="total-calc">
            <strong>Subtotal</strong>
            <span class="totals-price"> {{subtotal | currency}}</span>
          </div>
          <div class="total-calc">
           <strong>Tax</strong>
           <span class="totals-price"> {{totalTax | currency}}</span>
          </div>
        </div>
          <div class="total-calc" id="total">
           <strong>Total</strong>
          <span class="totals-price"> {{total | currency}}</span>
          </div>
        </div>
        <div>
        <div ng-if="cartItems.length > 0" id="cart-checkout"><button ng-disabled="!cartConditionsSatisfied" ng-click="checkout()" class="btn btn-success btn-checkout"><span style="font-size:150%">Checkout&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-chevron-circle-right"></i></span></button></div>
    </div>
    
    </div>
    </div>

