<div>
	<form class="passwdChangeForm" ng-controller="resetPasswdCtrl" ng-submit="change()">
		<fieldset >
			<div class="control-group">
				<label for="focusedInput" class="control-label">Current Password</label>
				<div class="controls">
				<input type="password" placeholder="Change password" ng-model="currentPassword" class="input-xlarge focused">
				</div>
			</div>
			<div class="control-group">
				<label for="focusedInput" class="control-label">New Password</label>
				<div class="controls">
				<input type="password" placeholder="New password" ng-model="newPasswd" class="input-xlarge focused">
				</div>
			</div>
			<div class="control-group">
				<label for="focusedInput" class="control-label">Confirm Password</label>
				<div class="controls">
				<input type="password" placeholder="Confirm Password" ng-model="confPasswd" class="input-xlarge focused">
				</div>
			</div>
			


			<button class="btn btn-primary pull-right" type="submit" >Submit</button>
		</fieldset>
	</form>
</div>