<div style="margin-top:-50px;" class="container">
  <a class="back-store-button" href back-button><i class="fa fa-chevron-circle-left"></i>&nbsp;Continue Shopping&nbsp;</a><br><br>
  <div class="box">
    <div class="box-title">
      <h3><i class="fa fa-shopping-cart"></i> Checkout</h3>
      <!-- {{discountData | json}} -->
    <!-- <div class="pull-right">
      <ul id="totals">
        <li class="total-original"><h3 ng-class="{'strikeThrough': discountData}">{{total + totalDeliveryFee | currency}}<h3></li>
        <li ng-show="discountData" class="amount-discount">- {{discountData.dollar_amount?discountData.dollar_amount:discount | currency}}</li>
        <li ng-show="discountData" id="total-new"><h3>{{total - (discountData.dollar_amount?discountData.dollar_amount:discount) + totalDeliveryFee | currency}}<h3></li>
      </ul>
    </div> -->
  </div>
  <div class="box-content row" id="checkout-box-content">
    <div class="wizard col-md-6 col-md-offset-2">
      <div  class="overlay-generic" ng-show="isLoading"></div>
      <div  class="spinner-generic" ng-show="isLoading">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
      <div id="checkoutWizard">
        <div class="navbar">
          <div class="navbar-inner">

            <ul class="wizard-steps" style="padding-left:35px;">
              <li>

                <a href="checkout#tab0" class="big-ish step-link no-click" data-toggle="tab">
                  <i class="fa fa-home"></i>&nbsp;&nbsp;&nbsp;Address
                </a>

              </li>
              <li>

                <a href="checkout#tab1"  class="big-ish step-link no-click" data-toggle="tab">
                  <i class="fa fa-truck"></i>&nbsp;&nbsp;&nbsp;Delivery
                </a>

              </li>
            </ul>

          </div>
        </div>
        <div class="tab-content">

          <div class="tab-pane" id="tab0">

            <form id="AddressForm" role="form"   name="AddressForm" novalidate >

              <div ng-controller="AddressModalCtrl">
                <button ng-show="ownAddresses.length < 1" ng-click="open()" id="emptyaddressbtn"class="btn btn-primary emptyroundedbtn">
                  <span class="glyphicon glyphicon-plus" ></span><br>
                  Add Address
                </button>

                <div class="outer-bg" ng-show="ownAddresses.length > 0"> <div class="surround-bg" ng-show="ownAddresses.length > 0"> <button ng-show="ownAddresses.length > 0" ng-click="open()" id="addaddressbtn" class="btn btn-primary roundedbtn" popover-placement="left" popover="Add Address" popover-trigger="mouseenter">
                  <span class="glyphicon glyphicon-plus" ></span>
                </button></div>

                <div class="accordion-panel panel-group">
                  <div class="panel panel-default" ng-repeat="address in ownAddresses track by $index">
                    <div class="panel-heading">

                      <div class="radio" data-toggle="collapse" data-target="#collapsePanel{{$index}}" data-parent="#accordion-panel">
                        <label  for="address-choose{{$index}}" class="address-label">
                          <input type="radio" checked="chosenAddress.id==address.id" name="optionsRadios" ng-model="chosenAddress.id" ng-value="address.id" ng-change="saveAddress()" required id="address-choose{{$index}}">
                          <span class="address-label"><i class="fa fa-home"></i>&nbsp;{{address.label}}&nbsp;&nbsp;&nbsp;<span style="color:gray;opacity:0.8">{{address.street_address}}</span></span>

                        </label>
                      </div>

                      <span ng-click="deleteShippingAddress(address)" class="accordion-pull-right glyphicon glyphicon-remove-circle"></span>
                      <span ng-click="deleteShippingAddress(address)" class="accordion-pull-right glyphicon glyphicon-remove-circle"></span>

                    </div>
                    <div id="collapsePanel{{$index}}" class="collapse">
                      <div class="panel-body">
                        {{address.street_address}}
                        <br/>
                        {{address.apt_number}}
                        <br/>
                        {{address.postal_code}}
                        <br/>
                        <br/> <i>{{address.note}}</i>
                        <br/>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <ul class="pager wizard">
              <li class="previous first" style="display:none;">
                <a href="">First</a>
              </li>
              <li class="previous">
                <a href="">Previous</a>
              </li>

              <li class="next last" style="display:none;">
                <a href="">Last</a>
              </li>

              <li class="next" ng-class="{'disabled-link': ownAddresses.length < 1 || AddressForm.$invalid || !chosenAddress.id}" >
                <a href="">Next</a>
              </li>
            </ul>

          </form>

        </div>

        <div class="tab-pane" id="tab1">
         <div class="outer-bg">
          <form class="form-horizantal" id="deliveryForm" role="form" name="deliveryForm" novalidate>
            <div class="form-group">
              <label for="phone" class="control-label required">Phone</label>
              <div class="row">
                <div class="col-md-5">
                  <div class="left-inner-addon">
                   <i class="fa fa-mobile"></i>
                   <script>
                      jQuery(function($){
                        $("#phone").mask("(999) 999-9999? x99999");
                      });
                   </script>
                   <input style="width:200px;" only-digits ng-minlength="10" ng-maxlength="15" class="form-control iconField" ng-required="true" id="phone" name="phone" ng-model="phone" type="tel" placeholder="Have your phone handy" focus ng-change="savePhoneNumber()">
                 </div>
                 <div class="error" ng-if="deliveryForm.phone.$dirty && deliveryForm.phone.$invalid && !deliveryForm.phone.$focused && phone.length">
                  <small class="error" ng-if="deliveryForm.phone.$error && phone.length">Your phone number must be less than 15 digits</small>
                </div>
              </div>
            </div>

          <div class="form-group ">
            <label for="instruction" class="control-label">Delivery Instructions</label>
            <div class="row">
              <div class="col-md-5">
                <textarea class="form-control iconField"  id="instruction" name="instruction" ng-model="deliveryInstructions" type="text" placeholder="Call me when you arrive" ng-change="saveInstructions()"></textarea></div>
              </div>
            </div>

            <div class="form-group ">
              <label for="tip" class="control-label">Tip</label>
              <div class="row">
                
                <div class="col-md-12">
                  <div class="btn-group">
                      <label class="btn btn-success chosenTip" ng-class="{'veryFaded' : tipPercentage!=10}" ng-model="tipPercentage" btn-radio="10" ng-click="customTip=false;animateTip();">10%</label>
                      <label class="btn btn-success chosenTip" ng-class="{'veryFaded' : tipPercentage!=15}"ng-model="tipPercentage" btn-radio="15" ng-click="customTip=false;animateTip();">15%</label>
                      <label class="btn btn-success chosenTip" ng-class="{'veryFaded' : tipPercentage!=20}"ng-model="tipPercentage" btn-radio="20" ng-click="customTip=false;animateTip();">20%</label>
                      <label class="btn btn-success chosenTip" ng-class="{'veryFaded' : tipPercentage!=25}"ng-model="tipPercentage" btn-radio="25" ng-click="customTip=false;animateTip();">25%</label>
                      <label class="btn btn-info" ng-class="{'faded' : tipPercentage!='custom'}" ng-model="tipPercentage" btn-radio="'custom'" ng-click="customizeTip()">Custom</label>
                  </div>
                  <p>
                  <span ng-show="tip>0 || true" style="font-weight:bold;color:rgb(122,176,45);opacity:0.8">A nice way to thank your amazing shopper!</span>
                  </p>
                  <div class="left-inner-addon" style="white-space:nowrap;" collapse="!customTip">
                    <i class="fa fa-usd"></i>
                         <input style="width:100px;" class="form-control iconField" id="tip" name="tip" ng-model="tipString" type="text" placeholder=":-)" ng-change="saveTip();animateTip();">

                  </div>


                 </div>
               </div>
             </div>
                <div ng-hide="discountData.discount || isFirstOrder" class="form-group" id="coupon-section">
                         <div class="left-inner-addon">
                          <i class="fa fa-tag"></i>
                          <input ng-model="couponCode" style="width:150px;display:inline;" class="form-control iconField" name="instruction" type="text" placeholder="Coupon code"/>
                        </div>
                        <button ng-disabled="isLoading || !couponCode" ng-click="applyCoupon(couponCode)"  class="btn btn-warning">
                          Apply coupon
                        </button>
                    </div>
             <hr>
             <!-- Split by store -->
             <table class="table-condensed table-hover" id="split-stores">
              <tr ng-repeat="store in cartItemsByStore">
                <td>
                  <img ng-src="{{store.store_logo_url}}" width="90" style="padding-top:10px;padding-right:10px;"/>
                </td>
                <td>

                  <table>
                      <tr>
                        <td>
                          <label for="date" class="control-label required">Delivery day</label>
                          <button style="height:30px;" ng-click="today(store.id)" class="btn btn-success btn-mini pull-right">Today</button>
                        </td>
                        <td ng-class="{'faded' : deliveryDate[store.id] == null}" style="padding-left:15px;">
                          <label for="time" class="control-label required">Delivery time</label>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div ng-controller="DatePickerCtrl">
                          <div class="input-group">
                            <input readonly="readonly" style="background-color:rgba(255,255,255,0.5);cursor:pointer;" class="form-control" datepicker-popup="{{format}}" ng-required="true" id="date" name="date" ng-model="deliveryDate[store.id]" type="text" is-open="opened" min="minDate" max="'2021-12-31'" datepicker-options="dateOptions" ng-required="true" close-text="Close" ng-change="updateAvailableTimeslots(store.id);updateTaxAndDeliveryFee();" placeholder="Choose a day">
                            <span class="input-group-btn">
                              <button style="display:inline;" class="btn btn-default" ng-click="open($event)"> <i class="glyphicon glyphicon-calendar"></i>
                              </button>
                            </span>
                            </div>
                          </div>
                        </td>
                        <td ng-class="{'faded' : deliveryDate[store.id] == null}" style="padding-left:15px;"> 

                          <h6 style="color:red;" ng-hide="((deliveryDate[store.id] && hasAtLeastOneAvailableTimeslot(store.id)) || !timeslots[store.id] || !deliveryDate[store.id]) && (!noDeliveryTimeAvailableForStore[store.id])">No delivery time available for this day. Try another day.
                          </h6>

                          <h6 style="color:green;" ng-if="(!deliveryDate[store.id])">    
                            <big>Choose a time</big>
                          </h6>

                          <select ng-if="deliveryDate[store.id] && hasAtLeastOneAvailableTimeslot(store.id)" name="timeslot" class="form-control iconField" ng-model="deliveryTime[store.id]" ng-change="didPickTimeslotForStore(deliveryTime[store.id],store.id)" required id="delivery-time-drop">
                            <option disabled="" selected="" value="">
                              &#xf017; Select a timeslot
                            </option>
                            <option ng-repeat="option in $parent.timeslots[store.id] track by $index" ng-show="option.time.available">
                              {{option.time.display_name}}
                            </option>
                          </select>

                        </td>
                      </tr>
                </table>

              </td>
          </tr>
        </table>
          <!-- phone: {{phone}}
          deliveryDate: {{deliveryDate | json}}
          deliveryTime: {{deliveryTime | json}} -->

        </form>
      <!-- </div> -->
          <ul class="pager wizard">
              <li class="previous first" style="display:none;">
                <a href="">First</a>
              </li>
              <li class="previous">
                <a href="">Previous</a>
              </li>
              <li class="next last" style="display:none;">
                <a href="">Last</a>
              </li>
              <!-- deliveryForm.$invalid && deliveryForm.timeslot.$error.required ||  -->
              <li class="next" ng-class="{'disabled-link': !phone || !hasChosenDeliveryDateAndTime()}" >
                <!-- <a href="">Next</a> -->
                  <button id="stripe-button" ng-click="didClickComplete()" type="submit" class="stripe-button-el pull-right" style="visibility: visible;"><span style="display: block; min-height: 30px;">Complete order&nbsp;<i class="fa fa-credit-card"></i></span></button>
                    </li>
                </ul>
            </div>

          </div>

      </div>

  </div>
</div>
</div>
                <div ng-if="(isFirstOrder && !hasNotChosenDeliveryTime() && !hasNotChosenDeliveryDate() && !discountData.discount)" class="bs-callout bs-callout-warning col-md-4" style="text-align:center;padding-bottom:15px;" id="coupon-section">
                  <h5>Your first delivery is on us! Enter the code <span class="badge alert-success"><i class="fa fa-barcode"></i>&nbsp;<big>FREE</big></span>&nbsp;in the box below</h5>
                   <div class="left-inner-addon">
                    <i class="fa fa-truck"></i>
                    <input ng-model="freeDeliveryCouponCode" style="width:210px;display:inline;" class="form-control iconField" name="instruction" type="text" placeholder="Claim your free delivery"/>
                  </div>
                  <button ng-disabled="isLoading || !freeDeliveryCouponCode" ng-click="applyCoupon(freeDeliveryCouponCode);"  class="btn btn-warning">
                    Apply coupon
                  </button>
                </div>

          <div id="total-breakdown" class="col-md-4">
                  <div class="row text-center" id="total-breakdown-top">
                    <div class="col-xs-12">
                      <h3 id="total-no-discount" ng-show="!discountData.discount" class="shrink">
                        {{subtotal + totalTax + tip + totalDeliveryFee | currency}}<br><small>TOTAL</small>
                      </h3>

                      <ul id="totals" ng-if="discountData.discount">

                        <li class="total-original">
                          <h3 class="shrink strikeThrough">
                            {{subtotal + totalTax + tip + (totalDeliveryFee?totalDeliveryFee:originalDeliveryFee) + discount_tax_deduction | currency}}
                          </h3>
                        </li>

                        <li class="amount-discount">
                          - {{discountData.dollar_amount?discountData.dollar_amount:discount | currency}}<small>+tax</small>
                        </li>

                        <li  id="total-new">
                          <h3 class="shrink">
                            {{subtotal + totalTax + tip - (discountData.dollar_amount?discountData.dollar_amount:discount) + originalDeliveryFee | currency}}
                            <br><small>TOTAL</small>
                          </h3>
                        </li>

                      </ul>

                    </div>
                    <img width="50" class="pull-right" style="display:inline;margin-top:-50px;margin-right:17px;" ng-class="{ true:'veryFaded', false:'kindOfFaded'} [discountData]" src="/static/img/small_logo.png"/>
                  </div>

                  <div style="text-align:center;" class="row row-centered" id="total-breakdown-bottom">

                    <div ng-class="{'faded': !tip || tip < 0 || tip == 0}" class="col-xs-3 col-centered">
                      <h5 class="text-center"><span id="tipAmount">{{tip || tip > 0?tip:0 | currency}}</span><br><small>TIP</small></h5>
                    </div>

                    <div class="col-xs-3 col-centered">
                      <h5 class="text-center">{{subtotal | currency}}<br><small>SUBTOTAL</small></h5>
                    </div>

                    <div class="col-xs-3 col-centered">
                      <h5 class="text-center">{{totalTax | currency}}<br><small>TAX</small></h5>
                    </div>

                    <div ng-class="{'faded': !totalDeliveryFee || totalDeliveryFee < 0}" class="col-xs-3 col-centered">
                      <h5 class="text-center">
                        {{totalDeliveryFee || totalDeliveryFee > 0 ?totalDeliveryFee:0 | currency}}
                        <br><small>DELIVERY
                      </h5>
                    </div>

                  </div>

          </div>
<!-- END TABS -->


<!-- FIRST TIME DELIVERY ONLY, Delivery is free -->



              <script src="/static/js/jquery.bootstrap.wizard.js" type="text/javascript"></script>
              <script src="/static/js/input.js" type="text/javascript"></script>
