<a style="display:inline-block;margin-left:30px;" ng-href="#{{defaultHomePath}}">
        <img src="/static/img/store-logo.png" />
      </a>
      <hr>
<div style="margin:20px 100px 0 100px">

            <div style="text-align:center;">
              <a ng-href="#/driverdashboard" class="btn btn-warning pull-left"><i class="fa fa-long-arrow-left"></i><small>&nbsp;&nbsp;Back to orders</small></a><h1 style="display:inline;">&nbsp;&nbsp;&nbsp;Driver Order # {{thisOrder.order_number}} <i class="fa fa-barcode pull-right fa-2x"></i></h1>
            </div>
              <table class="table table-responsive centered">
                      <thead>
                        <tr>
                          <th class="centered">Product</th>
                          <th class="centered">Actions</th>
                          <th class="centered">Quantity</th>
                          <th class="centered">Price</th>
                          <th class="centered">Aisle name</th>
                          <th class="centered">Aisle number</th>
                          <th class="centered">Aisle position</th>
                          <th class="centered">Brand</th>
                          <th class="centered">Department</th>
                          <th class="centered">Description</th>
                          <th class="centered">Status</th>
                          <th class="centered">Note</th>
                        </tr>
                      </thead>
                      <tbody>      
                        <tr ng-class="{true: 'success', false: ''}[item.isFound]" ng-repeat="item in thisOrder.items track by $index">
                          <td>
                          <h5>{{item.product.name}}</h5><br/><img src="{{item.product.image_url}}" width="130">
                          </td>
                          
                          <td style="text-align:center;">
                          <div class="btn-group-vertical">
                            <!-- FOUND BUTTON -->
                            <a ng-hide="item.didRefund || item.didSubstitute" class="btn pull-right" ng-class="{true: 'btn-success', false: 'btn-danger'}[item.isFound]" ng-click="item.isFound = !item.isFound;toggleFound(item);">
                              {{item.isFound && 'FOUND ' || 'FOUND '}}
                              <i class="fa" ng-class="{true: 'fa-check-square', false: 'fa-square-o'}[item.isFound]"></i>
                            </a>
                            <!-- SUBSTITUTE BUTTON -->
                            <a style="margin-top:10px;" ng-hide="item.didRefund || item.isFound" class="btn pull-right" ng-class="{true: '', false: 'btn-info'}[item.didSubstitute]" ng-click="item.didSubstitute = !item.didSubstitute;toggleSubstitute(item);">
                              {{item.didSubstitute && 'SUBSTITUTED' || 'SUBSTITUTE'}}
                              <i class="fa" ng-class="{true: 'fa-check', false: 'fa-repeat'}[item.didSubstitute]"></i>
                            </a>
                            <!-- REFUND BUTTON -->
                            <a style="margin-top:10px;" ng-hide="item.isFound  || item.didSubstitute" class="btn pull-right" ng-class="{true: '', false: 'btn-primary'}[item.didRefund]" ng-click="confirmRefund(item);">
                              {{item.didRefund && 'Refunded' || 'Refund'}}
                              <i class="fa" ng-class="{true: 'fa-reply fa-2x', false: 'fa-question-circle'}[item.didRefund]"></i>
                            </a>
                          </div>
                            
                            
                          </td>
                          
                          <td>{{item.quantity}}</td>
                          <td>{{$parent.isDriver?item.product.cost_price:item.price | currency}}</td>
                          <td>{{item.product.aisle.aisle_name}}</td>
                          <td>{{item.product.aisle.store_aisle_number}}</td>
                          <td>{{item.product.position_on_aisle}}</td>
                          <td>{{item.product.brand_name}}</td>
                          <td>{{item.product.department.department_name}}</td>
                          <td>{{item.product.description}}</td>
                          <td style="text-align:center;" ng-class="{true: 'warning', false: ''}[item.didSubstitute]">
                            <strong>
                              <p><h4>{{item.status}}</h4></p>
                              <i class="fa fa-3x" ng-class="orderStatusIcons[item.status]"></i>
                            </strong>
                          </td>
                          <td>
                            <span style="font-size:20px;"><em><i class="fa fa-comment"></i>&nbsp;&nbsp;{{item.note}}</em></span>
                          </td> 
                          <!-- TODO: make status field a dropdown -->
                        </tr>
                      </tbody>
                    </table>
            </div>

  </div>