<a style="display:inline-block;margin-left:30px;" ng-href="#{{defaultHomePath}}">
        <img src="/static/img/store-logo.png" />
      </a>
      <hr>
<div style="margin:0px 100px 0px 100px;text-align:center;display:block;">
    <div>
        <h1>Orders assigned to me <i class="fa fa-truck pull-right"></i></h1>
    </div>
                <div style="margin-left:20px;">
                    <table class="table-hover table-condensed table-striped table-responsive">
                        <thead class="levelOne">
                            <tr>
                                <th>Order number</th>
                                <th>Date</th>
                                <th>Delivery time</th>
                                <th>Address</th>

                                <th>Total price</th>
                                <th>Phone</th>
                                <th>Delivery instructions</th>

                                <th>Status</th>
                                <th>Confirmation code</th>
                                <th>Tip</th>
                                


                            </tr>
                        </thead>
                        <tbody data-ng-repeat="order in ordersAssigned2me track by $index">
                          <tr class="clickableRow" title="Click to view items">
                            <td><strong>{{order.order_number}}</strong></td>
                            <td>{{order.delivery_date}}</td>
                            <td>{{order.delivery_time.display_name}}</td>
                            <td>{{order.shipping_address.label}} ({{order.shipping_address.street_address}}, {{order.shipping_address.postal_code}})</td>

                            <td>{{$parent.getTotalCostPrice(order) | currency}}</td>
                            <td>{{order.phone}}</td>
                            <td>{{order.delivery_instructions}}</td>

                            <td>{{order.status}}</td>
                            <td>{{order.order_confirmation_code}}</td>
                            <td><strong>{{order.tip | currency}}</strong></td>
                            <td>
                                <a class="btn btn-info btn-mini pull-right" ng-href="#/driver/order/{{order.order_number}}">
                                    View items
                                </a>
                            </td>

                        </tr>
                    </tbody>
                </table>
                <!-- END TABLE -->
            </div>
        </div>

