<div>
	<form class="myForm" ng-controller="driverRegisterCtrl">
		<fieldset >
			<div class="control-group">
				<label for="focusedInput" class="control-label">First Name</label>
				<div class="controls">
				<input type="text" placeholder="First name" ng-model="fname" id="fname" class="input-xlarge focused">
				</div>
			</div>
			<div class="control-group">
				<label for="focusedInput" class="control-label">Last Name</label>
				<div class="controls">
				<input type="text" placeholder="Last Name" ng-model="lname" id="lname" class="input-xlarge focused">
				</div>
			</div>
			<div class="control-group">
				<label for="focusedInput" class="control-label">Email</label>
				<div class="controls">
				<input type="text" placeholder="Email" ng-model="email" id="email" class="input-xlarge focused">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">Phone</label>
				<div class="controls">
				<input type="text" placeholder="phone number" ng-model="phone" id="phone" class="input-xlarge">
				</div>
			</div>
			<div>
				<input type="checkbox" ng-model="above_18"> 18+
			</div>
			<div>
				<input type="checkbox" value="suspended_licence" ng-model="suspended_licence">Any license suspension
			</div>
			<div>
				<select ng-model="hours">
				  <option value="5">0-5</option>
				  <option value="10">5-10</option>
				  <option value="20">10-20</option>
				  <option value="30">20-30</option>
				  <option value="40">30-40</option>
				  <option value="40+">40+</option>
				</select>
			</div>

			<div>
				<input type="checkbox" value="monday" ng-model="monday">Monday
			</div>
			<div>
				<input type="checkbox" value="tuesday" ng-model="tuesday">Tuesday
			</div>
			<div>
				<input type="checkbox" value="wednesday" ng-model="wednesday">Wednesday
			</div>
			<div>
				<input type="checkbox" value="thursday" ng-model="thursday">Thursday
			</div>
			<div>
				<input type="checkbox" value="friday" ng-model="friday">Friday
			</div>
			<div>
				<input type="checkbox" value="saturday" ng-model="saturday">Saturday
			</div>
			<div>
				<input type="checkbox" value="sunday" ng-model="sunday">Sunday
			</div>


			<button class="btn btn-primary pull-right" type="submit" ng-click="register()">Register</button>
		</fieldset>
	</form>
</div>