<div class="container">
   <a class="back-store-button" href back-button><i class="fa fa-chevron-circle-left"></i> Back </a><br><br>
      <div class="box">
        <div class="box-title">
            <h3><i class="fa fa-question-circle"></i> Frequently Asked Questions

            </h3>
        </div>
        <div class="box-content">
            <div  class="overlay-generic" ng-show="isLoading"></div>
              <div  class="spinner-generic" ng-show="isLoading">
              <div class="bounce1"></div>
              <div class="bounce2"></div>
              <div class="bounce3"></div>
            </div>
            <div class="tabbable tabs-left">
              <div class="row">
                  <div class="col-md-3">
                  
                    <ul class="nav nav-pills nav-stacked">
                    <h3>About Smartkart</h3>
                      <li>
                        <a href="#/info/faq#whatis">What is Smartkart?</a>
                      </li>

                      <li>
                        <a href="#/info/faq#hours">What are your hours of operation?</a>
                      </li>

                      <li>
                        <a href="#/info/faq#stores">What stores are supported?</a>
                      </li>

                      <li>
                        <a href="#/info/faq#deliveryarea">Do you deliver in my area?</a>
                      </li>

                      <li>
                        <a href="#/info/faq#deliverycost">How much is delivery?</a>
                      </li>
                      <h3>Personal Shoppers</h3>
                      <li>
                        <a href="#/info/faq#whowilldeliver">Who will deliver my order?</a>
                      </li>
                      <li>
                        <a href="#/info/faq#tipshopper">Am I obligated to tip the shoppers?</a>
                      </li>

                      <h3>About our products</h3>
                      <li>
                        <a href="#/info/faq#produce">How can I be sure of the quality of the produce?</a>
                      </li>
                      <li>
                        <a href="#/info/faq#pricediff">Are these products priced different from prices in the store?</a>
                      </li>
                      <!-- <li>
                        <a href="#/info/faq#alcpricediff">Are your alcohol prices different from the store?</a>
                      </li> -->

                      <h3>About your order</h3>
                      <li>
                        <a href="#/info/faq#outofstock">What happens if my item is out of stock?</a>
                      </li>
                      <li>
                        <a href="#/info/faq#cancel">When can I cancel my order?</a>
                      </li>
                      <li>
                        <a href="#/info/faq#latecancel">What if I have to cancel my order when it's already on the way?</a>
                      </li>
                      <li>
                        <a href="#/info/faq#refundtime">When will I receive my refund?</a>
                      </li>
                      <li>
                        <a href="#/info/faq#receipt">Where can I see my receipts?</a>
                      </li>

                        <a href="#/info/faq#contact"><h4>Connect with us</h4></a>




                    </ul>
                  </div>
                  <div class="col-md-8">
                    <div class="tab-content">
                       <div id="whatis">
                        <h3>What is <img style="display:inline;" src="/static/img/smartkart-final-logo.png" width="150"/>&nbsp;?</h3>
                        <p>
                          Groceries 2.0! Smartkart is Canada’s fastest on-demand grocery delivery service. We offer products from the grocery stores you love and let you order from the comfort of your home or office.  We are pioneering the new way to do your grocery shopping - the <em>easy</em> way. Smartkart connects you with a personal shopper in your area who will pick up your groceries and deliver them to your doorstep.
                        </p>

                       </div>
                       <div id="hours">
                         <h3>What are your hours of operation?</h3>
                          <p>
                            We deliver from 10am to 11pm every day including weekends. Hours may vary based on local store hours. On holidays, our delivery hours are subject to store holiday hours. 
                          </p>

                       </div>
                       <div id="stores">
                         <h3>What stores are supported?</h3>
                          <p>
                            We deliver in Ottawa from Loblaws, Costco, LCBO and the Beer Store.  We are expanding to Montreal and Toronto in 2015. Stay tuned for updates! 
                          </p>

                       </div>
                       <div id="deliveryarea">
                         <h3>Do you deliver to my area?</h3>
                          <p>
                            Yes! Our delivery zones cover the whole Ottawa-Gatineau Metropolitan area.
                          </p>

                       </div>
                       <div id="deliverycost">
                         <h3>How much is delivery?</h3>
                          <p>
                            We charge a flat rate of <strong>$4.99</strong> for delivery within 3 hours and <strong>$7.99</strong> for under 2 hours.  You may choose to have your items delivered the same day you place the order or any day thereafter.
                          </p>

                       </div>

                       <div id="whowilldeliver">
                         <h3>Who will deliver my order?</h3>
                          <p>
                            We have hired personal shoppers to deliver your products. Don’t worry, they have been individually trained and background checked. Our shoppers are trained to pick the best produce and will carefully and accurately make your purchase, pack your items and deliver them.
                          </p>

                       </div>

                       <div id="tipshopper">
                         <h3>Am I obligated to tip the shoppers?</h3>
                          <p>
                            Tips are not required, but shoppers appreciate recognition of their work!  They receive the entire amount of your tip. Tips can either be made in person or on the website when you check out.
                          </p>

                       </div>
                       <div id="produce">
                         <h3>How can I be sure of the quality of the produce?</h3>
                          <p>
                            Shoppers are individually trained and tasked with picking the freshest fruits and vegetables for you. You can add a note to any item to specify the ripeness or any special instructions for that item.  
                          </p>

                       </div>
                       <div id="pricediff">
                         <h3>Are these products priced different from prices in the store?</h3>
                          <p>
                            Yes, the prices may be different as these are our own prices and they may vary between stores.  
                          </p>

                       </div>
                       <!-- <div id="alcpricediff">
                         <h3>Are your alcohol prices different from the store?</h3>
                          <p>
                            No, but we add a delivery fee to the store’s price for each item you purchase. This is why the prices show on the website appear to be higher than those in the store.
                          </p>

                       </div> -->

                       <div id="outofstock">
                         <h3>What happens if my item is out of stock?</h3>
                          <p>
                            Shoppers will try their best to replace the item with something similar of equal or lesser value.  The shopper may call you to confirm the replacement item.
                          </p>

                       </div>

                       <div id="cancel">
                         <h3>When can I cancel my order?</h3>
                          <p>
                            You may cancel your order before the shopper purchases the items, usually within an hour or two of placing the order. If the order is not out for delivery or in the process of being shopped for, we will give you a full refund.
                          </p>

                       </div>

                       <div id="latecancel">
                         <h3>What if I have to cancel my order when it's already on the way?</h3>
                          <p>
                            If we cannot reach you at the time of delivery, the order will be cancelled and we may charge a $10 cancellation fee.
                          </p>

                       </div>

                       <div id="refundtime">
                         <h3>When will I receive my refund?</h3>
                          <p>
                            Refunds may take between 5 to 7 business days to process. 
                          </p>

                       </div>

                       <div id="receipt">
                         <h3>Where can I see my receipts?</h3>
                          <p>
                            You can view your receipts one of two ways:
                            <ol>
                              <li><strong>Email</strong>: When your order is placed, you will receive an email with a receipt.  </li>
                              <li><strong>From your account</strong>: on the website hover over your name in the top right hand corner and a menu will appear. Select <em>My Orders</em>. Click on an order number to see a detailed receipt for that order.</li>
                            </ol>
                          </p>

                       </div>

                       <div id="contact">
                         <h3>Feel free to contact us at any time!</h3>
                          <p>
                            We would love to hear about any problems or questions you may have. If you have suggestions or comments we would love to hear them as well!

                  <p><a href="mailto:help@smartkart.ca">help@smartkart.ca</a></p>  
                  <li><div class="item-icon"><i class="fa fa-phone"></i> </div>+1 (844) 843-8765</li>
                          </p>

                       </div>

                      </div>
                    </div>
                </div>
              </div>
              <div class="clear"></div>
            </div>
            </div>
</div>