<header id="landingTop">
                <nav class="navbar navbar-default navbar-fixed-top padder" role="navigation">

                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                       <img style="margin-top:5px;padding-right:8px;" src="/static/img/smartkart-final-logo.png" width="215" />
                       <img style="display:inline;opacity:0.6;margin-left:-8px;" width="40" src="https://www.openaccessrepository.it/img/beta.png"/>
                    </div>

                    <div class="collapse navbar-collapse" id="nav-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a style="padding:0px;" target="_blank" href="https://www.facebook.com/smartkartca?ref=hl"><img class="socialMediaIcon" src="/static/img/Facebook.png" width="30"/></a>
                            </li>
                            <li style="padding-left:15px;">
                                <a style="padding:0px;" target="_blank" href="http://instagram.com/smartkart.ca"><img class="socialMediaIcon" src="/static/img/Instagram.png" width="30"/></a>
                            </li>
                            <li style="padding-left:15px;padding-right:30px;">
                                <a style="padding:0px;" target="_blank" href="https://twitter.com/smartkartca"><img class="socialMediaIcon" src="https://cdn1.iconfinder.com/data/icons/simple-icons/4096/twitter-4096-black.png" width="30"/></a>
                            </li>
                            <li>
                                <a href ui-sref="info.faq">FAQ</a>
                            </li>
                            <li class="dropdown-support">
              <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Customer Support</a>
              <ul class="dropdown-menu">
                
                    <li><div class="item-icon"><i class="fa fa-envelope-o"></i> </div>help@smartkart.ca</li>
                    <li><div class="item-icon"><i class="fa fa-phone"></i> </div>+1 (844) 843-8765</li>
              </ul>
            </li>
                        </ul>

                    </nav>
                </header>
                <section id="pages" resize ng-controller="onLoadCtrl">

                    <a id="home"></a>
                    <ul class="nostyle">
                        <li id="pan1" class="pan">
                            <section class="entrance">

                                <div id="welcome">

                                    <div class="container">

                                           <h1 class="text_center" id="welcome-title">
                                           Groceries at your doorstep from the stores you love</h1>
                                            <h2 class="text_center" id="welcome-title-small">
                                                We deliver in under
                                                <br/>
                                                <span>2 Hours</span>
                                            </h2>
                                            <a class="hiddenanchor" id="register"></a>
                                            <a class="hiddenanchor" id="postal"></a>
                                            <a class="hiddenanchor" id="login"></a>
                                            <a class="hiddenanchor" id="forgot"></a>

                                            <div id="postal-form" class="animated-form" style="display:none" ng-controller="postalCheckCtrl">
                                                <div class="panel panel-primary centered-panel" id="entrance-panel" >
                                                    <div class="panel-heading text_center">
                                                        <h4 >Enter Your Postal Code</h4>
                                                    </div>
                                                    <div class="panel-body text_center">

                                                        <br>
                                                         <div class="alert alert-danger" id="postal-alert" ng-if="!postalValid">{{message}}</div>
                                                        <form  id="postalForm" name="postalForm" role="form" class="centered-form css-form" ng-submit="checkPostalCode()" novalidate>
                                                         <div class="form-group">
                                                            <div id="postal-wrapper">
                                                            <input name="inputPostal" class="form-control input-lg" id="inputPostal" placeholder="Postal Code" maxlength="6" ng-model="postalCode" required ng-minlength=6 ng-pattern="/[a-zA-Z][0-9][a-zA-Z](-| |)[0-9][a-zA-Z][0-9]/">
                                                                <div class="error error-lg"  ng-if="postalForm.inputPostal.$dirty && postalForm.inputPostal.$invalid && !postalForm.inputPostal.$focused && postalCode.length">
                                                                        <small ng-if="postalForm.inputPostal.$error.pattern">The postal code should be of the following pattern "A1B2C3"</small>
                                                                 </div>
                                                            </div>

                                                        </div>

                                                        <!-- <a href="#register" class="btn btn-primary">Join Now</a> -->
                                                        <input type="submit" class="btn btn-primary" id="joinnow" value="Join Now" ng-disabled="postalForm.$invalid">
                                                    </form>
                                                    <div  class="overlay-generic" ng-show="isValidatingPostalCode"></div>
                                                         <div  class="spinner-generic" ng-show="isValidatingPostalCode">
                                                          <div class="bounce1"></div>
                                                          <div class="bounce2"></div>
                                                          <div class="bounce3"></div>
                                                        </div>

                                                </div>

                                                <div class="panel-footer">

                                                    <div class="pull-left" style="margin-top:5px;">
                                                            
                                                        <strong>Already a member?</strong>
                                                    </div>
                                                    <div class="pull-right">

                                                       <a style="font-weight:575;font-size:150%;" ng-click="clearToken();navigateTo('login','login-form')"> <strong>Login</strong></a>
                                                    </div>
                                                    <div class="clear"></div>


                                                    <!-- <div class="text-center">
                                                        Already a member?
                                                         &nbsp;&nbsp;<a style="font-weight:575;font-size:150%;" ng-click="navigateTo('login', 'postal-form')"><strong>Login</strong>
                                                        </a>
                                                    </div> -->
                                                </div>
                                            </div>

                                        </div>
                                        <div id="register-form" style="opacity:0; margin-right:-200px; display:none" class="animated-form">
                                            <div class="panel panel-primary centered-panel" id="entrance-panel" >
                                                <div class="panel-heading text_center">
                                                    <h4>Sign up</h4>
                                                </div>
                                                <div class="panel-body text_center">
                                                     <div class="alert alert-danger" id="register-alert" style="display:none">Please fill up all fields.</div>
                                                    <form id="registerForm" role="form"  class="form-horizontal css-form" ng-controller="signupCtrl" name="registerForm" novalidate ng-submit="signup()">
                                                        <div class="form-group">
                                                            <div class="col-lg-10 col-lg-offset-1">
                                                                <input type="text" class="form-control" id="inputFirstName" name="inputFirstName" placeholder="First Name" ng-model="firstName" required focus>
                                                                <div class="error" ng-if="registerForm.inputFirstName.$dirty && registerForm.inputFirstName.$invalid && !registerForm.inputFirstName.$focused">
                                                                    <small class="error" ng-if="registerForm.inputFirstName.$error.required">Your first name is required</small>
                                                                 </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="col-lg-10 col-lg-offset-1">
                                                                <input type="text" class="form-control" id="inputLastName" name="inputLastName" placeholder="Last Name" ng-model="lastName" required focus>
                                                                <div class="error" ng-if="registerForm.inputLastName.$dirty && registerForm.inputLastName.$invalid && !registerForm.inputLastName.$focused">
                                                                    <small class="error" ng-if="registerForm.inputLastName.$error.required">Your last name is required</small>
                                                                </div>    
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="col-lg-10 col-lg-offset-1">
                                                                <input type="email" class="form-control" name="email" id="inputEmail" placeholder="Email" ng-model="email" required focus>
                                                                <div class="error" ng-if="registerForm.email.$dirty && registerForm.email.$invalid && !registerForm.email.$focused">
                                                                    <small class="error" ng-if="registerForm.email.$error.required">Your email is required</small>
                                                                    <small class="error" ng-if="registerForm.email.$error.email">That is not a valid email. Please input a valid email.</small>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="col-lg-10 col-lg-offset-1">
                                                                <input type="password" class="form-control" id="inputPassword" name="inputPassword" placeholder="Password" ng-model="password" required focus ng-minlength=6>
                                                                <div class="error" ng-if="registerForm.inputPassword.$dirty && registerForm.inputPassword.$invalid && !registerForm.inputPassword.$focused">
                                                                    <small class="error" ng-if="registerForm.inputPassword.$error.required">Your password is required</small>
                                                                    <small class="error" ng-if="registerForm.inputPassword.$error.minlength">Your password should atleast be 6 characters long.</small>    
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div  class="overlay-generic" ng-show="isLoggingIn"></div>
                                                    <div  class="spinner-generic" ng-show="isLoggingIn">
                                                      <div class="bounce1"></div>
                                                      <div class="bounce2"></div>
                                                      <div class="bounce3"></div>
                                                    </div>
                                                       <!--  <img ng-show="isLoggingIn" style="margin-left:20px;opacity:0.7;" ng-class="{true: 'rotating', false: ''}[isLoggingIn]" width="22" style="display:inline;" src="/static/img/carrot-icon-hi.png" /> -->
                                                        <input  type="submit" value="Start Shopping" ng-disabled="registerForm.$invalid || isLoggingIn" class="btn btn-primary loginbtn">
                                                       
                                                        <!-- <a ng-click="navigateTo('login')"> <strong>Start Shopping</strong> -->

                                                    </form>
                                                </div>
                                                <div class="panel-footer">
                                                    <div class="pull-left" style="margin-top:5px;">
                                                            
                                                        <strong>Already a member?</strong>
                                                    </div>
                                                    <div class="pull-right">

                                                       <a style="font-weight:575;font-size:150%;" ng-click="clearToken();navigateTo('login','login-form')"> <strong>Login</strong></a>
                                                    </div>
                                                    <div class="clear"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="login-form" style="opacity:0; margin-right:-200px;display:none" class="animated-form">
                                            <div class="panel panel-primary centered-panel" id="entrance-panel" >
 
                                                <div class="panel-heading text_center">
                                                    <h4 style="font-weight:575;font-size:160%;" >Login</h4>
                                                </div>
                                                </a>
                                                <div class="panel-body text_center">
                                                    <div class="alert alert-danger" id="login-alert-validate" style="display:none">Please fill up all fields.</div>
                                                    <div class="alert alert-danger" id="login-alert" style="display:none"><strong>Invalid credentials</strong></div>
                                                    <form  id="loginForm" method="get" role="form" class="form-horizontal css-form" ng-controller="loginCtrl" name="loginForm" novalidate ng-submit="submit()" form-autofill-fix>

                                                        <div class="form-group">
                                                            <div class="col-lg-10 col-lg-offset-1">
                                                                <input type="email" class="form-control" id="inputEmail" name="email" placeholder="Email" ng-model="email" ng-required ng-minlength=3 focus>
                                                                <div class="error" ng-if="loginForm.email.$dirty && loginForm.email.$invalid && !loginForm.email.$focused">
                                                                    <small class="error" ng-if="loginForm.email.$error.required">Your email is required</small>
                                                                    <small class="error" ng-if="loginForm.email.$error.minlength">That is not a valid email. Please input a valid email.</small>
                                                                    <small class="error" ng-if="loginForm.email.$error.email">That is not a valid email. Please input a valid email.</small>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="col-lg-10 col-lg-offset-1">
                                                                <input type="password" class="form-control" id="inputPassword" name="inputPassword"placeholder="Password" ng-model="password" ng-required ng-minlength=6 focus>
                                                                <div class="error" ng-if="loginForm.inputPassword.$dirty && loginForm.inputPassword.$invalid && !loginForm.inputPassword.$focused">
                                                                    <small class="error" ng-if="loginForm.inputPassword.$error.required">Your password is required</small>
                                                                    <small class="error" ng-if="loginForm.inputPassword.$error.minlength">Your password should atleast be 6 characters long.</small>    
                                                                </div>
                                                            </div>
                                                        </div>
                                                       <!--  <a href="#" class="btn btn-primary" id="loginbtn">Start Shopping</a> -->
<div  class="overlay-generic" ng-show="isLoggingIn"></div>
                                                 <div  class="spinner-generic" ng-show="isLoggingIn">
  <div class="bounce1"></div>
  <div class="bounce2"></div>
  <div class="bounce3"></div>
</div>
                                                       <!--  <img ng-show="isLoggingIn" style="margin-left:20px;opacity:0.7;" ng-class="{true: 'rotating', false: ''}[isLoggingIn]" width="22" style="display:inline;" src="/static/img/carrot-icon-hi.png" /> -->
                                                       <input  type="submit" ng-disabled="loginForm.$invalid || isLoggingIn" class="btn btn-primary loginbtn" id="loginbtn" value="Start Shopping"></form>
                                                       
                                                       </form>

                                                </div>

                                                <div class="panel-footer">
                                                    <div class="pull-left" style="margin-top:5px;">
                                                            
                                                        <a ng-click="navigateTo('forgot','login-form')"> <strong>Forgot password?</strong>
                                                    </div>
                                                    <div class="pull-right">

                                                       <a style="font-weight:575;font-size:150%;" ng-click="clearToken();navigateTo('postal','login-form')"> <strong>Sign up</strong></a>
                                                    </div>
                                                    <div class="clear"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="forgot-form" style="opacity:0; margin-right:-200px;display:none" class="animated-form">
                                            <div us-spinner="{top:30,left:550,length:10}" spinner-key="forgotPasswdSpinner">
                                            <div class="panel panel-primary centered-panel" id="entrance-panel" >
                                                <div class="panel-heading text_center">
                                                    <h4 >Forgot Your Password?</h4>
                                                </div>
                                                <div class="panel-body text_center">

                                                    <br>
                                                    <div class="alert alert-danger" id="forgot-alert" style="display:none">The email address you entered is not registered with SmartKart. Please enter a valid email address.</div>
                                                    <form  id="forgotForm" role="form" class="form-horizontal css-form" ng-controller="forgotPassCtrl" ng-submit="forgotPawd()" name="forgotForm" novalidate>

                                                        <div class="form-group">
                                                            <div class="col-lg-10 col-lg-offset-1">
                                                                <input type="email" class="form-control" name="email" id="inputEmail" placeholder="Email" ng-model="email" required focus>
                                                                <div class="error" ng-if="forgotForm.email.$dirty && forgotForm.email.$invalid && !forgotForm.email.$focused">
                                                                    <small class="error" ng-if="forgotForm.email.$error.required">Your email is required</small>
                                                                    <small class="error" ng-if="forgotForm.email.$error.email">That is not a valid email. Please input a valid email.</small>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <input type="submit" value="Reset Password" class="btn btn-primary loginbtn" ng-disabled="forgotForm.$invalid || disableForgot">

                                                        <div  class="overlay-generic" ng-show="isResetting"></div>
                                                         <div  class="spinner-generic" ng-show="isResetting">
                                                          <div class="bounce1"></div>
                                                          <div class="bounce2"></div>
                                                          <div class="bounce3"></div>
                                                        </div>


                                                        </form>

                                                </div>
                                                
                                                <div class="panel-footer">
                                                    <div class="text-center">
                                                      <a ng-click="navigateTo('login','forgot-form')"> <strong>Back to Login</strong></a>
                                                    </div>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </li>
                        <li id="pan2" class="pan">
                            <section class="pan2_box">
                                <div class="pan2_top top_box_right"></div>
                                <div class="pan2_mid">
                                    <div class="container">
                                        <h3 class="text_center">Shop on your own schedule</h2>
                                        <div class="small_title text_center">You set the time. We deliver to your door.</div>
                                    </div>
                                </div>
                                <div class="pan2_bot bot_box_right"></div>
                            </section>
                        </li>
                        <li id="pan3" class="pan">
                            <section class="pan3_paralx paralx">
                                <div class="dark_overlay">
                                    <div class="container text_center">
                                        <div class="paralx_align">
                                            <h1>Choose from over 10,000 products</h1>

                                            <br>
                                            <a href="#home" class="btn btn-info btn-lg easyscroll">Shop now</a>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section class="pan3_main">
                                <div class="pan3_top top_box_left"></div>
                                <div class="pan3_mid">
                                    <div class="container">
                                        <h3 class="text_center">Free delivery on first-time orders!</h3>
                                        <div class="small_title text_center">Use coupon code:&nbsp;<span class="badge alert-success"><h4><i class="fa fa-barcode"></i>&nbsp;FREE</h4></span></div>

                                        <div id="container"></div>
                                    </div>
                                    <div class="pan3_bot bot_box_left"></div>
                                </section>

                            </li>
                            <li id="pan4" class="pan">
                                <section class ="pan4_paralx paralx">
                                    <div class="dark_overlay">
                                        <div class="container text_center">
                                            <div class="paralx_align">
                                                <h1>Open from 9am to 11pm*</h1>
                                                <br>
                                                <a href="#home" class="btn btn-info btn-lg easyscroll">Start Shopping</a>
                                                <br>
                                                <br>*Subject to store hours.</div>
                                        </div>
                                    </div>
                                </section>
                                <section class="pan4_main">
                                    <div class="pan4_top top_box_right"></div>
                                    <div class="pan4_mid">
                                        <div class="container">
                                            <h3 class="text_center">Shop at</h3>
                                            <div class="text_center">
                                                <img src="/static/img/stores-logos.png" id="stores-logos" />
                                            </div>
                                            <div class="text_center">
                                                <img width="150" src="/static/img/lcbo_logo.png" style="padding-top:20px;"/>
                                            </div>
                                        </div>
                                    </div>

                                </section>
                            </li>
                        </ul>
                    </section>
                </ul>
            </section>
            <footer>
                    <div class="container">
                        <div class="col-xs-12 col-md-6">
                            &copy; 2015 smartkart. All Rights Reserved.
                            <br/>
                            Logos and trademarks are the property of their respective owners.
                        </div>
                        <div class="col-xs-12 col-md-3 col-md-offset-3">

                            <a ui-sref="info.privacy">Privacy Policy</a>&nbsp;|&nbsp;<a ui-sref="info.tos">Terms of Use</a>
                        </div>
                    </div>

                </footer>
