 <div ui-view="navigation"></div>



 <!-- can be product list, or orders page or admin etc. -->
 <div id="page-wrapper" >

 	<!-- NESTED VIEW, can be product list, or orders page or admin etc. -->
 	<div ui-view="mainview" autoscroll="true" class="nestedView" style="margin-left:225px;"></div>
 </div>


 <div ui-view="cart"></div>

 <!-- TODO: find a better way to load script inside nested views -->
 <script src="/static/js/side-menu.js" type="text/javascript"></script>