<div ng-controller="EditProductModalCtrl">
  <form>
    <div class="modal-header">
    <h3>Edit product</h3>
    </div>

    <div class="modal-body">

      <form class="form-horizontal">
        <fieldset>

          <!-- Form Name -->
          <legend>{{product.name}} ({{product.id}}) <img width="50px" ng-src="{{product.image_url}}" class="pull-right"></legend>

          <!-- Text input-->
          <table class="table.condensed">
            <tr>
              <td>
                <label class="control-label" for="textinput">Brand name</label>
                <div class="controls">
                  <input id="textinput" name="textinput" type="text"  class="form-control input-xlarge" ng-model="product.brand_name">
                </div>
              </td>
              <td>
                <label class="control-label" for="textinput">Description</label>
                <div class="col-sm-10">
                  <input name="textinput" type="text"  class="form-control input-xlarge" ng-model="product.description">
                </div>
              </td>
              <td>
                <label class="control-label" for="textinput">Product name</label>
                <div class="col-sm-10">
                  <input name="textinput" type="text"  class="form-control input-xlarge" ng-model="product.name">
                </div>
              </td>
              
            </tr> 

            <tr>
              <td ng-if="product.id">
                <label class="control-label" for="textinput">Product ID</label>
                <div class="controls">
                  <input id="textinput" name="textinput" type="text"  class="form-control input-xlarge" ng-model="product.id">
                </div>
              </td>
              <td>
                <label class="control-label" for="textinput">Position on aisle</label>
                <div class="col-sm-10">
                  <input name="textinput" type="text"  class="form-control input-xlarge" ng-model="product.position_on_aisle">
                </div>
              </td>
              <td>
                <label class="control-label" for="textinput">Cost Price</label>
                <div class="col-sm-10">
                  <input name="textinput" type="text"  class="form-control input-xlarge" ng-model="product.price">
                </div>
              </td>
              <td>
                <label class="control-label" for="textinput">Mark-Up Category</label>
                <div class="col-sm-10">
                  <input name="textinput" type="text"  class="form-control input-xlarge" ng-model="product.mark_up_category">
                </div>
              </td>              
            </tr> 
            <tr>
              <td>
                <label class="checkbox-inline">
                  <input type="checkbox" ng-model="product.product_available"> Available
                </label> 
              </td>
              <td>
                <label class="checkbox-inline">
                  <input type="checkbox" ng-model="product.taxable"> Taxable
                </label> 
              </td>
              <td>
                <label class="control-label" for="textinput">Image path</label>
                <div class="col-sm-10">
                  <input name="textinput" type="text"  class="form-control input-xlarge" ng-model="product.image_url">
                </div>
              </td>
              
            </tr>
            <tr>
              <td colspan="2">
                <label class="control-label" for="textinput">Department</label>
                <div>
                  <select class="form-control" ng-change="updateAisles()" ng-options="department.id as department.department_name for department in departments" ng-model="product.department_id">
                  </select>
                </div>
              </td>
              <td>
                <label class="control-label" for="textinput">Aisle</label>
                <div class="col-sm-10">
                  <select class="form-control" ng-options="aisle.id as aisle.aisle_name for aisle in aisles" ng-model="product.aisle_id">
                  </select>
                </div>
              </td>
            </tr> 
          </table>
        </fieldset>
      </form>


    </div>
  </div>
  <div class="modal-footer pull-left">
    <button type="submit" class="btn btn-primary" ng-click="save()">Save</button>
    <button class="btn btn-danger btn-large" ng-click="close()">Cancel</button>
  </div>
</form>

</div>