<div ng-controller="AdminAislesCtrl">
  <form>
    <div class="modal-header">
    <h3>Add aisle</h3>
    </div>

    <div class="modal-body">

      <form class="form-horizontal">
        <fieldset>

          <!-- Form Name -->
          <!-- Text input-->
          <table class="table.condensed">
            <tr>
              <td>
                <label class="control-label" for="textinput">Aisle name</label>
                <div class="col-sm-10">
                  <input name="textinput" type="text"  class="form-control input-xlarge" ng-model="aisle.aisle_name">
                </div>
              </td>
              <td>
                <label class="control-label" for="textinput">Aisle number (in-store)</label>
                <div class="col-sm-10">
                  <input name="textinput" type="text"  class="form-control input-xlarge" ng-model="aisle.store_aisle_number">
                </div>
              </td>
              
            </tr> 
            <!-- <tr>
              <td colspan="2">
                <label class="control-label" for="textinput">Department</label>
                <div>
                  <select class="form-control" ng-options="department.id as department.department_name for department in departments" ng-model="aisle.department_id">
                  </select>
                </div>
              </td>
            </tr>  -->
          </table>
        </fieldset>
      </form>


    </div>
  </div>
  <div class="modal-footer pull-left">
    <button type="submit" class="btn btn-primary" ng-click="save()">Save</button>
    <button class="btn btn-danger btn-large" ng-click="close()">Cancel</button>
  </div>
</form>

</div>