<div class="modal-header with-icon">
  <h4>Checkout confirmation</h4> <i class="fa fa-question-circle"></i>
</div>
<div class="modal-body">{{message}}</div>
<div class="modal-footer">

  <button class="btn btn-info btn-large" ng-click="close()">Continue shopping</button>
  <button type="submit" class="btn btn-primary" ng-click="continueCheckout()">
    Checkout&nbsp; <i class="fa fa-chevron-circle-right"></i>
  </button>

</div>