<div  class="overlay-generic" ng-show="isLoading"></div>
      <div  class="spinner-generic" ng-show="isLoading">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>
<div class="modal-header with-icon">
  <h4>Cancel Order confirmation</h4> <i class="fa fa-question-circle"></i>
</div>
<div class="modal-body">
	<strong>Are you sure you want to cancel your order?</strong>
</div>
<div class="modal-footer">
	<div us-spinner="{length:5}" spinner-key="cancelOrderSpinner"></div>	
  <button type="submit" class="btn btn-primary" ng-click="cancel()">Yes</button>
  <button class="btn btn-danger btn-large" ng-click="close()">No</button>

</div>