<div class="modal-header with-icon">
  <h4>Payment Declined</h4> <i class="fa fa-times-circle"></i>
</div>
    

   <div class="modal-body">{{message}}</div>
   
    <div class="modal-footer">
    	<button type="submit" class="btn btn-primary" ng-click="ok()">OK&nbsp;<i class="fa fa-chevron-circle-right"></i></button>
  </div>
