<div ng-controller="AdminDepartmentsCtrl">
  <form>
    <div class="modal-header">
    <h3>Add department to {{store.name}}</h3>
    </div>

    <div class="modal-body">

      <form class="form-horizontal">
        <fieldset>
                <label class="control-label" for="textinput">Department name</label>
                <div class="col-sm-10">
                  <input name="textinput" type="text"  class="form-control input-xlarge" ng-model="department.department_name">
                </div>
        </fieldset>
      </form>
    </div>
  </div>
  <div class="modal-footer pull-left">
    <button type="submit" class="btn btn-primary" ng-click="save()">Save</button>
    <button class="btn btn-danger btn-large" ng-click="close()">Cancel</button>
  </div>
</form>

</div>