<div>
  <form>
    <div class="modal-header">
    <h2>Refund confirmation<i style="margin-top:-33px;" class="fa fa-question-circle pull-right fa-3x"></i></h2>
    </div>

    <div class="modal-body">

      <span style="font-size:20px;" class="label label-info">{{message}}</span>
      <br/><br/>
      <table class="table">
        <tr>
          <td><img ng-src="{{item.product.image_url}}" width="75"/></td>
          <td>{{item.product.name}}</td>
          <td>{{item.product.cost_price | currency}}</td>
        </tr>
      </table>

    </div>
  </div>
  <div class="modal-footer pull-left">
    <button type="submit" class="btn btn-primary" ng-click="toggleRefund(item)">{{buttonLabel}}</button>
    <button class="btn btn-danger btn-large" ng-click="close()">Cancel</button>
  </div>
</form>

</div>