<div class="modal-header with-icon">
    <h4>Change Password</h4><i class="fa fa-check"></i>
</div>
    <div class="modal-body">

      An email has been sent to {{email}}.  Please check your email for further instructions

    </div>
    <div class="modal-footer">
    	<button type="submit" class="btn btn-primary" ng-click="ok()">OK&nbsp;<i class="fa fa-chevron-circle-right"></i></button>
  </div>
