<div class="modal-header with-icon">
	<h4>Cancel Order</h4> <i class="fa fa-ban"></i>
</div>

<div class="modal-body">
	Sorry, you cannot cancel your order since it has already been assigned to a personal shopper.
</div>
<div class="modal-footer">
	<button type="submit" class="btn btn-primary" ng-click="ok()">
		OK&nbsp; <i class="fa fa-chevron-circle-right"></i>
	</button>
</div>