<!--  <a  id="cart-togller" href="">
 <div id="cart-button">
  
    <span class="glyphicon glyphicon-shopping-cart"></span>
  
  <div class="cart-info hidden-xs">
    <div class="cart-info-icon">
      <div class="cart-info-icon-items">{{cartItemCount}}</div>
      {{cartTotal | currency}}
    </div>
  </div>
 </div>
 </a> -->
<div id="wrapper" class="store" storeonload>

  <!-- Sidebar -->
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-sk-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ng-href="#{{defaultHomePath}}" style="display:inline">
        <img width="215" src="/static/img/smartkart-final-logo.png" style="padding-right:8px;" />
        <img style="display:inline;opacity:0.6;margin-left:-8px;" width="40" src="https://www.openaccessrepository.it/img/beta.png"/>
      </a>
    </div>

    <div class="collapse navbar-collapse navbar-sk-collapse" >
 <perfect-scrollbar class="scroller nav navbar-nav side-nav" wheel-propagation="false" wheel-speed="0.5">
      <ul class="left-navi">
        <li id="accordian">
          <div id="store-toggler" style="margin-top:25px;">
            <span class="glyphicon glyphicon-chevron-up"></span>
            <span class="glyphicon glyphicon-chevron-down" style="
    margin-top: 5px;
"></span></div>
          <div id="togel" style="min-height:85px;">
              <!-- <span class="valign-helper"></span> -->
              <h4 style="display:inline;padding-right:25px;margin-left:15px;margin-top:5px;">Choose a store</h4>

              <img width="130" style="margin-left:15px;" ng-src="{{selectedStore.store_logo_url}}">
            
          </div>

          <ul id="stores-list">
            <li ng-repeat="store in allStores track by $index" ng-if="store.id != selectedStore.id">
              <!-- ng-click = showProducts(?) -->
              <a ng-click="switchToStore(store)">
                <h4>
                  <img style="margin-left:10px;" width="130" ng-src="{{store.store_logo_url}}"></h4>
              </a>
            </li>
          </ul>
        </li>
  
            <li class="dropdown depart-accordian" ng-repeat="dpt in sortedDepartments track by $index">
              <a style="font-size:130%" class="accordion-toggle" ng-click="switchToDpt(dpt)" ng-class="{'selectedDptStyle menu-open':selectedDepartment.id == dpt.id}">
                <span style="margin-left:10px;font-weight:575;" class="dept-name">{{dpt.department_name}}
                <img style="margin-left:7px;margin-bottom:2px;" width="35" style="display:inline;" src="/static/img/newicon.png" ng-show="dpt.id==38"/></span> <b class="caret"></b>


                <div style="display: block; clear: both;"></div>
              </a>
              <ul id="sideOne" class="nav sub-nav aisle-list">
                <li  ng-repeat="aisle in dpt.aisles track by $index" ng-class="{true: 'selectedAisle', false: ''}[selectedAisle.id == aisle.id]">
                  <a style="font-size:110%;" href ui-sref="home.products({storeId:selectedStore.id, departmentId:dpt.id, aisleId : aisle.id})" ng-click="switchToAisle(aisle)" ng-class="{'selectedAisleStyle':selectedAisle.id == aisle.id}"> <i class="glyph-icon icon-chevron-right"></i>
                    {{aisle.aisle_name}}
                  </a>
                </li>
              </ul>
            </li>
          
          <li class="fixed-push-nav"></li>
     
      </ul>
</perfect-scrollbar>
    <ul style="margin-right:-110px;" class="nav navbar-nav navbar-right navbar-user">
                            <li style="padding-top:10px;">
                                <a style="padding:0px;" target="_blank" href="https://www.facebook.com/smartkartca?ref=hl"><img class="socialMediaIcon" src="/static/img/Facebook.png" width="30"/></a>
                            </li>
                            <li style="padding-left:15px;padding-top:10px;">
                                <a style="padding:0px;" target="_blank" href="http://instagram.com/smartkart.ca"><img class="socialMediaIcon" src="/static/img/Instagram.png" width="30"/></a>
                            </li>
                            <li style="padding-left:15px;padding-top:10px;padding-right:30px;">
                                <a style="padding:0px;" target="_blank" href="https://twitter.com/smartkartca"><img class="socialMediaIcon" src="https://cdn1.iconfinder.com/data/icons/simple-icons/4096/twitter-4096-black.png" width="30"/></a>
                            </li>
      <li>
        <a href ng-href="#/info/faq" style="height:74px;"><strong>FAQ</strong></a>
      </li>
      <li class="dropdown-support">
        <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Customer Support</a>
        <ul class="dropdown-menu">

          <li>
            <div class="item-icon">
              <i class="fa fa-envelope-o"></i>&nbsp;<a style="font-size:small" href="mailto:help@smartkart.ca">help@smartkart.ca</a>
            </div>
            
          </li>
          
          <!-- <li>
            <div class="item-icon">
              <i class="fa fa-phone"></i>
            </div>
            (613) 302-1354
          </li> -->
        </ul>
      </li>
      <li class="dropdown user-dropdown" ng-if="userInfo.userName">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-male"></i>
          &nbsp;&nbsp;{{userInfo.userName}}&nbsp;&nbsp;<b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a href ui-sref="info.profile">
              <i class="fa fa-user"></i>
              &nbsp;&nbsp;&nbsp;
              Profile
            </a>
          </li>
          <li>
            <a href ui-sref="process.order">
              <i class="fa fa-barcode"></i>
              &nbsp;&nbsp;&nbsp;
              Orders
            </a>
          </li>
          <li ng-if="userInfo.isAdmin">
            <a ui-sref="admin.manageConfiguration">
              <i class="fa fa-dashboard"></i>
              &nbsp;&nbsp;&nbsp;
              Admin
            </a>
          </li>
          <li ng-if="userInfo.isDriver">
            <a ng-href="#/driverdashboard">
              <i class="fa fa-truck"></i>
              &nbsp;&nbsp;&nbsp;
              Driver dashboard
            </a>
          </li>
          <li class="divider"></li>
          <li ng-controller="logoutCtrl">
            <a ng-click="signout()">
              <i class="fa fa-power-off"></i>
              &nbsp;&nbsp;&nbsp;
              Log Out
            </a>
          </li>
        </ul>
      </li>
            <li id="cart-button" style="height:74px;">
        <a  id="cart-togller" href="">
          <span class="glyphicon glyphicon-shopping-cart"></span>
          <div class="cart-info"></a>
          <div class="cart-info-icon">
            <div class="cart-info-icon-items">{{cartItemCount}}</div>
            {{cartTotal | currency}}
          </div>
        </div>

      </li>

     
    </ul>

  </div>
</nav>