<div ng-controller="OrderModalCtrl">

           <div class="modal-header">

    <button type="button" class="close" data-dismiss="modal" ng-click="close()" aria-hidden="true">×</button>
    <h4>Order Items</h4>
  </div>
            <div class="modal-body">
             
            <div class="table-responsive">
              <table class="table table-striped table-hover">
                      <thead>
                        <tr>
                          <th>&nbsp;</th>
                          <th>Product</th>
                          <th>Quantity</th>
                          <th>Price</th>
<!--                           <th>Aisle name</th>
                          <th>Aisle number</th>
                          <th>Aisle position</th> -->
                          <th>Brand</th>
                          <th>Status</th>


                        </tr>
                      </thead>
                      <tbody>
                                
                        <tr ng-repeat="item in order.cartItems track by $index">
                          <td><div class="tint"><img src="{{item.product.image_url}}" width="36" height="36"></div></td>
                          <td>{{item.product.name}}</td>
                          <td>{{item.quantity}}</td>
                          <td>{{$parent.isDriver?item.product.cost_price:item.price | currency}}</td>
                         <!--  <td>{{item.product.aisle.aisle_name}}</td>
                          <td>{{item.product.aisle.store_aisle_number}}</td>
                          <td>{{item.product.position_on_aisle}}</td> -->
                          <td>{{item.product.brand_name}}</td>


                           <!-- TODO: adjust lables according to status -->
                        <td><span class="label label-default" ng-class="{'label-warning': order.status=='PENDG','label-danger': order.status=='CANCL' }"> {{order.status}}</span></td>

                        </tr>
                      </tbody>
                    </table>
                  </div>
              </div>
           <div class="modal-footer">

    <button type="submit" class="btn btn-info" ng-click="close()">Close</button>
  </div>
            
  </div>