<div class="container">
<a class="back-store-button" ui-sref="process.order"><i class="fa fa-chevron-circle-left"></i> Back to orders </a><h4 ng-if="thisOrder.status == 'CANCELED'" style="display:inline;padding-left:20px;color:red;"><i class="fa fa-warning"></i>&nbsp;This order is canceled</h4><br><br>

<div class="box">
    <div class="box-title">
    <table style="table-layout:fixed;width:100%">
        <tr>
            <td style="width:50%">
                <h3>
                    <i class="fa fa-barcode"></i>&nbsp;Order&nbsp;#&nbsp;{{thisOrder.order_number}}
                </h3>
            </td>
            <td style="width:50%">
                <img width="200" class="pull-right" style="opacity:0.7" ng-src="{{thisOrder.store.store_logo_url}}"/>
            </td>

        </tr>
    </table>

    </div>
    <div class="box-content">
        <div  class="overlay-generic" ng-show="isLoading"></div>
              <div  class="spinner-generic" ng-show="isLoading">
              <div class="bounce1"></div>
              <div class="bounce2"></div>
              <div class="bounce3"></div>
            </div>
        <div>   
<div class="row mb-lg">
                     <div class="col-lg-4 col-xs-6 br pv">
                        <div class="row">
                           <div class="col-md-2 text-center visible-md visible-lg">
                              <em class="fa fa-home fa-4x text-muted"></em>
                           </div>
                           <div class="col-md-10">
                            <span class="row-label">Address:</span> {{thisOrder.shipping_address.label}} ({{thisOrder.shipping_address.street_address}}, {{thisOrder.shipping_address.postal_code}})<br/>
                             <span class="row-label">Phone: </span> {{thisOrder.phone | tel}}
                          </div>
                        </div>
                     </div>
                     <div class="col-lg-4 col-xs-6 br pv">
                        <div class="row">
                           <div class="col-md-2 text-center visible-md visible-lg">
                              <em class="fa fa-truck fa-4x text-muted"></em>
                           </div>
                           <div class="col-md-10">
                           <table>
                             <tr ng-if="thisOrder.assigned_driver != null">
                                <td><span class="row-label"> Assigned Driver:</span></td>
                                <td>
                                  {{thisOrder.assigned_driver.name}}
                                </td>
                              </tr>
                            <tr>
                              <td><span class="row-label"> Delivery Date: </span></td>
                              <td>
                                <span style="color:rgb(122,176,45);font-weight:bold;font-size:80%;">
                                  <big>{{thisOrder.delivery_date | date:'fullDate'}}</big>
                                </span>
                              </td>
                            </tr>
                            <tr>
                              <td><span class="row-label">Delivery Time:</span></td>
                              <td>
                                <span style="color:rgb(122,176,45);font-weight:bold;font-size:90%;">
                                  <big>{{thisOrder.deliveryTimeDisplayName}}</big>
                                </span>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <span class="row-label"> Delivery Instructions:</span>
                              </td>
                              <td>  
                                <em>{{thisOrder.delivery_instructions}}</em>
                              </td>
                            </tr>
                           </table>
                             
                         </div>
                        </div>
                     </div>
                     <div class="clearfix hidden-md hidden-lg">
                        <hr>
                     </div>
                     <div class="col-lg-4 col-xs-12 pv">
                        <div class="clearfix">
                           <p class="pull-left"><span class="row-label">Created at</span></p>
                           <p class="pull-right mr">{{thisOrder.created_at | date : 'medium'}}</p>
                        </div>
                        <div class="clearfix">
                           <p class="pull-left"><span class="row-label">Confirmation code</span></p>
                           <p class="pull-right mr"><code>{{thisOrder.order_confirmation_code}}</code> <i popover-placement="left" popover="You will be asked to provide this code upon delivery" popover-trigger="mouseenter" class="fa fa-question-circle"></i></p>
                        </div>
                        <div class="clearfix">
                           <p class="pull-left"><span class="row-label">Status</span></p>
                           <p class="pull-right mr"><strong>{{thisOrder.status}} <i class="fa" ng-class="orderStatusIcons[thisOrder.status]"></i></strong></p>
                        </div>
                        <div class="clearfix">
                           <p class="pull-left"><span class="row-label">GST/HST number</span></p>
                           <p class="pull-right mr">{{thisOrder.gst_hst_number}}</p>
                        </div>
                     </div>
                  </div>
        <table style="table-layout:fixed;" class="table table-responsive table-condensed table-bordered table-hover">
        <tr>    
            <th>Subtotal</th>
            <td>{{thisOrder.total_price | currency}}</td>
        </tr>
        <tr>    
            <th>Delivery Fee</th>
            <td>{{thisOrder.delivery_charge | currency}}</td>
        </tr>
        <tr>    
            <th>Tip</th>
            <td>{{thisOrder.tip | currency}}</td>
        </tr>
        <tr>    
            <th>Tax</th>
            <td>{{thisOrder.tax | currency}}</td>
        </tr>
        <tr class="success">    
            <th><h4 class="noCaps">TOTAL</h4></th>
            <td>
              <h4 ng-if="!(thisOrder.discount > 0)" class="total-original">{{ thisOrder.totalWithTip | currency }}</h4>
              <div ng-if="thisOrder.discount > 0">
              <ul id="totals">
                  <li class="total-original">
                    <h3 ng-class="{'strikeThrough': thisOrder.discount}">{{thisOrder.totalWithTip | currency}}</h3>
                  </li>
                  <li class="amount-discount" style=" margin-top: 27px;">- {{thisOrder.discount | currency}}<small>+tax</small></li>
                  <li id="total-new"><h3>{{ thisOrder.totalWithDiscount | currency}}<h3></li>
              </ul>
              </div>
            </td>
        </tr>
        </table>
        <hr>
       
        <!-- <div>
            <i class="fa fa-shopping-cart fa-2x"></i>&nbsp;&nbsp;&nbsp;<h3 style="display:inline;">Your order items</h3>
            </div> -->
                   
        <table class="table table-striped table-hover table-responsive">
                      <thead>
                        <tr>
                          <th>Product</th>
                          
                          <th class="centered">Quantity</th>
                          <th class="centered">Price</th>
                          <th class="centered">Brand</th>
                          <th class="centered">Status</th>
                        </tr>
                      </thead>
                      <tbody>      
                        <tr ng-class="{true: 'success', false: ''}[item.isFound]" ng-repeat="item in thisOrder.items track by $index">
                          <td>
                          {{item.product.name}}<div class="tint"><img src="{{item.product.image_url}}" width="36" height="36"></div>
                          </td>
                          
                          <td>{{item.quantity}}</td>
                          <td>{{item.price | currency}}</td>
                          <td>{{item.product.brand_name}}</td>

                          <td> <span class="label label-default" ng-class="{'label-warning': item.status=='PENDING','label-dfault': item.status=='CANCELED', 'label-success': item.status=='FOUND', 'label-info': item.status=='SUBSTITUTE', 'label-primary': item.status=='REFUND' }"> {{item.status}}</span></td>
                        </tr>
                      </tbody>
                    </table>
           
        
        </div>
    </div>
</div>
</div>

