 <div style="font-size:105%" class="container">
    <a class="back-store-button" ui-sref="home.products({storeId:selectedStore.id, departmentId:selectedDepartment.id, aisleId : selectedAisle.id})"><i class="fa fa-chevron-circle-left"></i> Back </a><br><br>
    <div class="box">
        <div class="box-title">
            <h3>
            <i class="fa fa-barcode"></i> Your orders
            </h3>
        </div>
        <div class="box-content  table-responsive">
            <div  class="overlay-generic" ng-show="isLoading"></div>
            <div  class="spinner-generic" ng-show="isLoading">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div> 
            <table class="table table-striped table-hover" id="orders-table">
                <thead class="levelOne">
                    <tr>
                        <th>Store</th>
                        <th><i class="fa fa-barcode"></i></th>
                        <th><i class="fa fa-calendar"></i></th>
                        <th><i class="fa fa-clock-o"></i></th>
                        <th><i class="fa fa-dollar"></i></th>
                        <th><i class="fa fa-phone"></i></th>
                        <th>Status</th>
                        <th>Confirmation Code</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody ng-repeat="order in orders | orderBy:'-delivery_date' track by $index" ng-controller="OrderModalCtrl">
                    <tr class="clickableRow" title="Click to view items" style="padding-bottom:15px;">
                        <td ui-sref="process.orderDetails({orderId:order.id})" style="vertical-align: middle;
                           text-align: center;"> <img style="display:block;opacity:0.7" width="80px" ng-src="{{order.store.store_logo_url}}" /></td>
                        <td style="text-align:center;">
                             <small>{{order.created_at | date:'medium'}}</small><br>
                            <a href ui-sref="process.orderDetails({orderId:order.id})">{{order.order_number}}</a>
                        </td>
                        <td ui-sref="process.orderDetails({orderId:order.id})">{{order.delivery_date | date : 'fullDate'}}</td>
                        <td ui-sref="process.orderDetails({orderId:order.id})">{{order.deliveryTimeDisplayName}}</td>
                        <td ui-sref="process.orderDetails({orderId:order.id})">{{order.total_price | currency}}</td>   
                        <td>
                            <div style="white-space:nowrap;" collapse="!order.editPhone">
                                <input placeholder="&#9742;" type="tel" ng-model="order.phone" class="form-control"/>
                                <a  class="editPhoneBtn btn btn-mini btn-success" ng-click="savePhoneNumber(order)">&nbsp;<i class="fa fa-check"></i></a>
                                <a class="editPhoneBtn btn btn-mini btn-danger" ng-click="cancelPhoneNumber(order);order.phone=order.previousPhone;">&nbsp;<i  class="fa fa-times"></i></a>
                            </div>
                            <span  ng-if="order.phone && !order.editPhone">{{order.phone | tel}}</span>
                       &nbsp; <a btn="btn-inverse btn btn-mini" ng-if="order.phone && !order.editPhone" ng-click="order.editPhone=!order.editPhone;order.previousPhone=order.phone;"><i class="fa fa-pencil-square-o"></i></a>
                        </td>
                        
                           <!-- TODO: adjust lables according to status -->
                        <td ui-sref="process.orderDetails({orderId:order.id})"><span class="label label-default" ng-class="{'label-warning': order.status=='PENDING','label-default': order.status=='CANCELED', 'label-info': order.status=='ASSIGNED TO SHOPPER', 'label-primary': order.status=='SHOPPING', 'label-success': order.status=='OUT FOR DELIVERY' }">{{order.status}}</span>
                        </td>
                        <td ui-sref="process.orderDetails({orderId:order.id})">{{order.order_confirmation_code}} </td>
                        <td>
                            <button class="btn btn-danger btn-sm" ng-click="cancelOrder(order)" 
                            ng-disabled="(order.status=='ASSIGNED TO SHOPPER')|| (order.status=='CANCELED')"><i class="fa fa-check fa fa-times"></i>&nbsp;Cancel</button>
                        </td>
                    </tr>
                </tbody>
            </table>
         </div>
    </div>
</div> 
