<div id="page-wrapper" class="store" checkoutonload>

  <!-- Sidebar -->
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-sk-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ng-href="#{{defaultHomePath}}">
        <img src="/static/img/smartkart-final-logo.png" width="215"/>
        <img style="display:inline;opacity:0.6;margin-left:-8px;" width="40" src="https://www.openaccessrepository.it/img/beta.png"/>
      </a>

    </div>
    <div class="collapse navbar-collapse navbar-sk-collapse" >

    <ul class="nav navbar-nav navbar-right navbar-user">
       <li style="padding-top:10px;">
                                <a style="padding:0px;" target="_blank" href="https://www.facebook.com/smartkartca?ref=hl"><img class="socialMediaIcon" src="/static/img/Facebook.png" width="30"/></a>
                            </li>
                            <li style="padding-left:15px;padding-top:10px;">
                                <a style="padding:0px;" target="_blank" href="http://instagram.com/smartkart.ca"><img class="socialMediaIcon" src="/static/img/Instagram.png" width="30"/></a>
                            </li>
                            <li style="padding-left:15px;padding-top:10px;padding-right:30px;">
                                <a style="padding:0px;" target="_blank" href="https://twitter.com/smartkartca"><img class="socialMediaIcon" src="https://cdn1.iconfinder.com/data/icons/simple-icons/4096/twitter-4096-black.png" width="30"/></a>
                            </li>
      <li>
        <a href ng-href="#/info/faq" style="height:74px;"><strong>FAQ</strong></a>
      </li>
      <li class="dropdown-support">
        <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Customer Support</a>
        <ul class="dropdown-menu">

          <li>
            <div class="item-icon" style="display:inline">
              <i class="fa fa-envelope-o"></i>
            </div>
            <a href="mailto:help@smartkart.ca">help@smartkart.ca</a>
          </li>
          <li>
            <div class="item-icon">
              <i class="fa fa-phone"></i>
            </div>
            <a>+1 (844) 843-8765</a>
          </li>
          <!-- <li>
            <div class="item-icon">
              <i class="fa fa-phone"></i>
            </div>
            (613) 302-1354
          </li> -->
        </ul>
      </li>
      <li class="dropdown user-dropdown" ng-if="userInfo.userName">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-male"></i>
          &nbsp;&nbsp;{{userInfo.userName}}&nbsp;&nbsp;<b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a href ui-sref="info.profile">
              <i class="fa fa-user"></i>
              &nbsp;&nbsp;&nbsp;
              Profile
            </a>
          </li>
          <li>
            <a href ui-sref="process.order">
              <i class="fa fa-barcode"></i>
              &nbsp;&nbsp;&nbsp;
              Orders
            </a>
          </li>
          <li ng-if="userInfo.isAdmin">
            <a ui-sref="admin.manageConfiguration">
              <i class="fa fa-dashboard"></i>
              &nbsp;&nbsp;&nbsp;
              Admin
            </a>
          </li>
          <li ng-if="userInfo.isDriver">
            <a ng-href="#/driverdashboard">
              <i class="fa fa-truck"></i>
              &nbsp;&nbsp;&nbsp;
              Driver dashboard
            </a>
          </li>
          <li class="divider"></li>
          <li ng-controller="logoutCtrl">
            <a ng-click="signout()">
              <i class="fa fa-power-off"></i>
              &nbsp;&nbsp;&nbsp;
              Log Out
            </a>
          </li>
        </ul>
      </li>
      <!-- <li>
        <a href ng-href="#/info/faq">FAQ</a>
      </li>
       <li class="dropdown-support">
              <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Customer Support</a>
              <ul class="dropdown-menu">
                
                    <li><div class="item-icon"><i class="fa fa-envelope-o"></i> </div>help@smartkart.ca</li>
                    <li><div class="item-icon"><i class="fa fa-phone"></i> </div>+1 800 123 4567</li>
              </ul>
            </li>
      <li class="dropdown user-dropdown" ng-if="userName">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-male"></i>
          &nbsp;&nbsp;{{userInfo.userName}}&nbsp;<b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a href ui-sref="info.profile">
              <i class="fa fa-user"></i>&nbsp;&nbsp;&nbsp;
              Profile
            </a>
          </li>
          <li>
            <a href ui-sref="process.order">
              <i class="fa fa-barcode"></i>&nbsp;&nbsp;&nbsp;
              Orders
            </a>
          </li>
          <li ng-if="userInfo.is_admin">
            <a ui-sref="admin.manageConfiguration">
              <i class="fa fa-dashboard"></i>&nbsp;&nbsp;&nbsp;
              Admin
            </a>
          </li>
          <li ng-if="userInfo.is_driver">
            <a ng-href="#/driverdashboard">
              <i class="fa fa-truck"></i>&nbsp;&nbsp;&nbsp;
              Driver dashboard
            </a>
          </li>
          <li class="divider"></li>
          <li ng-controller="logoutCtrl">
            <a  href="#" ng-click="signout()">
              <i class="fa fa-power-off"></i>&nbsp;&nbsp;&nbsp;
              Log Out
            </a>
          </li>
        </ul>
      </li> -->
  </ul>

</div>
</nav>

<div id="page-content-wrapper" >

    <!-- NESTED VIEW, can be product list, or orders page or admin etc. -->
      <div ui-view="processview" style="padding:50px;"></div>


</div>
</div>