<div id="page-wrapper" class="store" checkoutonload ng-controller="SideNavCtrl" >

  <!-- Sidebar -->
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-sk-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/productList">
        <img src="/static/img/store-logo.png" />
      </a>

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-sk-collapse" >

    <ul class="nav navbar-nav navbar-right navbar-user">

      <li>
        <a href="#/faq">FAQ</a>
      </li>
       <li class="dropdown-support">
              <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Customer Support</a>
              <ul class="dropdown-menu">
                
                    <li><div class="item-icon"><i class="fa fa-envelope-o"></i> </div>help@smartkart.ca</li>
                    <!-- <li><div class="item-icon"><i class="fa fa-phone"></i> </div>+1 (613) 302-1354</li> -->
              </ul>
            </li>
      <li class="dropdown user-dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-male"></i>
          {{userName}} <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a href="#/profilepage">
              <i class="fa fa-user"></i>
              Profile
            </a>
          </li>
          <li>
            <a ui-sref="orders">
              <i class="fa fa-barcode"></i>
              Orders
            </a>
          </li>
          <li ng-if="isAdmin()">
            <a ui-sref="admin.manageConfiguration">
              <i class="fa fa-dashboard"></i>
              Admin
            </a>
          </li>
          <li ng-if="isDriver()">
            <a ui-sref="driver">
              <i class="fa fa-truck"></i>
              Driver dashboard
            </a>
          </li>
          <li class="divider"></li>
          <li ng-controller="logoutCtrl">
            <a href="#" ng-click="signout()">
              <i class="fa fa-power-off"></i>
              Log Out
            </a>
          </li>
        </ul>
      </li>
  </ul>

</div>
</nav>


</div>