  <div>
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" ng-click="close()" aria-hidden="true">×</button>
      <h4>Product Detail</h4>
    </div>
    <div class="modal-body product-detail" >
      <div class="row">
        <div class="col-sm-6 product">
          <div class="product-quantity" ng-if="product.quantityInCart >
            0">
            <small>x</small>
            {{product.quantityInCart}}
          </div>
          <img class="img-responsive" alt="{{product.name}}" ng-src="{{product.image_url}}" />  
          <!-- FIXME: should not be initializing ProductListCtrl here -->  
          <div class="modal-product-cart-controls product-cart-controls">
            <!-- TODO: The + and minus buttons should be buttons -->  

            <!-- elements because clicking more than once on these divs
                  'selects' the underlying content (either the span or the picture) -->  
            <div class="btn-product" ng-click="product.quantityInCart >
              1 ? decreaseProductQuantity(product) : removeProductFromCart(product)">
              <span class="glyphicon glyphicon-minus"></span>
              <span class="glyphicon glyphicon-shopping-cart"></span>
            </div>
            <div class="btn-product product-cart-quantity">
              <span ng-if="product.quantityInCart >
                0">
                <small>x</small>
                {{product.quantityInCart}}
              </span>
              <!-- TODO: make it show up when product quantity is zero -->  
              <span ng-if="product.quantityInCart == 0">
                <small>x</small>
                0
              </span>

            </div>

            <div class="btn-product" ng-click="product.quantityInCart?increaseProductQuantity(product):addProductToCart(product)">
              <!-- defaults to increase if cartItem exists -->  
              <span class="glyphicon glyphicon-plus"></span>
              <span class="glyphicon glyphicon-shopping-cart"></span>
            </div>
          </div>
        </div>
        <div class="col-sm-6">

          <h4 class="product-name">{{product.name}}</h4>
          <h5>{{product.price | currency}}</h5> <strong>Brand:</strong>
          <span>{{product.brand_name}}</span>
          <br /> <strong>Product Code:</strong>
          <span>Product {{product.id}}</span>
          <div ng-if="product.description">
            <strong>Description:</strong>
            <span>{{product.description}}</span>
          </div>
          <br ng-if="!product.description" />  
          <strong>Quantity:</strong>
          <span>{{product.size}}</span>
          <!--  <strong>Availability:</strong>
        <span>{{product.product_available}}</span>
        <br />  
        -->
      </div>
    </div>

  </div>
  </div>

  <div class="modal-footer">
  <button type="button" class="btn btn-danger" ng-click="close()">Close</button>
  </div>
  </div>