<!-- <ul ng-if="isFirstOrder" class="nav navbar-nav navbar-left navbar-user" style="margin-top:5px;padding-left:15px;">
  <li style="margin-top:5px;color:rgba(122,176,45,0.6)" class="total-original"><i class="fa fa-truck fa-2x"></i></li>
          <li ng-if="isFirstOrder" style="margin-top:10px;" class="amount-discount"><span style="text-decoration:line-through;">4.99</span>&nbsp;FREE</li>

      <li style="max-height:70px;">
        <a style="background-color:rgba(122,176,45,0.1);max-height:inherit;font-size:110%;color:black;">
        Your first delivery is on us!</a>
      </li>
      <li style="max-height:70px;">
        <a style="background-color:rgba(122,176,45,0.1);font-size:110%;">Use coupon code <span class="badge alert-success"><i class="fa fa-barcode"></i>&nbsp;FREE</span> at checkout</a>
      </li>
</ul> -->
  <div style="margin-top:-3px;" id="title-topbar" class="row frozenHeader" ng-class="{true:'headerWidthOnMozilla',false:''} [isOnFirefox]">
    <div class="col-md-3">
      <h4>{{selectedAisle.aisle_name}}</h4><span class="badge">{{productsInAisle.length}}</span>
    </div>
    <div ng-if="isFirstOrder" class="col-md-4" style="background-color:rgba(122,176,45,0.1);height:71px;">
      <table class="table-responsive" style="max-height:71px;margin-top:6px;">
        <tr>
          <td>
              <li style="margin-top:2px;color:rgba(122,176,45,0.6);list-style:none;" class="total-original"><i class="fa fa-truck fa-2x"></i></li>
          </td>
          <td>
            <li ng-if="isFirstOrder" style="margin-top:17px;list-style:none;margin-left:7px;" class="amount-discount"><span style="text-decoration:line-through;">4.99</span>&nbsp;<strong>FREE</strong></li>

          </td>

          <td style="padding-left:10px;text-align:center;">
            <a style="max-height:inherit;font-size:110%;color:black;">
                    <strong>Your first delivery is on us!</strong></a><br/>
                    <a style="font-size:110%;">Use coupon code <strong><i class="fa fa-barcode"></i>&nbsp;FREE</strong> at checkout</a><i popover-placement="bottom" popover="Only waived for 3+ hour delivery" popover-trigger="mouseenter" class="fa fa-question-circle" style="margin-left:7px;"></i>
          </td>
          </tr>
        </table>
    </div>
    

    <div class="col-md-3 pull-right" style="opacity:0.9;" ng-class="{true:'firefoxSearchMargin',false:''} [isOnFirefox]">
      <div id="search">
        <form action="#">
                  <div class="input-group hilight-append">
                  <!-- 
                        Add this property  to the search input for auto-complete:
                        typeahead="info for info in cachedProductDescriptions | filter:$viewValue | limitTo:8" 
                     -->
                    <input autofocus style="border-radius:12px;background-color:rgba(251,251,251,0.5)" ng-model="queryString"  placeholder="Search all products" type="text" class="form-control input-flat">
                    <span class="input-group-btn">
                      &nbsp;<button style="border-radius:20px;" ng-click="searchProducts(queryString)" href="#/searchResults" class="btn btn-default"  type="submit" ui-sref="home.search({queryString:queryString})" ng-disabled="!(queryString.length > 1)"><i class="fa fa-search"></i></button>
                    </span>
                  </div>
                </form>
          </div>
      </div>
    </div>
  <!-- <div style="margin-top:50px;margin-left:5px;" id="title-topbar" class="row frozenHeader" ng-class="{true:'headerWidthOnMozilla',false:''} [isOnFirefox]">

  </div> -->




<div id="product-list-view">  
<!-- <div id="free" class="row" style="background-color:rgba(122,176,45,0.15);">
        <ul style="margin-top:75px;margin-left:30px;">
          <li ng-if="isFirstOrder" style="margin-top:5px;color:rgba(122,176,45,0.6)" class="total-original"><i class="fa fa-truck fa-2x"></i></li>
                  <li ng-if="isFirstOrder" style="margin-top:10px;" class="amount-discount"><span style="text-decoration:line-through;">4.99</span>&nbsp;FREE</li>

              <li ng-if="isFirstOrder" style="max-height:70px;">
                <a style="max-height:inherit;font-size:110%;color:black;">
                Your first delivery is on us!</a>
              </li>
              <li ng-if="isFirstOrder" style="max-height:70px;">
                <a style="font-size:110%;">Use coupon code <span class="badge alert-success"><i class="fa fa-barcode"></i>&nbsp;FREE</span> at checkout</a>
              </li>
        </ul>
      </div> -->  
  <!-- <div ng-if="isFirstOrder" style="margin-left:250px;" id="title-topbar" class="row frozenHeader" ng-class="{true:'headerWidthOnMozilla',false:''} [isOnFirefox]">
    <div id="free" class="row" style="max-height:71px;background-color:rgba(122,176,45,0.14);">
        <table class="table table-responsive" style="max-height:71px;">
        <tr>
          <td>
            <ul id="totals" style="margin-left:-40px;">
              <li ng-if="isFirstOrder" style="margin-top:5px;color:rgba(122,176,45,0.6)" class="total-original"><i class="fa fa-truck fa-2x"></i></li>
                      <li ng-if="isFirstOrder" style="margin-top:10px;" class="amount-discount"><span style="text-decoration:line-through;">4.99</span>&nbsp;FREE</li>
              </ul>
          </td>
          <td>
            <a style="max-height:inherit;font-size:110%;color:black;">
                    Your first delivery is on us!</a><br/>
                    <a style="font-size:110%;">Use coupon code <strong><i class="fa fa-barcode"></i>&nbsp;FREE</strong> at checkout</a>
          </td>
          </tr>
        </table>
      </div>
    </div>   -->
<ul id="products-grid" style="padding-top:150px;">
  <div  ng-class="{true: 'overlay', false: ''}[isLoadingAisle]"></div>
  <div  ng-class="{true: 'spinner', false: ''}[isLoadingAisle]">
  <div class="bounce1"></div>
  <div class="bounce2"></div>
  <div class="bounce3"></div>
</div>
  <li class="product-item" dir-paginate="product in productsInAisle | itemsPerPage: pageSize | orderBy:'price'" current-page="currentPage">

<!--   
  Uncomment this to view taxability information on produccts.
  <span ng-if="product.taxable" style="color:green;font-weight:bold;"><big><mark>TAXABLE</mark></big></span>
  <span ng-if="!product.taxable" style="color:red;">Not taxable</span> 
  -->
    <div class="product-box">
      <div class="product" style="background-color:rgba(255,255,255,0.25);" ng-controller="ProductDetailModalCtrl">
          <div class="product-quantity" ng-if="product.quantityInCart > 0"> <small>x</small>{{product.quantityInCart}}</div>
          <img ng-click="viewProduct(product)" class="product-img" ng-src="{{product.image_url}}" err-src="https://images-smartkartca.rhcloud.com/img/smartkart_logo.JPG">

        <div class="product-cart-controls">
        <!-- TODO: The + and minus buttons should be <button> elements because clicking more than once on these divs
              'selects' the underlying content (either the span or the picture) -->
          <div class="btn-product" ng-click="product.quantityInCart > 1?decreaseQuantityForProduct(product):removeProductFromCart(product)">
            <span class="glyphicon glyphicon-minus"></span>
            <span class="glyphicon glyphicon-shopping-cart"></span>
          </div>
          
          <div class="btn-product product-cart-quantity">
            <span ng-if="product.quantityInCart > 0">
              <small>x</small>{{product.quantityInCart}}
            </span>
            <span ng-if="product.quantityInCart<1"><small>x</small>0</span>
          </div>
         <div class="btn-product" ng-click="product.quantityInCart?increaseQuantityForProduct(product):addProductToCart(product)"> <!-- defaults to increase if cartItem exists -->
            <span class="glyphicon glyphicon-plus"></span>
            <span class="glyphicon glyphicon-shopping-cart"></span>
          </div>
        </div>
      </div>
      <div class="product-main">
        <h5 class="product-title">{{product.name | characters:32 :true }}</h5>
        <div class="product-price">{{product.price | currency}}
        <span class="product-size"> {{product.size}}</span>
        </div>

      </div>

    </div>
  </li>
  <div class="row" style="text-align:right;font-size:200%;font-weight:bold;">
      <dir-pagination-controls class="text-center" style="opacity:0.8;margin-right:100px;" boundary-links="true" template-url="/static/js/directives/dirPagination.tpl.html"></dir-pagination-controls>
  </div>
</ul>
</div>



