<div class="container">
   <a class="back-store-button" href back-button><i class="fa fa-chevron-circle-left"></i> Back </a><br><br>
      <div class="box">
<div class="box-title">
    <h3><i class="fa fa-user"></i> Profile

    </h3>
</div>
<div class="box-content">
<div  class="overlay-generic" ng-show="isLoading"></div>
      <div  class="spinner-generic" ng-show="isLoading">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>
  <div class="tabbable tabs-left">
    <div class="row">
    <div class="col-sm-offset-2 col-md-offset-2 col-sm-3 col-md-3">
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="profilePage#cards" data-toggle="tab">Saved Cards</a></li>
        <li><a href="profilePage#addresses" data-toggle="tab">Saved Addresses</a></li>
        <li><a href="profilePage#password" data-toggle="tab">Change Password</a></li>
      </ul>
    </div>
    <div class="col-sm-5 col-md-5">
      <div class="tab-content">
       <div class="tab-pane active" id="cards">
        <div class="accordion-panel panel-group">
        <div us-spinner="{length:3,width:3}" spinner-key="loadCardSpinner"></div>
            <div class="panel panel-default card-panel" ng-repeat="card in cards track by $index">
            <div class="panel-heading ">
            <div class="radio">
                <label>
                  
     <input type="radio" name="optionsCards" ng-model="selectedCard.id" ng-value="card.id" required>XXXX-XXXX-XXXX-{{card.last4}}
              </label>
            </div>
            <img  width="28px" ng-src="{{card.image}}" class="accordion-pull-right">

          </div>
      <span ng-click="removeCard(card)" class="card-delete-x glyphicon glyphicon-remove-circle">
        <div us-spinner="{length:3,width:3}" spinner-key="removeCardSpinner"></div>
      </span>
        <!--     <div><button type="submit" class="btn btn-primary" ng-click="removeCard(card)">Remove Card</button></div> -->
             
          </div>
          </div></div>
         <div class="tab-pane" id="addresses">

          <div class="accordion-panel panel-group">
            <div class="panel panel-default" ng-repeat="address in ownAddresses track by $index">
              <div class="panel-heading">

                <div data-toggle="collapse" data-target="#collapsePanel{{$index}}" data-parent="#accordion-panel">
                 
                    <span class="address-label"><i class="fa fa-home"></i>&nbsp;&nbsp;&nbsp;{{address.label}}</span>
              
                </div>

                <span ng-click="deleteShippingAddress(address)" class="accordion-pull-right glyphicon glyphicon-remove-circle"></span>

              </div>
              <div id="collapsePanel{{$index}}" class="collapse">
                <div class="panel-body">
                  {{address.street_address}}
                  <br/>
                  {{address.apt_number}}
                  <br/>
                  {{address.postal_code}}
                  <br/>
                  <br/> <i>{{address.note}}</i>
                  <br/>
                </div>
              </div>
            </div>
          </div></div>
          <div class="tab-pane" id="password">
           <div>

            <form class="form-horizantal css-form" ng-controller="resetPasswdCtrl" ng-submit="change()" novalidate id="changePasswordForm" name="changePasswordForm">
                         
              <div class="form-group ">
              		<div id="change-pswd-msg" ng-if="responseCheck" class="alert alert-info">
            	    	<small>{{serverResponse}}</small>
            	    </div>
                    <label  class="control-label" for="currentPassowrd">Current Password</label>
                    <div class="row">
                    <div class="col-md-5">
                        <input type="password" placeholder="Current password" name="currentPassword" class="form-control" ng-required="true" id="currentPassowrd" ng-model="currentPassword" required focus>
                          <div class="error" ng-if="changePasswordForm.currentPassword.$dirty && changePasswordForm.currentPassword.$invalid && !changePasswordForm.currentPassword.$focused">
                      <small ng-if="changePasswordForm.currentPassword.$error.required">Your password is required</small>  
                  </div>   
            		</div>
            		</div>
            	   
             </div>

              <div class="form-group ">
                    <label  class="control-label" for="newPasswd">New Password</label>
                    <div class="row">
                      <div class="col-md-5">
                        <input class="form-control" ng-required="true" id="newPassword" type="password" placeholder="New password"  name="newPassword" ng-model="newPasswd" required focus ng-minlength=6>
                               <div class="error" ng-if="changePasswordForm.newPassword.$dirty && changePasswordForm.newPassword.$invalid && !changePasswordForm.newPassword.$focused">

                      <small ng-if="changePasswordForm.newPassword.$error.required">Your password is required</small>
                      <small ng-if="changePasswordForm.newPassword.$error.minlength">Your password should atleast be 6 characters long.</small>   

                </div>
                        </div>
                    </div>
             	
                  </div>

            	   
                        
              <div class="form-group ">
                    <label  class="control-label" for="confPassword">Confirm Password</label>
                    <div class="row">
                      <div class="col-md-5">
                        <input class="form-control" ng-required="true" id="confPassword" type="password" placeholder="Confirm Password" name="confPassword" ng-model="confPasswd" data-match="newPasswd" ng-match="newPasswd" required focus>
                        
                <div class="error" ng-if="changePasswordForm.confPassword.$error.match">
                      <small>Passwords don't match</small>
                </div>  
                </div>
                    </div>
                  </div>    
                         <input type="submit" class="btn btn-primary pull-left" value="Submit" ng-disabled="changePasswordForm.$invalid">
                         
                        </form>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
              </div>
              <div class="clear"></div>
            </div>
            </div>
</div>

<!-- this is for saved credit cards, note that an option to remove saved credit card should be added, functionality will be hooked later -->



<!-- Saved addresses -->

<!-- reset password, not that reset password is outside the div, cause it has its own controller -->


