
<form style="margin-left:30px;margin-top:20px;background-color:rgba(122,176,45,0.06);width:500px;height:310px;border-radius:10px;" class="form-horizontal" ng-controller="resetPasswdCtrl" ng-submit="reset()">

<div  class="overlay-generic" ng-show="isLoading"></div>
<div  class="spinner-generic" ng-show="isLoading">
  <div class="bounce1"></div>
  <div class="bounce2"></div>
  <div class="bounce3"></div>
</div>

<img style="margin-left:5px;padding-bottom:10px;padding-top:10px;" src="https://ssl-smartkartca.rhcloud.com/static/img/store-logo.png"/>
<fieldset style="margin-left:10px;">

<!-- Form Name -->
<legend>Reset your Smartkart password</legend>

<!-- Password input-->
<div class="control-group">
  <label class="control-label" for="passwordinput">New password</label>
  <div class="controls">
    <input style="border-radius:5px;" ng-model="newPasswd" id="passwordinput" name="passwordinput" type="password" placeholder="" class="input-xlarge" required="">
    <p class="help-block">Must be at least 6 characters</p>
  </div>
</div>

<!-- Password input-->
<div class="control-group">
  <label class="control-label" for="passwordinput">Confirm password</label>
  <div class="controls">
    <input id="passwordinput" style="border-radius:5px;" ng-model="confPasswd" name="passwordinput" type="password" placeholder="" class="input-xlarge" required="">
    
  </div>
</div>

<!-- Button -->
<div class="control-group">
  <label class="control-label" for="singlebutton"></label>
  <div class="controls">
    <button id="singlebutton" name="singlebutton" class="btn btn-success" type="submit">Reset password</button>
  </div>
</div>

</fieldset>
</form>

<!-- <div class="col-md-4">
	<form class="passwdResetForm" ng-controller="resetPasswdCtrl" ng-submit="reset()">
		<fieldset >
			<div class="control-group">
				<label for="focusedInput" class="control-label">New Password</label>
				<div class="controls">
				<input type="password" placeholder="New password" ng-model="newPasswd" class="input-xlarge focused">
				</div>
			</div>
			<div class="control-group">
				<label for="focusedInput" class="control-label">Confirm Password</label>
				<div class="controls">
				<input type="password" placeholder="Confirm Password" ng-model="confPasswd" class="input-xlarge focused">
				</div>
			</div>
			


			<button class="btn btn-primary pull-right" type="submit" >Submit</button>
		</fieldset>
	</form>
</div> -->