
<div id="product-list-view">
 <!-- Added outer div to properly scope the state controller -->

  <div id="title-topbar" class="row" style="position:fixed;" ng-class="{true:'headerWidthOnMozilla',false:''} [isOnFirefox]">

    <div class="col-md-3" style="width:500px;">
      <h3 style="padding-left:20px;">Search Results</h3>  
    <span class="badge">{{searchResults.count}} products in {{searchResults.groupedSearchResults.length}} {{searchResults.groupedSearchResults.length>1 ? 'stores' : 'store'}}</span>

      <span style="color:rgb(122,176,45);font-weight:bold;font-size:130%;padding-left:20px;"><i class="fa fa-search"></i>&nbsp;&nbsp;"{{searchResults.queryString}}"</span>

     </div>
    <div ng-if="isFirstOrder" class="col-md-4" style="background-color:rgba(122,176,45,0.1);height:71px;">
      <table class="table-responsive" style="max-height:71px;margin-top:6px;">
        <tr>
          <td>

              <li style="margin-top:2px;color:rgba(122,176,45,0.6);list-style:none;" class="total-original"><i class="fa fa-truck fa-2x"></i></li>
                      
              
          </td>
          <td>
            <li ng-if="isFirstOrder" style="margin-top:17px;list-style:none;margin-left:7px;" class="amount-discount"><span style="text-decoration:line-through;">4.99</span>&nbsp;<strong>FREE</strong></li>

          </td>

          <td style="padding-left:10px;text-align:center;">
            <a style="max-height:inherit;font-size:110%;color:black;">
                    <strong>Your first delivery is on us!</strong></a><br/>
                    <a style="font-size:110%;">Use coupon code <strong><i class="fa fa-barcode"></i>&nbsp;FREE</strong> at checkout</a><i popover-placement="bottom" popover="Only waived for 3+ hour delivery" popover-trigger="mouseenter" class="fa fa-question-circle" style="margin-left:7px;"></i>
          </td>
          </tr>
        </table>
    </div>
     <div class="col-md-3 pull-right" style="padding-left:20px;" ng-class="{true:'firefoxSearchMargin',false:''} [isOnFirefox]">
      <div id="search">    
        <form action="#">
                  <div class="input-group hilight-append">

                  <!-- 
                      Add this property  to the search input for auto-complete:
                      typeahead="info for info in cachedProductDescriptions | filter:$viewValue | limitTo:8" 
                   -->
                    <input style="border-radius:12px;background-color:rgba(251,251,251,0.5)" ng-model="queryString"  placeholder="Search all products" type="text" class="form-control input-flat">
                    <span class="input-group-btn">&nbsp;
                      <button style="border-radius:20px;" class="btn btn-default"  type="submit" ui-sref="home.search({queryString:queryString})" ng-disabled="!(queryString.length > 1)"><i class="fa fa-search"></i></button>
                    </span>
                  </div>
                </form>
          </div>

        </div>
      </div>

     
        <!-- {{searchResults.groupedSearchResults | json}} -->
  <div style="padding-top:150px;" id="search-results">
  <span style="padding-left:20px;font-size:110%;font-weight:bold;color:red;">Switch stores&nbsp;<i class="fa fa-caret-down"></i></span>
  <tabset type="pills" pillsnav="true">
  <div  ng-class="{true: 'overlay', false: ''}[isLoadingAisle]"></div>
          <div  ng-class="{true: 'spinner', false: ''}[isLoadingAisle]">
          <div class="bounce1"></div>
          <div class="bounce2"></div>
          <div class="bounce3"></div>
        </div>
    <tab ng-repeat="store in searchResults.groupedSearchResults track by $index">
     <tab-heading><span style="font-size:170%;font-weight:600;">{{store.store_name}}</span>&nbsp;&nbsp;<span style="font-size:130%;" class="badge">{{store.resultCountForStore}}&nbsp;products</span></tab-heading>

      <div class="row" ng-repeat="aisle in store.resultsByAisle track by $index">

      <div class="aisle-title">
      <i ng-click="aisle.isCollapsed=!aisle.isCollapsed" ng-class="{'fa fa-plus-circle':aisle.isCollapsed, 'fa fa-minus-circle':!aisle.isCollapsed}"></i>
      <!-- {{aisle}} -->
      <a ui-sref="home.products({storeId:store.store_id, departmentId:aisle.dptId, aisleId:aisle.aisle_id})">

      &nbsp;&nbsp;

        <h3 style="display:inline;">{{aisle.aisle_name}} </h3>
      </a><span class="badge"> {{aisle.products.length}}</span>
      </div>
        <div class="search-grid" collapse="aisle.isCollapsed">
            <div class="product-item" ng-repeat="product in aisle.products track by $index">
     <div class="product-box">
      <div class="product" ng-controller="ProductDetailModalCtrl">
          <div class="product-quantity" ng-if="product.quantityInCart > 0"> <small>x</small>{{product.quantityInCart}}</div>
          <img ng-click="viewProduct(product)" class="product-img" ng-src="{{product.image_url}}" err-src="https://images-smartkartca.rhcloud.com/img/smartkart_logo.JPG">

        <div class="product-cart-controls">
        <!-- TODO: The + and minus buttons should be <button> elements because clicking more than once on these divs
              'selects' the underlying content (either the span or the picture) -->
          <div class="btn-product" ng-click="product.quantityInCart > 1?decreaseQuantityForProduct(product):removeProductFromCart(product)">
            <span class="glyphicon glyphicon-minus"></span>
            <span class="glyphicon glyphicon-shopping-cart"></span>
          </div>
          
          <div class="btn-product product-cart-quantity">
            <span ng-if="product.quantityInCart > 0">
              <small>x</small>{{product.quantityInCart}}
            </span>
            <span ng-if="product.quantityInCart<1"><small>x</small>0</span>
          </div>
         <div class="btn-product" ng-click="product.quantityInCart?increaseQuantityForProduct(product):addProductToCart(product)"> <!-- defaults to increase if cartItem exists -->
            <span class="glyphicon glyphicon-plus"></span>
            <span class="glyphicon glyphicon-shopping-cart"></span>
          </div>
        </div>
      </div>
      <div class="product-main">
        <h5 class="product-title">{{product.name | characters:32 :true }}</h5>
        <div class="product-price"> {{product.price | currency}}
        <span class="product-size"> {{product.size}}</span>
        </div>

      </div>

    </div>
            </div>
          </div>

          </div>
        </tab>

  </tabset>
  </div>
  <script>

  </script>
</div>

