<div ng-controller="StripeFormModalCtrl">
 <form ng-submit="didSubmit()" stripe-form="handleStripe" name="payment-form" id="payment-form" class="form-horizantal">
  

    
  <div class="modal-header with-icon">
         <h4>Enter Credit Card </h4> <i class="fa fa-credit-card"></i><br/>
         <img src="/static/img/mastercard_32.png"/>
         <img src="/static/img/visa_32.png"/> 
         <img src="/static/img/american_express_32.png"/>
         <img src="/static/img/discover_32.png"/> 
         </div>

  <div class="modal-body">
      <div class="row">
        <div class="col-xs-6">
          <div class="form-group">
            <label  class="control-label required" for="card-number">Card number</label>
 
                <input type="text" name="number" id="card-number" class="form-control" ng-model="number" payments-validate="card" payments-format="card" payments-type-model="type" ng-class="myForm.number.$card.type" ng-required="true"/>
          
          </div>
        
          <div class="form-group ">
            <label  class="control-label required" for="name-card">Name on card</label>
          
                <input type="text" name="name-card" id="name-card" class="form-control" ng-model="name" ng-required="true"/>
         
          </div>

          

        
        </div>
        <div class="col-xs-6 col-seperator">
        <div class="form-group ">
            <label  class="control-label required" for="expiry">Expiry</label>
            
              
                <input size="7" type="text" name="expiry" id="expiry" class=" custom-width form-control" ng-model="expiry"payments-validate="expiry" payments-format="expiry" ng-required="true"/>
         
     
          </div>
          <div class="form-group ">
            <label  class="control-label required" for="cvc">CVC</label>
        
                <input size="4" type="text" name="cvc" id="cvc" class=" custom-width form-control" ng-model="cvc" payments-validate="cvc" payments-format="cvc" payments-type-model="type" ng-required="true"/>
        
          </div>
        </div>

        <!-- <div class="col-xs-6 col-seperator">

          <div class="form-group ">
            <label  class="control-label required" for="address1">Address Line 1</label>
      
                <input type="text" name="address1" id="address1" class="form-control" ng-model="addressLine1" placeholder="Billing Street Address" ng-required="true"/>
       

          </div>

          <div class="form-group ">
            <label  class="control-label" for="address2">Address Line 2</label>
  
              
                <input type="text" name="address2" id="address2" class="form-control" ng-model="addressLine2" placeholder="Billing Apartment/Unit/Floor"/>
     
           
          </div>

          <div class="form-group ">
            <label  class="control-label required" for="city">City</label>
        
                <input size="10" type="text" name="city" id="city" class="custom-width form-control" ng-model="addressCity" placeholder="City" ng-required="true"/>
        
          </div>

          <div class="form-group">
            <label  class="control-label required" for="province">Province</label>
           
                <input size="10" type="text" name="province" id="province" class="custom-width form-control" ng-model="addressState" placeholder="Province" ng-required="true"/>
            
          </div>

          <div class="form-group ">
            <label  class="control-label required" for="Postalcode">Postal code</label>
     
                <input size="6" type="text" name="Postalcode" id="Postalcode" class="custom-width form-control" ng-model="addressZip"  ng-required="true" ng-minlength="3"/>
          
          </div>
        </div> -->
        <div class="form-group " style="margin-left:15px;margin-top:5px;">
            <label  class="control-label required" for="Postalcode">Postal code</label>
     
                <input size="8" type="text" name="Postalcode" id="Postalcode" class="custom-width form-control" ng-model="addressZip"  ng-required="true" ng-minlength="3"/>
          
          </div>
      </div>
    </div>
  <!--   <div us-spinner="{length:20, top:20}" spinner-key="addCardSpinner"></div> -->
  <div style="margin:0 auto" us-spinner="{top:10,length:10}" spinner-key="addCardSpinner">
  <div class="form-group ">
           
  
          </div>

          <div class="modal-footer">
            <!-- <div class="checkbox pull-left">
                <label>

                  <input ng-model="save.saveTheCard" type="checkbox"/>Save this card</label>
         </div> -->
    <button type="button" class="btn btn-danger" ng-click="close()">Close</button>
    <button type="submit" class="btn btn-info">Add card</button>

  </div>
  </form>
</div>
<script src="/static/js/input.js" type="text/javascript"></script>