
                <h1>Terms and Conditions</h1>
                <p>Last updated: December 21, 2014</p>

                <p>These Terms and Conditions ("Terms", "Terms and Conditions") govern your relationship with http://www.smartkart.ca website (the "Service") operated by Smartkart ("us", "we", or "our").</p>
                <p>Please read these Terms and Conditions carefully before using the Service.</p>

                <p>Your access to and use of the Service is based on your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who access or use the Service.</p>

                <p>By accessing or using the Service you agree to be bound by these Terms and accept all legal consequences. If you do not agree to these terms and conditions, in whole or in part, please do not use the Service.</p>

                <p><strong>Purchases</strong></p>

                <p>If you wish to purchase any product or service made available through the Service ("Purchase"), you may be asked to supply certain information relevant to your Purchase including, without limitation, your credit card number, the expiration date of your credit card, your billing address, and your shipping information.</p>

                <p>You represent and warrant that: (i) you have the legal right to use any credit card(s) or other payment method(s) in connection with any Purchase; and that (ii) the information you supply to us is true, correct and complete.</p>

                <p>By submitting such information, you grant us the right to provide the information to third parties for purposes of facilitating the completion of Purchases.</p>

                <p><strong>Accounts</strong></p>

                <p>When you create an account with us, you must provide us information that is accurate, complete, and current at all times. Failure to do so constitutes a breach of the Terms, which may result in immediate termination of your account on our Service.</p>

                <p>You are responsible for safeguarding the password that you use to access the Service and for any activities or actions under your password, whether your password is with our Service or a third-party service.</p>

                <p>You agree not to disclose your password to any third party. You must notify us immediately upon becoming aware of any breach of security or unauthorized use of your account.</p>    

                <p>You may not use as a username the name of another person or entity or that is not lawfully available for use, a name or trade mark that is subject to any rights of another person or entity other than you without appropriate authorization, or a name that is otherwise offensive, vulgar or obscene.</p>



                <p><strong>Links To Other Web Sites</strong></p>

                <p>The Service may contain links to third-party web sites or services that are not owned or controlled by Smartkart.</p>

                <p>Smartkart has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party web sites or services. You further acknowledge and agree that Smartkart shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such content, goods or services available on or through any such websites or services.</p>

                <p>We strongly advise you to read the terms and conditions and privacy policies of any third-party web sites or services that you visit.</p>

                <p><strong>Termination</strong></p>

                <p>We may terminate or suspend access to our Service immediately, without prior notice or liability, for any reason whatsoever, including, without limitation, if you breach the Terms.</p>

                <p>All provisions of the Terms shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.</p>

                <p>Upon termination, your right to use the Service will immediately cease. If you wish to terminate your account, you may simply discontinue using the Service.</p>

                <p><strong>Indemnification</strong></p>

                <p>You agree to indemnify, defend and hold harmless Smartkart, its principals, officers, directors, representatives, employees, contractors, licensors, licensees, suppliers and agents, from and against any claims, losses, damages, losses, obligations, costs, actions or demands.</p>

                <p>These include but are not limited to: (a) legal and accounting fees resulting from your use of the Service; (b) your breach of any of these Terms; (c) anything you post on or upload to the Service; and (d) any activity related to your account. This includes any negligent or illegal conduct by you, any person or entity accessing the Service using your account whether such access is obtained via fraudulent or illegal means.</p>

                <p><strong>Limitation Of Liability</strong></p>

                <p>Smartkart, its directors, employees, partners, agents, suppliers, or affiliates, shall not be liable for any loss or damage, direct or indirect, incidental, special, consequential or punitive damages, including without limitation, economic loss, loss or damage to electronic media or data, goodwill, or other intangible losses, resulting from (i) your access to or use of the Service; (ii) your inability to access or use the Service; (iii) any conduct or content of any third-party on or related to the Service; (iiv) any content obtained from or through the Service; and (v) the unauthorized access to, use of or alteration of your transmissions or content, whether based on warranty, contract, tort (including negligence) or any other claim in law, whether or not we have been informed of the possibility of such damage, and even if a remedy set forth herein is found to have failed of its essential purpose.</p>
                <p>
                YOU AGREE THAT NEITHER SMARTKART NOR ITS AFFILIATES OR LICENSORS IS RESPONSIBLE FOR THE FITNESS OR CONDUCT OF ANY PERSONAL SHOPPER OR FOR ANY PERSONAL SHOPPER SERVICES. NEITHER SMARTKART NOR ITS AFFILIATES OR LICENSORS WILL BE LIABLE FOR ANY CLAIM, INJURY OR DAMAGE ARISING IN CONNECTION WITH THE ACTS OR OMISSIONS OF ANY PERSONAL SHOPPER. IN THE EVENT YOU HAVE A DISPUTE WITH ONE OR MORE PERSONAL SHOPPERS, YOU HEREBY RELEASE SMARTKART AND ITS OFFICERS, DIRECTORS, EMPLOYEES, SUBSIDIARIES, AFFILIATES, AGENTS AND REPRESENTATIVES FROM ANY AND ALL CLAIMS, LIABILITIES, COSTS, INCLUDING WITHOUT LIMITATION ATTORNEY'S FEES, LOSS OR DAMAGE OF EVERY KIND AND NATURE, KNOWN AND UNKNOWN, ARISING OUT OF OR IN ANY WAY CONNECTED WITH SUCH DISPUTES.</p>

                <p><strong>Transactions Involving Alcoholic Beverages</strong></p>
                <p>
                Alcoholic beverages may only be purchased by customers who are at least nineteen (19) years old ("Legal Age"). If you are a Customer, you expressly represent and warrant that: (i) you are of Legal Age; and (ii) you will provide bona fide identification showing your Legal Age to your Personal Shopper upon delivery to you pursuant to the Personal Shopper Services of any Groceries that include Alcoholic Beverages.
                </p>

                <p><strong>Disclaimer And Non-Waiver of Rights</strong></p>

                <p>Smartkart makes no guarantees, representations or warranties of any kind as regards the website and associated technology. Any purportedly applicable warranties, terms and conditions are excluded, to the fullest extent permitted by law. Your use of the Service is at your sole risk. The Service is provided on an "AS IS" and "AS AVAILABLE" basis. The Service is provided without warranties of any kind, whether express or implied, including, but not limited to, implied warranties of merchantability, fitness for a particular purpose, non-infringement or course of performance, except as provided for under the laws of any province in Canada. In such cases, the provincial law shall apply to the extent necessary.</p>

                <p>Smartkart its subsidiaries, affiliates, and its licensors do not warrant that a) the Service will function uninterrupted, secure or available at any particular time or location; b) any errors or defects will be corrected; c) the Service is free of viruses or other harmful components; or d) the results of using the Service will meet your requirements.</p>

                <p>If you breach any of these Terms and Smartkart chooses not to immediately act, or chooses not to act at all, Smartkart will still be entitled to all rights and remedies at any later date, or in any other situation, where you breach these Terms. Smartkart does not waive any of its rights. Smartkart shall not be responsible for any purported breach of these Terms caused by circumstances beyond its control. A person who is not a party to these Terms shall have no rights of enforcement.</p>

                <p>You may not assign, sub-license or otherwise transfer any of your rights under these Terms.</p>

                <p><strong>Exclusions</strong></p>

                <p>As set out, above, some jurisdictions do not allow the exclusion of certain warranties or the exclusion or limitation of liability for consequential or incidental damages, so the limitations above may not apply to you. Provincial laws of Canada may apply to certain products and service provided.</p>

                <p><strong>Governing Law</strong></p>

                <p>These Terms shall be governed by, and interpreted and enforced in accordance with, the laws in the Province of Ontario and the laws of Canada, as applicable.</p>

                <p>If any provision of these Terms is held to be invalid or unenforceable by a court of competent jurisdiction, then any remaining provisions of these Terms will remain in effect. These Terms constitute the entire agreement between us regarding our Service, and supersede and replace any prior agreements, oral or otherwise, regarding the Service.</p>

                <p><strong>Changes</strong></p>

                <p>We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material we will make reasonable efforts to provide at least 30 days' notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.</p>

                <p>By continuing to access or use our Service after those revisions become effective, you agree to be bound by the revised terms. If you do not agree to the new terms, in whole or in part, please stop using the website and the Service.</p>

                <p><strong>Contact Us</strong></p>

                <p>If you have any questions about these Terms, please contact us.</p>
              