
.item.item-header {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    box-shadow: none;
    cursor: auto;
    margin-bottom: 10px;
    margin-right: 0;
    margin-top: 15px;
    padding: 0;
    width: 100%;
}

.item {
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 0 2px 10px -2px #C0C0C0;
    color: #5A5A5A;
    display: inline-block;
    font-weight: 600;
    margin: 0 20px 20px 0;
    position: relative;
    text-align: left;
    vertical-align: top;
    width: 150px;
}

.item .item-info {
    background: none repeat scroll 0 0 #F5F5F5;
    border-top: 1px solid rgba(0, 0, 0, 0);
    font-size: 13px;
    min-height: 61px;
    padding: 10px;
}


