html,body{
  height: 100%;
}
body{
    padding-right:-15px;
    margin-top: 50px;
    background: #F1F1F1;
    -ms-overflow-style: scrollbar;

}
a {
  outline: 0 !important;
}
#pages{
     overflow-x: hidden;
}
.navbar-brand {
    font-family: 'Oleo Script', cursive;
    font-size: 24px;
}

#welcome{
    padding-top: 110px;
    min-height: 950px;
}
.entrance{
  background: url("../img/landing-overlayed.jpg");
  background-size: cover;
}

.faded {
  opacity:0.3;
}

.cartStoreLogo{
  opacity:0.7;

}

.editPhoneBtn{
  margin-top:5px;
  border-radius:10px;
  text-align:center;
  width:40%;
  height:40%;
}

xmp{
  display:inline;
}

.noCaps{
  text-transform: none;
}

.nestedView{
  margin-right:0;
  height: 100%;
}

.noCartView{
  padding: 50px 200px 0px 0px;
}

.top_box_left,
.bot_box_left,
.top_box_right,
.bot_box_right {
    width: 0px;
    height: 0px;
}
.top_box_right {
    border-style: solid solid solid dashed;
    border-width: 0 0 60px 2880px;
}
.top_box_left {
    border-width: 60px 0 0 2880px ;
    border-style: solid dashed solid solid;
}
.bot_box_right {
    border-width: 0 2880px 60px 0;
    border-style: solid dashed solid solid;
}
.bot_box_left {
    border-width: 60px 2880px 0 0 ;
    border-style: solid dashed solid solid;
}
.centered-panel{
  margin:0 auto;
  position: relative;
}
#entrance-panel{
  width: 350px;
}
#welcome .container
{
    min-width:390px;
}

#welcome-title{
  font-family: "Oleo Script", cursive;
  border: 1px solid white;
  font-size: 50px;
  padding: 5px;
  color:white;
  /*border: 1px solid transparent;*/
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    border-bottom-width: 6px;
    margin-bottom: 30px;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    text-transform:none;
}
#welcome-title-small{
  font-family: "Varela Round", sans-serif;
    color: white;
    font-size: 52px;
/*  -webkit-text-shadow:2px 4px 3px rgba(0,0,0,0.3);
    -moz-text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);*/
    margin-bottom: 35px;
}
#welcome-title-small span{
  background: #72a8e4;
  display: inline-block;
  height: 54px;
  width: 302px;
  -webkit-border-radius: 49px;
    -moz-border-radius: 49px;
    border-radius: 49px;
}
input#inputPostal{
  width:150px;
  text-align: center;
}
#postal-wrapper{
    position: relative;
    width: 185px;
    margin:0 auto;
    display:block;
}

.centered-form input, button{
  margin: 0 auto;
}
a.hiddenanchor{
  display: none;
}
.form-inline .form-group{
    margin-left: 0;
    margin-right: 0;
}

tab-heading {

  font-variant: small-caps;

}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Hammersmith One", Helvetica, Arial, sans-serif;
}
.pan {
  color:white;
}
.pan .small_title {
    font-size: 18px;
}
.pan3_paralx {
    background-image: url(../img/landing2.jpg);
}
.paralx {
    margin: -65px 0;
    background-attachment: fixed;
    background-size: cover;
    height: 430px;
    text-transform: uppercase;
    background-repeat: no-repeat;
}
.paralx_align {
    padding: 150px 0 0;
}
#pan2 {
    position: relative;
}
.pan2_box {
    margin-top: -60px;
    position: relative;
}
.pan2_top {
    border-color: transparent transparent #5f8724 transparent;
}
.pan2_bot {
    border-color: transparent #5f8724  transparent transparent;
}
.pan2_mid {
    background: #5f8724 ;
    padding: 30px 0;
}
.pan3_main {
    position: relative;
}
.pan3_top {
    border-color: transparent transparent transparent #77b8e7;
}
.pan3_bot {
    border-color: #77b8e7 transparent transparent transparent;
}
.pan3_mid {
    background: #77b8e7;
    padding: 30px 0;
}
.pan4_main {
    position: relative;
}
#pan4 .plug {
    background: #E5E3D1;
}
.pan4_top {
    border-color: transparent transparent #E5E3D1 transparent;
}

.pan4_mid {
    padding:0 0 30px 0;
    background: #E5E3D1;
}
.pan4_paralx {
    background-image: url(../img/landing3.jpg);
}
.pan4_mid h3{
    color:black;
}
.dark_overlay{
    background-image: url(../img/overlay-pattern.png);
    height: 100%;
}
footer{
    padding-top: 15px;
    background: #2C2C2C;
    padding-bottom: 3px;
    text-shadow:none;
    position: relative;
    z-index: 2000;

}
#stores-logos{
    max-width: 494px;
    max-height: 40px;
    margin: 0 auto; 
}

div.error {
margin-top:5px;
width: auto;
padding: 0 5px;
-webkit-box-shadow: 0px 1px 0px 0px #b65a44;
box-shadow: 0px 1px 0px 0px #b65a44;
border: solid 1px #fa646b;
-webkit-border-radius: 4px;
border-radius: 4px;
background: #fb7d83;
color: #fff;
height: auto;
overflow: hidden;
font-size: 12px;
}
div.error:after{
border: solid;
border-color: rgba(242,118,105,1) transparent;
border-width: 0 7px 7px 7px;
content: "";
position: absolute;
top: 36px;
right: 28px;

}
div.error-lg:after{
  top: 44px !important;
}
input.error, input.error:focus{
    border-color: #fb7d83;
    outline: 0;
}
#postal-wrapper span.error:after{
    top: 46px;
    right: 78px;
}
#postal-wrapper span.error {
    float: none;
    margin-top:5px;
}
input#inputPostal.error{
    margin-bottom: 3px;
}

.css-form input.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.css-form input.ng-valid.ng-dirty {
	border-color: rgb(122,176,45);
}

.error{
    background-color: #FA787E;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.success{
    background-color: rgb(151, 238, 165);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.show-grid [class^="col-"] {
	background-color: #eee;
	border: 1px solid #ddd;
	background-color: rgba(86,61,124,.15);
	border: 1px solid rgba(86,61,124,.2);
}


#wrapper {
  padding-left: 0;
}

#page-wrapper {
  width: 100%;
  /*padding: 5px 15px;*/
  background: #F1F1F1;
  padding-top: 50px;

}

/* Nav Messages */

.messages-dropdown .dropdown-menu .message-preview .avatar,
.messages-dropdown .dropdown-menu .message-preview .name,
.messages-dropdown .dropdown-menu .message-preview .message,
.messages-dropdown .dropdown-menu .message-preview .time {
  display: block;
}

.messages-dropdown .dropdown-menu .message-preview .avatar {
  float: left;
  margin-right: 15px;
}

.messages-dropdown .dropdown-menu .message-preview .name {
  font-weight: bold;
}

.messages-dropdown .dropdown-menu .message-preview .message {
  font-size: 12px;
}

.messages-dropdown .dropdown-menu .message-preview .time {
  font-size: 12px;
}


/* Nav Announcements */

.announcement-heading {
  font-size: 50px;
  margin: 0;
}

.announcement-text {
  margin: 0;
}

table.tablesorter thead {
  cursor: pointer;
}

table.tablesorter thead tr th:hover {
  background-color: #f5f5f5;
}



.flot-chart {
  display: block;
  height: 400px;
}

.flot-chart-content {
  width: 100%;
  height: 100%;
}

@media (min-width:768px) {

  #wrapper {
    padding-left: 225px;
  }

  #page-wrapper {
    padding-top: 28px;
    height: 100%;
  }


  .side-nav {
    margin-left: -225px;
    left: 225px;
    width: 225px;
    position: fixed;
    top: 76px;
    height: 100%;
    border-radius: 0;
    border: none;
    /*background-color: rgb(122,176,45);*/
    background-color:rgba(108,176,45,0.8);
    overflow-y: auto;
  }

.store .navbar-default .navbar-nav  a {
    color:white;

    }

.store .navbar-nav a {

font-weight: normal;
/*text-transform: capitalize;*/
cursor: pointer;

}
  

  .side-nav a {

    width: 225px;


  }

  .navbar-collapse {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }

}
.store .navbar-default {
  /*border-color: rgb(122,176,45);*/
  border-color: rgba(122,176,45,0.95);
}

#accordian div#togel {

    cursor: pointer;
    display: block;
    font-size: 16px;
    line-height: 34px;
    width: 225px;
    /*background: #73564C;*/
    background:rgba(115,86,76,0.2);
    color: white;
    width: 100%;
    height: 62px;s
}

#accordian div#togel:hover {
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.7);
}

#accordian div#togel span {
    font-size: 16px;
    margin-right: 10px;
}

#accordian li {
    list-style-type: none;
    padding: 0px;
    border-top: 1px solid #AF917F;
border-bottom: 1px solid #AF917F;
}


#accordian ul li a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    line-height: 27px;
    display: block;
    padding: 10px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

#accordian ul li a:hover {
    background: #73564C;
}

#accordian  ul {
    display: none;
}
#accordian li.active ul {
    display: block;
}
li#accordian{
  background: #A68877;
  width: 100%;
  margin-bottom:7px;
}
#store-toggler{
-webkit-border-radius: 15px 0px 0px 15px; */
-moz-border-radius: 15px 0px 0px 15px;
border-radius: 6px 6px 6px 6px;
cursor: pointer;
float: right;
margin-top: 16px;
width: 16px;
margin-right: 16px;
padding: 3px;
color: rgba(255, 255, 255, 0.81);
background: rgba(255, 255, 255, 0.12);
font-size: 8px;
}

.open-store-select #store-toggler:before{
-moz-transform: rotate(180deg);
-o-transform: rotate(180deg);
-webkit-transform: rotate(180deg);
-ms-transform: rotate(180deg);
transform: rotate(180deg);
}

#accordian ul{
  padding-left:0px;
}
#accordian #togel h4{
  margin-top:0px;
  padding-top: 15px;
}
#store-label{
  color:rgb(255, 255, 250);
  font-family:'Lato', sans-serif;
  font-weight:400;
}

li.side-menu-item{
  border-top: 1px solid #92B32D;
}

.store .navbar-default .navbar-nav > li.side-menu-item > a{
    -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}
.store .navbar-default .navbar-nav > li.side-menu-item  > a:hover {

 /* background: #F1F1F1;*/
  color:black;
}
li.side-menu-item ul {
  display: none;
}
li.side-menu-item a{

}

li.depart-accordian{
width: 100%;
}
li.depart-accordian ul{
  display: none;
  padding-left: 0;
}
li.depart-accordian ul li{
  list-style-type: none;
padding: 0px;

}
li.depart-accordian li a{
 color: white;
text-decoration: none;
font-size: 14px;
display: block;
padding: 10px;
-o-transition: .1s;
-ms-transition: .1s;
-moz-transition: .1s;
-webkit-transition: .1s;
transition: .1s;
text-shadow: none;
}
li.depart-accordian div.depart-togel{
  cursor: pointer;
display: block;
font-size: 16px;
line-height: 34px;
padding: 12px;
width: 225px;
background: #73564C;
color: white;
width: 100%;
}
.side-nav>li.dropdown>ul.dropdown-menu {
position: relative;
min-width: 225px;
margin: 0;
padding: 0;
padding-left:20px;
border: none;
border-radius: 0;
box-shadow: none;
box-shadow: inset 0 -10px 10px -10px #000000;
-moz-box-shadow: inset 0 -10px 10px -10px #000000;
-webkit-box-shadow: inset 0 -7px 10px -10px #000000;
  }
.side-nav > li > a:hover,.side-nav > li > .open a:focus, .side-nav > li > .open a:hover,.side-nav > li > .open > a:focus  { 

background: #bcd66b !important;
}


.side-nav > li > ul > li > a:hover,.side-nav > li > ul > li >a:focus { 
    color:#ffbc65;
     background: transparent;
  }
.side-nav li.dropdown{
  border-bottom: 1px solid rgba(95,135,36,0.9);
  width:100%;
}
/*.side-nav li.dropdown .caret{
margin-left:150px;
  }*/

.side-nav li.dropdown ul{
  padding: 10px;
border: none;
background: #9ab058;
width: 100%
}
.side-nav li.dropdown ul li{

width: 100%
}
.side-nav li.dropdown ul li a:before {
position: relative;
content: "\f105";
display: inline-block;
font-family: FontAwesome;
color: #A68877;
font-size: 15px;
top:1px;
color:white;
margin-right: 6px;
}
.side-nav li.dropdown ul li a:hover:before{
  color: #ffbc65;
} 
.side-nav {
  text-shadow: 1px 1px 0 rgba(0,0,0,0.25);
}

.side-nav .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active     >     a:focus {
    background-color: rgba(122,176,45,0.2) !important;
    /*background-image: linear-gradient(to bottom, #17AA76, #149466) !important;*/
    /*background-repeat: repeat-x !important;*/
    color: #FFFFFF;
    outline: 0 none;
    text-decoration: none;
}

.side-nav .open > a, .side-nav .open > a:hover, .side-nav .open > a:focus {
  color:#796356  !important;
  background: #F1F1F1 !important;
  }

  .nav.navbar-nav.navbar-right.navbar-user a {
    color:#2C2C2C;
    line-height: 3;
  }
.out-cart{
  text-shadow: 0px 1px 0px white;
  height: 100%;
  position: fixed;
  background: black;
  right:-325px;
top: 0px;
z-index: 999;
width: 325px;
 background: url(../img/cart-pattern.png);
-webkit-box-shadow: 7px 0 2px 0 rgba(0, 0, 0, .5);
  -webkit-box-shadow: -1px 0px 2px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow: -1px 0px 2px 0px rgba(50, 50, 50, 0.75);
box-shadow: -1px 0px 2px 0px rgba(209, 206, 206, 0.75);
transition: all 200ms ease-out;
overflow-y: auto;
padding-right: 19px!ie7;
}
.active-cart .out-cart{
right:0px;
}
.active-cart #fixed-totals{
right:0px;
}
.product-box{
border: 1px solid #dedede;
border-radius: 1px;
box-shadow: 0 0 5px rgba(0,0,0,.15);
-webkit-box-shadow: 0 0 5px rgba(0,0,0,.15);
overflow: hidden;
-webkit-transition: 0.4s all ease-in;
-moz-transition: 0.4s all ease-in;
-o-transition: 0.4s all ease-in;
-ms-transition: 0.4s all ease-in;
transition: 0.2s all ease-in;
-moz-border-radius: 10px;
border-radius: 5px;
height: 290px;
background-color: rgba(255,255,255,0.37);
}

.product-main{
background: rgba(255,255,255,0.25);

text-align: center;
color: #1f1f1f;
padding: 10px;
height: 85px;
}

.view-changer{
  height: 100%;
}
.cart-title{
color: #575353;
padding-left: 20px;
display: none;
    opacity: 0; 
font-family: "Hammersmith One", Helvetica, Arial, sans-serif;
text-transform: uppercase;
font-weight: 500;
line-height: 1.1;
font-size: 2px;
transition: all 200ms ease-out;
-webkit-transition-delay: 0s, 0s, 3s;
}
.active-cart .cart-title{
opacity: 1;
    display: inline-block;
font-size: 15px;
}
a#cart-togller:hover{
/*  background: rgb(122,176,45);*/
}
#cart-button{
  /*background: url(../img/cart-pattern.png);*/
  /*background: rgba(181,207,101,0.85);*/
  background: rgba(122,176,45,0.85);
-webkit-box-shadow: 7px 0 2px 0 rgba(0, 0, 0, .5);
width:100px;
  -webkit-box-shadow: -1px 0px 2px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow: -1px 0px 2px 0px rgba(50, 50, 50, 0.75);
box-shadow: -1px 0px 2px 0px rgba(209, 206, 206, 0.75);
transition: width 200ms ease-out;
text-align: center;
}
.active-cart li#cart-button {
  width:325px;
}
li#cart-button .glyphicon{
top: 10px;
font-size: 25px;
/*color: #e9a60f;*/
color:white;
transition: all 200ms ease-out;
text-shadow: 0px 0px 1px #303030;
}
.active-cart li#cart-button .glyphicon{
left: 5px;

}
.product-cart-controls{
  opacity:0.83;
  background: rgb(122,176,45);
position: absolute;
width: 100%;
height: 40px;
border-bottom: 1px dashed rgba(0, 0, 0, 0.4);
color: white;
bottom: -40px;

/*-webkit-transform-origin: 50% 100% 0;
-webkit-transform: perspective(600px) rotateX(90deg);
*/
transition: 0.2s all ease-in-out;
display: table;
}
.product-box:hover .product-cart-controls{
bottom: 0px;
/*-webkit-transform: perspective(600px) rotateX(0deg) !important;*/
}

.product-cart-controls .btn-product{
width: 33.3333333%;
height: 39px;
float: left;
text-align: center;
font-size: 19px;
line-height: 2.5em;
color: #999999;
cursor: pointer;
z-index: 0;
position: relative;
display: table-cell;
vertical-align: middle;
color: white;
text-shadow: 0px 0px 1px #000;
-moz-user-select: none; 
-khtml-user-select: none; 
-webkit-user-select: none; 
-o-user-select: none; 
}
.product-box:hover{
border: 1px solid rgb(122,176,45);
}
.product-box .product{
  overflow: hidden;
  position: relative;
  background-color: white;
  padding-top: 10px;
}
.product-cart-controls .product-cart-quantity{
  border-right: 1px dashed rgba(0, 0, 0, 0.4);
  border-left: 1px dashed rgba(0, 0, 0, 0.4);
  line-height: 2;
}

.product-cart-controls .btn-product:hover{
background: #ffb351;
}
.product-cart-controls .product-cart-quantity:hover{
  background: rgb(122,176,45);
}

.cart-content{
  padding-top:72px;
  overflow-x: hidden;
}
.cart-content::-webkit-scrollbar { 
    display: none; 
}
.cart-store-title {
  clear: both;
}
.cart-store-title h5{
padding: 7px;
background: #d9edf7;
overflow: hidden;
/*  box-shadow: inset 0px 1px 6px 1px #C0C0C0;
-moz-box-shadow: inset 0px 1px 6px 1px #C0C0C0;
-webkit-box-shadow: inset 0px 1px 6px 1px #C0C0C0;*/
}
.cart-store-items{
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 0px;
  padding-bottom: 3px;


}

.unselectable {

  -moz-user-select: none; 
  -khtml-user-select: none; 
  -webkit-user-select: none; 
  -o-user-select: none; 

}

.cart-store-items-content {
border: 1px solid #D6D6D6;
padding: 6px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
position: relative;
clear: both;

}
.cart-store-items-content img{
  float: left;
  -webkit-border-radius: 50em;
-moz-border-radius: 50em;
border-radius: 50em;
}
.cart-store-items-content .item-desc{
  text-shadow: 0px 1px 0 white;
  font-weight: bold;
}

.cart-store-items-content .glyphicon.glyphicon-remove-circle {
position: absolute;
right: -6px;
top: -5px;
}
.cart-store-items-content .remove-item{
  color:#fa646b;
  cursor: pointer;
}
.remove-item:hover{
  color:#BE050E;
}

.btn-checkout{

  border-radius:20px;

}

.btn-checkout:hover{
 background-color: #A1BB4D;
border-color: #859455;
}

.cartMinusBtn{

  opacity:0.8;
    float: left;
  border-radius: 5px;
  margin-top: 5px;
  margin-right: 10px;

}

.roundBottom{
    -webkit-border-bottom-right-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-bottomright: 20px;
    -moz-border-radius-bottomleft: 20px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

.cartMinusBtn:hover{

  opacity:1.0;
  background-color: #FFC334;

}
.cartPlusBtn{

  opacity:0.8;
  border-radius: 5px;
float: left;
margin-top: 5px;
margin-left: 10px;

}

.cartPlusBtn:hover{

  opacity:1.0;
  
}



.cart-store-items-content .item-quantity {
position: absolute;
left: 49px;
z-index: 999;
top: 13px;
color: white;
font-weight: bold;
}
.tint{
      position: relative;
    float: left;
  }

.tint:hover{
  background: rgba(0, 0, 0, 0);
}
.tint:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.21);
    -webkit-border-radius: 50em;
    -moz-border-radius: 50em;
    border-radius: 50em;
  }



.cart-store-items-content .cart-item-controls{
  float: right;
  clear: both;
}

.cart-store-items-content .btn-group{
  padding-top:5px;
}
.total-calc{
border-bottom: 1px dotted #B6B2B2;
padding: 7px;
}
  .total-calc h4{
    float: left;
    display: inline-block;
  }
.total-calc span{
    float: right;
  }
#cart-totals{
  padding: 5px;
background: #E2E2E2;
border-top: 1px solid #CCC;
-webkit-box-shadow: inset 0px 3px 5px 0px rgba(255, 255, 255, 0.45);
-moz-box-shadow: inset 0px 3px 5px 0px rgba(50, 50, 50, 0.45);
box-shadow: inset 0px 3px 5px 0px rgba(167, 167, 167, 0.45);
margin-bottom: 20px;
clear: both;
overflow-y: scroll;

}
#cart-totals::-webkit-scrollbar { 
    display: none; 
}
#fixed-totals{
width: 325px;
position: fixed;
  right:-325px;
  transition: all 200ms ease-out;
z-index: 1000;
bottom: 0px;
background: url(../img/cart-pattern.png);
}
#cart-totals #total{
  font-size: 19px;
color: #CA484E;
font-weight: bold;
}
#cart-checkout{
  text-align: center;
}
#cart-checkout .btn{
  width: 221px;
  margin-bottom: 16px;
}
#empty-cart {
/*background: #ECECEC;
width: 200px;
height: 200px;
border-radius: 50%;
color: black;
margin-top: 200px;
margin-left: 36px;
position: relative;*/
height: 219px;
width: 228px;
background: url(../img/empty-cart.png) no-repeat;
margin-top: 370px;
margin-left: 55px;
}

#empty-cart-msg{
position: relative;
top: 111px;
left: 31px;
color: #464646;
}

.panel-footer a{
  cursor:pointer;
}
.side-nav .accordion-toggle .dept-name {
  float: left;
  max-width: 160px;
}
.side-nav .accordion-toggle .caret{
  float: right;
  margin-top: 10px;
  margin-right: 10px;
}
.pager .disabled-link > a,
.pager .disabled-link > a:hover,
.pager .disabled-link > a:focus,
.pager .disabled-link > span {
  color: #999999;
  background-color: #ffffff;
  cursor: not-allowed;
}

#checkoutWizard .navbar {
  padding-bottom: 20px;
  border-bottom: 1px dashed #c9c9c9;
}
.container.wizard{
  max-width: 600px;
}
.accordion-panel{
  clear: both;
}
.accordion-panel h4.panel-title{
  /*display: inline-block;*/
 
}
.accordion-panel .panel-heading{
  overflow: hidden;
  cursor: pointer;
   position: relative;
}
.accordion-panel .accordion-pull-right{
  position: absolute;
  color: #fa646b;
  font-size: 18px;
  cursor: pointer;
  right: 10px;
  top: 13px;
}
.accordion-panel .panel-heading label{
  width: 100%;
  cursor: pointer;
  margin-bottom: 0px;
  display: block;
}
.accordion-panel .radio, #accordion-panel .checkbox {
  margin-top: 0px;
  margin-bottom: 0px;
}
.accordion-panel span.address-label{
  text-transform: capitalize;
  font-weight: bold;
  font-size:17px;
  line-height: 0;
}
#add-address span, #add-cart span{
  /*padding-right: 20px;*/

}
#new-card{
  margin-bottom: 20px;
}

#complete-order{
  float: right;
  display: inline-block;
/*padding: 5px 14px;*/
background-color: #ffffff;
border: 1px solid #c7c7c7;
border-radius: 15px;
border-bottom: 4px solid #c7c7c7;
color: #ffffff;
background-color: rgb(122,176,45);
/*border-color: #a0bb4f;
border-width: 0 0 4px 0 !important;*/
border-color: #a0bb4f;
margin: 0;
}

button[disabled]#complete-order {
cursor: not-allowed;
pointer-events: none;
opacity: 0.65;
filter: alpha(opacity=65);
-webkit-box-shadow: none;
box-shadow: none;
}
.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary.active {
cursor: not-allowed;
}
input.custom-width{
  width: inherit;
}
.col-seperator{
  border-left: 1px solid #e5e5e5;
}
ul.wizard-steps li .wizard-icon {
position: relative;
width: 80px;
height: 80px;
margin: 0 auto;
padding: 5px;
background: #DDD;
border-radius: 50%;
z-index: 11;
-webkit-box-shadow: 1px 0 1px #AAA inset;
box-shadow: 1px 0 1px #AAA inset;
}
ul.wizard-steps li:after {
position: absolute;
top: 46%;
left: 50%;
width: 100%;
height: 8px;
background-color: rgba(233,233,233,0.3);
content: "";
z-index: 8;
}

.big-ish{
  font-size:120%;
  font-weight:bold;
}

ul.wizard-steps li .wizard-icon .step-link {
position: relative;
width: 70px;
height: 70px;
font-size: 15px;
text-align: center;
background: #fff;
border: 1px solid #CCC;
border-radius: 50%;
line-height: 62px;
z-index: 11;
-webkit-box-shadow: 1px 0 0 rgba(0,0,0, .1);
box-shadow: 1px 0 0 rgba(0,0,0, .1);
display: inline-block;
}
ul.wizard-steps li:last-child:after {
display: none;
content: "";
}
ul.wizard-steps li {
position: relative;
display: inline-block;
width: 45%;
text-align: center;
margin-right: 4%;
}
.wizard-steps a,  .nav.wizard-steps a:hover{
  z-index: 100;
  text-decoration: none;
background-color: rgba(233,233,233,0.5);
color:#AAAAAA;
cursor: default;
}
.box{
  border: 1px solid #dbe1e8;
  margin-bottom: 20px;
}
.box .box-content {
padding: 10px;
/*background: #fff;*/
background:rgba(255,255,255,0.5);
padding-bottom: 20px;
padding-top: 20px;
}
.box>.box-title {
/*background-color: #8dc3eb;*/
/*background-color: #72a9e5;*/
background-color:rgba(114,169,229,0.9);
text-shadow: 0 1px 0 #aecef4;
}
.box .box-title h3 {
display: inline-block;
line-height: 20px;
margin: 0;
color: #fff;
white-space: nowrap;
}
.box .box-title {
padding: 10px;
}
.table td, .table th{
  vertical-align: middle;
  text-align: center;
}

#page-table th{
padding: 15px;
}

#page-table .fa{
  padding-right: 5px;
}

tr.clickableRow{
cursor: pointer;
}
.product-detail h4{
  margin-bottom: 0px;
  
}
.product-detail h5{
  column-rule: color: rgb(75, 75, 75);
}

.product img:hover{
cursor: pointer;
}

.modal-product-cart-controls{
  position: relative;
  bottom: 0px;
}
.cart-info-icon{
/*background: rgb(122,176,45);*/
background-color:rgba(122,176,45,0.95);
width: 110px;
height: 22px;
padding: 3px;
line-height: 1;
float: left;
color: white;
width: 100%;
text-align: center;

}

.cart-info-icon-items{
display: inline-block;
background: white;
border-radius: 54px;
padding: 4px;
margin-right: 8px;
color: rgb(100, 100, 100);
font-size: 12px;
width: 23px;
}

.navbar-nav > li#cart-button  > a{
  padding-top: 0px;
  padding-bottom: 8px;
}

ul.sub-nav {
display: none;
width: auto;
position: relative;
left: 0;
border: 0;
background-color: #fafafa;
}

.accordion-toggle.menu-open + .sub-nav {
display: block;
}

ul.sub-nav li a.active, .side-nav li.dropdown ul li a.active:before {
  color: #ffbc65;
  font-weight: bold;
}
.product-item{
  -moz-border-radius: 5px;
  border-radius: 5px;
  display: inline-block;
  position: relative;
  width: 205px;
  margin-left: 0px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: 0px;
  vertical-align: top;
}

.product .product-quantity{
font-size: 2em;
width: 2em;
height: 2em;
text-align: center;
padding: 5px 0;
border-radius: 1em;
position: absolute;
top: 0.5em;
right: 0.5em;
background: #ffb351;
-webkit-transform: rotateZ(10deg);
-webkit-backface-visibility: hidden;
color: white;
}
#product-list-view{
margin-left: 0px !important;
margin-right: 0px !important;  
height: 100%;
}

#title-topbar {
min-height: 61px;
border-bottom: 1px solid #E6E3E3;
/*background: url(../img/cart-pattern.png);*/
background-color: rgba(241,241,241,0.9);
color: black;
color: rgb(100, 99, 99);
z-index: 1000;
}
#title-topbar h4{
padding-top: 15px;
display: inline-block;  
padding-left: 20px;
}

#title-topbar h3{
  display: inline-block;
}

#title-topbar .title-count{
font-size: 15px;
width: 30px;
height: 30px;
text-align: center;
padding: 5px 0;
border-radius: 1em;
position: relative;
top: -3px;
right: -8px;
background: rgb(122,176,45);
color: white;
display: inline-block;
}
.total-calc:last-child{

border-bottom:none;
}

#title-topbar .badge {
position: relative;
top: -5px;
left: 10px;
background-color:rgb(122,176,45); 
}
#search {
  padding-right: 20px; 
  padding-bottom: 20px;
  padding-left: 20px;
}
#search .form-group{
/*  width: 500px;
  padding-left: 100px;*/
}

.search-input {
  /*float:right;*/
   width: 200px !important; 
   -webkit-transition: all .5s ease;
   -moz-transition: all .5s ease;
   transition: all .5s ease;
}
.search-input:focus {
   /*width: 300px !important;*/
}
#search{
padding-top: 15px;
}
.input-group.hilight-append input:focus + .dropdown-menu + .input-group-btn > .btn{
background: rgb(122,176,45);
border-color: rgba(95,135,36,0.9);
-webkit-transition: all 0.2s ease-out;
transition: all 0.2s ease-out;
}

.cart-store-items .item-price{
  float: right;
}

#accordian ul li {
  cursor: pointer;
}.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
  border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

.tab-content > .active,
.pill-content > .active {
  display: block;
}

.tabs-below > .nav-tabs {
  border-top: 1px solid #ddd;
}

.tabs-below > .nav-tabs > li {
  margin-top: -1px;
  margin-bottom: 0;
}

.tabs-below > .nav-tabs > li > a {
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
}

.tabs-below > .nav-tabs > li > a:hover,
.tabs-below > .nav-tabs > li > a:focus {
  border-top-color: #ddd;
  border-bottom-color: transparent;
}

.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover,
.tabs-below > .nav-tabs > .active > a:focus {
  border-color: transparent #ddd #ddd #ddd;
}

.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
  float: none;
}

.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
  float: left;
  margin-right: 19px;
  border-right: 1px solid #ddd;
}

.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
  border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
  border-color: #ddd transparent #ddd #ddd;
  *border-right-color: #ffffff;
}

.tabs-right > .nav-tabs {
  float: right;
  margin-left: 19px;
  border-left: 1px solid #ddd;
}

.tabs-right > .nav-tabs > li > a {
  margin-left: -1px;
  -webkit-border-radius: 0 4px 4px 0;
     -moz-border-radius: 0 4px 4px 0;
          border-radius: 0 4px 4px 0;
}

.tabs-right > .nav-tabs > li > a:hover,
.tabs-right > .nav-tabs > li > a:focus {
  border-color: #eeeeee #eeeeee #eeeeee #dddddd;
}

.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover,
.tabs-right > .nav-tabs .active > a:focus {
  border-color: #ddd #ddd #ddd transparent;
  *border-left-color: #ffffff;
} 
.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

.tab-content > .active,
.pill-content > .active {
  display: block;
}
.small-container.container{
  width:600px;
}
#search .hilight-append .dropdown-menu{
width: 241px;
  overflow: hidden;
  left:11px !important;
}
#title-topbar h5{
  text-transform: none;
  margin-top: -5px;
}

#search-title{
  float: left;

}
#search-results .nav-pills{
  padding: inherit;
padding-left: 20px;
padding-top: 10px;
margin-bottom: 25px;
}
#search-results li.active span.badge{
  background-color: white;
  color: #999999;
}
.nav-pills li{
  cursor: pointer ;
}
.aisle-title{
  padding-left: 40px;
  border-top-left-radius: 5px;
border-top-right-radius: 5px;
border: 0px solid #dddddd;
background-color: #ffffff;
color: #7f95a9;
margin-bottom: 20px !important;
padding: 12px 16px !important;
font-weight: bold;
-webkit-box-shadow: 0px 3px 0px rgba(219, 223, 224, 1);
-moz-box-shadow: 0px 3px 0px rgba(219, 223, 224, 1);
box-shadow: 0px 3px 0px rgba(219, 223, 224, 1);
padding-left: 35px !important ;
}
.aisle-title .fa{
  color: #464646;
  font-size: 20px;

}
.aisle-title .badge{
position: relative;
top: -4px;

}
.aisle-title .fa{
  cursor: pointer;
}
.aisle-title a:hover{
text-decoration: none;
cursor: pointer;
}
.search-grid{
  padding-left: 50px;
  padding-right: 15px;
}
#search-results .nav-pills > li > a:hover{
  background-color: rgb(122,176,45) !important;
}
/*ui-view animation - needs more research*/
/*[ui-view].ng-enter, [ui-view].ng-leave {
  -webkit-transition:0.5s linear all;
  -moz-transition:0.5s linear all;
  -o-transition:0.5s linear all;
  transition:0.5s linear all;

  opacity:0.5;
  position:relative;
  opacity:0;
  top:10px;
}

[ui-view].ng-enter-active {
   top:0;
  opacity:1;
}*/
#fixed-push{
margin-top: 78px;
height: 204px;
position: relative;
width: 267px;
}
.item-desc-box{
  width: 60%;
  font-size: 12px;
  text-align: left;
}

.progress-bar-warning {
background-color: #ffc77f;
border-bottom-color: #ffb14c;
}

.progress {
overflow: hidden;
height: 24px;
margin-bottom: 10px;
background-color: #f5f5f5;
border-radius: 0px; 
-webkit-box-shadow: inset -5px 2px 16px rgba(7, 7, 7, 0.25);
box-shadow: inset -5px 2px 16px rgba(7, 7, 7, 0.25);
}

.progress-desc{
  position: absolute;
  left: 20px;
  color:rgb(85, 85, 85);
  white-space:nowrap;
}
#page-content-wrapper{
  padding-top: 28px;
}
.modal-header.with-icon h4{
  display: inline;
  line-height: 3;
}
.modal-header.with-icon i{
  float: right;
  font-size: 50px;
}
#products-grid{
  padding-top: 20px;
  height: 100%;
  position: relative;
}
.card-delete-x{
position: absolute;
  right: -7px;
  top: -7px;
  color: #fa646b;
  font-size: 18px;
  cursor: pointer;
}
.card-panel{
  position: relative;
  overflow: visible !important;
  margin-bottom: 15px !important;

}

.required:after { 
  content:" *"; 
  font-weight: bold;
    color: red;
}
.cart-store-title .fa-warning{
  color: #fa5059;
}
.cart-store-title .popover-content{
  font-size: 11px;
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: none;
}
.faq-heading span, .faq-body span{
display: inline-block;
float: left;
border-right: 0px solid #cacaca;
padding:10px;
background: #f2f2f2;
margin-right: 16px;
}
.faq-body span{
background: transparent;
  }

.faq-heading .glyphicon:empty,  .faq-body .glyphicon:empty{
width: auto;
}
.faq-heading a{
display: block;
padding: 8px 15px;
text-transform: uppercase;
color:black;
text-decoration: none;
}
.faq-body .faq-inner{
  display: block;
  padding: 8px 15px;
}
.faq-group{
  border-radius: 0px;
border-bottom: 1px solid #F0EDED;
padding-bottom: 15px;
margin-bottom: 15px;
}
.fixed-push-nav{
  background: transparent;
  width: 225px;
  height: 160px;
}

nav .dropdown-menu:before {
  position: absolute;
  top: -7px;
  right: 50px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

nav .dropdown-menu:after {
  position: absolute;
  top: -6px;
  right: 51px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  border-left: 6px solid transparent;
  content: '';
}

.dropdown-support .dropdown-menu li{
padding: 10px 14px;
margin: 0;
border-bottom: 1px solid #DDD;
z-index: 888;
position: relative;
cursor: pointer;
font-size: 13px;
}
.dropdown-support .dropdown-menu li:last-child{
border-bottom:none;
}
.dropdown-support .dropdown-menu .item-icon{
  width: 40px;
margin-right: 5px;
display: inline-block;
vertical-align: middle;
font-size: 20px;
text-align: center;
color: #888;
}
.dropdown-support .dropdown-menu{
  width: 210px;
}
.dropdown-menu{
  z-index: 4000;
}
@media (max-width: 767px) {
    .nestedView{
      margin-left: 0px !important;
    }
    #cart-button{
      width: 35px;
      box-shadow: none;
      -webkit-box-shadow:none;
      background: white;
      height: 70px;
    }
      #cart-button .glyphicon {
        color:rgb(122,176,45);
    }
      #page-wrapper{
        padding-top: 26px;
      }
      .fixed-push-nav{
        display: none !important;
      }
      .scroller {
        max-height: 340px;
      }
  }
#totals-toggler{
-webkit-border-radius: 150px 150px 0px 0px; 
-moz-border-radius: 150px 150px 0px 0px;
border-radius: 150px 150px 0px 0px;
cursor: pointer;
display: block;
width: 47px;
height: 14px;
background: #E2E2E2;
position: absolute;
z-index: 6000;
top: -14px;
left: 140px;
-webkit-box-shadow: inset 0px 3px 5px 0px rgba(255, 255, 255, 0.45);
-moz-box-shadow: inset 0px 3px 5px 0px rgba(50, 50, 50, 0.45);
box-shadow: inset 0px 3px 5px 0px rgba(167, 167, 167, 0.45);
}
#totals-toggler:before {
position: relative;
content: "\f077";
display: inline-block;
font-family: FontAwesome;
color: #A2A2A2;
float: right;
font-size: 13px;
right: 18px;
top: 0px;
-webkit-transition: all 300ms ease-in-out;
-moz-transition: all 300ms ease-in-out;
-o-transition: all 300ms ease-in-out;
transition: all 300ms ease-in-out;
}
.opened-subtotals #totals-toggler:before {
content: "\f078";
}
#subtotals{
  display: none;
}
.store-min-msg{
font-size: 13px;
padding: 2px;
/*background: #FFC1C4;*/
background-color: rgba(122,176,45,0.6);
text-shadow: none;
margin-top: -10px;
margin-bottom: 10px;
color: rgb(250,250,250);
font-weight:bold;
}
.store-min-msg i{
  color: rgb(250,250,250);
}
.progress em {
  text-shadow:none;
}
.navbar-default .navbar-nav > li > a#cart-togller:hover, .navbar-default .navbar-nav > li > a#cart-togller:focus{
background-color: transparent !important;
}
h5.product-title{
  text-align: left;
}
.product-size{
  float: right;
  color: #939292;
}
div.product-price{
  text-align:left;
  position: absolute;
  bottom: 10px;
  width: 180px;
}
.item-desc-box .item-size{
  color:#9C9C9C;
}


.carrotIcon {
    /*
        Periodically animates
    */
    opacity:0.7;
    -webkit-animation: periodicrotation 8s infinite linear;

}
/* Periodic rotation */
@-webkit-keyframes periodicrotation {
    0%, 7% {opacity:1;-webkit-transform: rotate(0deg);}
    7%, 100%   {opacity:0.6;-webkit-transform: rotate(359deg);}
}

@keyframes periodicrotation {
    0%, 7% { opacity:1; transform: rotate(0deg); }
    7%, 100% { opacity:0.6; transform: rotate(359deg); }
}

/* Continuous (loading) rotation */
@-webkit-keyframes rotating {
    from{
        opacity:1;
        -webkit-transform: rotate(0deg);
    }
    to{
        opacity:1;
        -webkit-transform: rotate(360deg);
    }
}

.rotating {
    /* Continuously animates */
    opacity:1.0;
    -webkit-animation: rotating 0.45s linear infinite;
    
}

.strikeThrough {
  position: relative;
  color: #B2B2B2 !important 
}
.strikeThrough:before {
    border-bottom: 3px solid #fa646b;
    position: absolute;
    content: "";
    width: 100%;
    height: 50%;
}

.iconField
{
  font-family: 'FontAwesome';
}
.scroller{
  overflow: hidden;
}
.left-navi {
  padding:0;
}
.depart-accordian a{
padding: 10px;
display: inline-block;
overflow: hidden; 
}

li.depart-accordian:hover{
background-color: #7AB02D;
}

li.depart-accordian ul li a:hover{
/*  color: #ffbc65 !important;
  background: transparent;*/
  margin-left: 5px;
}
ul.left-navi li a:hover, ul.left-navi li a:focus{
  background: transparent !important; 
}
img.product-img {
width: 200px;
}
.spinner {

position: fixed;
  z-index: 4000;
  height: 5em;
  width: 5em;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.spinner > div, .spinner-generic > div {
   width: 18px;
height: 18px;
background-color: #9ab058;

border-radius: 100%;
display: inline-block; 
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner .bounce1, .spinner-generic .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
  ba
}

.spinner .bounce2, .spinner-generic .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
  background-color: #ffbc65;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

.selectedAisleStyle {

    /*color: #ffbc65 !important; */
    font-weight: bold !important;
}

.selectedDptStyle {

    /*color:red;
    background-color: #A68877;*/

}

.overlay{
display: block;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(255, 255, 255, 0.58);
z-index: 1;
}
.overlay-generic{
display: block;
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(255, 255, 255, 0.33);
transition: 0.5s;
}
.spinner-generic {

position: absolute;
  z-index: 1029;
  height: 5em;
  width: 5em;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.cancelledOrder {

  opacity:0.65;

}

.cart-store-items-content .pull-left{
  width: 40%;
}

.side-nav li.dropdown ul li a.selectedAisleStyle:before{
    color: #ffbc65 !important;
   font-weight: bold !important;
}
.valign-helper{
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.store-title-img{
  display:inline-block;
  width:50%;
  padding-top:13px;
  float: left;
}
.row-label{
  color: rgb(48, 45, 45);
}
.br {
border-right: 1px solid #e1e1e1;
}
.mb-lg {
margin-bottom: 15px !important;
}
.pv {
padding-top: 20px !important;
padding-bottom: 20px !important;
min-height: 135px;
}
#joinnow{
  width: 150px;
  font-size: 17px;
}
.loginbtn{
  width: 260px;
  font-size: 17px;
}
.emptyroundedbtn{
  display: block;
width: 97px;
height: 97px;
position: relative;
text-align: center;
line-height: 16px;
border-radius: 50%;
box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
margin: 0 auto;
}
.roundedbtn{
width: 50px;
height: 50px;
position: relative;
text-align: center;
line-height: 16px;
border-radius: 50%;
display: block;
margin: 0  auto;
}
.surround-bg{
  background: white;
width: 60px;
height: 60px;
position: relative;
text-align: center;
line-height: 16px;
border-radius: 50%;
display: block;
margin: 0 auto;
margin-bottom: 10px;
padding: 5px;
}
.outer-bg{
background: rgba(231, 231, 231, 0.3);
padding-top: 10px;
padding-right: 10px;
padding-left: 10px;
padding-bottom: 10px;
-webkit-border-top-left-radius: 10px;
-webkit-border-top-right-radius: 10px;
-moz-border-radius-topleft: 10px;
-moz-border-radius-topright: 10px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}
.outer-bg hr{
border: 1px rgb(185, 184, 184) dashed;
height: 0;
}

.storeSelectedForTimeslot{
  opacity: 1.0;
}

.storeNotSelectedForTimeslot{

  opacity:0.4;

}

#split-stores{
  width: 100%;
}
::-webkit-input-placeholder { font-family:'Source Sans Pro', sans-serif !important; }
::-moz-placeholder { font-family:'Source Sans Pro',  sans-serif,  FontAwesome !important; }  
:-ms-input-placeholder { font-family:'Source Sans Pro', sans-serif !important; } 
input:-moz-placeholder { font-family:'Source Sans Pro', sans-serif !important; }

.left-inner-addon {
    position: relative;
}
.left-inner-addon input {
    padding-left: 30px;    
}
.left-inner-addon i {
    position: absolute;
    padding: 10px 12px;
    pointer-events: none;
}

.right-inner-addon {
    position: relative;
}
.right-inner-addon input {
    padding-right: 30px;    
}
.right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 10px 12px;
    pointer-events: none;
}
#delivery-time-drop{
  font-size: 11px;
}
#coupon-section .left-inner-addon{
display: inline;
}
a.back-store-button{
background: #AF917F;
border-radius: 18px;
padding: 5px;
color: white;
}
a.back-store-button:hover{
background: #BD9D8B;
text-decoration: none;
}
.item-desc-box .item-desc, .cart-store-items-content .tint{
  cursor: pointer;
}

ul#totals{
  padding-top: 5px;
}
ul#totals li{
  float: left;
  padding-left: 10px;
  list-style: none;
}
.amount-discount {
    position: relative;  
    margin-top: 7px;  
    margin-left: 9px;  
    width: 89px;  
    -webkit-border-radius: 0 4px 0 4px;  
    -moz-border-radius: 0 4px 0 4px;  
    border-radius: 0 4px 4px 0;
    background-color: #fa646b;
    height: 32px;
    box-shadow: 1px 1px 4px rgb(145, 140, 140);
    padding-top: 5px;
    font-size: 16px;
    color: white;
    padding-right: 10px;
    padding-left: 10px !important;
    -ms-transform: rotate(7deg);    
    -webkit-transform: rotate(7deg);    
    transform: rotate(11deg);
}
.amount-discount:before {
    content: '';  z-index: 2;  position: absolute;  
    top: 35%;  
    right: 98%;  
    width: 10px;  
    height: 10px;  opacity: .95;  
    background: #ffffff;
    border-radius: 7px;  
    -webkit-box-shadow: inset .5px 0 rgba(0, 0, 0, 0.6);  
    box-shadow: inset .5px 0 rgba(0, 0, 0, 0.6);
}
.amount-discount:after {
    right: 100%;  
    border: solid transparent;  
    content: " ";  
    height: 0;  width: 0;  
    position: absolute;  
    border-color: rgba(136, 183, 213, 0);  
    border-width: 16px;  
    top: 61%;  margin-top: -20px;
    border-right-color: #fa646b;

}
.panel-stack .panel-stack-first {
    border-top-width: 1px;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
}
.panel-stack .panel-stack-first .badge, .panel-stack .panel-stack-first .label {
    margin-top: .5em;
}
.panel-stack .panel-stack-last {
    border-bottom-width: 6px;
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
}
.panel-stack .panel-stack-last.panel-primary {
    border-bottom-color: #478fdd;
}
.panel-stack .panel-stack-last.panel-info {
    border-bottom-color: #62ace3;
}
.panel-stack .panel-stack-last.panel-danger {
    border-bottom-color: #f94c54;
}
.panel-stack .panel-stack-last.panel-warning {
    border-bottom-color: #ffb14c;
}
.panel-stack .panel-stack-last.panel-success {
    border-bottom-color: #82c379;
}
.panel-stack .panel-stack-last.panel-inverse {
    border-bottom-color: #3b3b3b;
}
.panel-stack .panel-stack-last input, .panel-stack .panel-stack-last .input-append, .panel-stack .panel-stack-last .input-prepend {
    margin: 3px 0 0 0;
}
.panel-stack .panel-heading {
    margin: 0;
    padding: 0;
    border: 0;
}
.panel-stack .panel-primary {
    border-color: #72a9e5;
}
.panel-stack .panel-info {
    border-color: #8dc3eb;
}
.panel-stack .panel-danger {
    border-color: #fb7d83;
}
.panel-stack .panel-warning {
    border-color: #ffc77f;
}
.panel-stack .panel-success {
    border-color: #a3d39c;
}
.panel-stack .panel-inverse {
    border-color: #555;
}
#total-breakdown{
  /*background: white;*/
  background-image:url('../img/Line_paper_texture_by_bheware.png');
}
#total-breakdown:after{
  content:"";
    display:block;
    position:relative;
    top:0;
    left:0;
    height:17px;
    background: linear-gradient(#ffffff 0%, transparent 0%), linear-gradient(135deg, #f7f7f7 33.33%, transparent 33.33%) 0 0%, #f7f7f7 linear-gradient(45deg, #f7f7f7 33.33%, #ffffff 33.33%) 0 0%;
    background: -webkit-linear-gradient(#ffffff 0%, transparent 0%), -webkit-linear-gradient(135deg, #f7f7f7 33.33%, transparent 33.33%) 0 0%, #f7f7f7 -webkit-linear-gradient(45deg, #f7f7f7 33.33%, #ffffff 33.33%) 0 0%;
    background: -o-linear-gradient(#ffffff 0%, transparent 0%), -o-linear-gradient(135deg, #f7f7f7 33.33%, transparent 33.33%) 0 0%, #f7f7f7 -o-linear-gradient(45deg, #f7f7f7 33.33%, #ffffff 33.33%) 0 0%;
    background: -moz-linear-gradient(#ffffff 0%, transparent 0%), -moz-linear-gradient(135deg, #f7f7f7 33.33%, transparent 33.33%) 0 0%, #f7f7f7 -moz-linear-gradient(45deg, #f7f7f7 33.33%, #ffffff 33.33%) 0 0%;
    background-repeat: repeat-x;
    background-size: 0px 100%, 9px 27px, 9px 27px;
    opacity:0.3;
}
#total-breakdown-panel{
  margin-bottom: 0px;

}
#total-breakdown-top{
overflow: hidden;
padding-top: 7px;
padding-bottom: 0px;
border-bottom: 1px dashed #EFEFEF;
}
#total-breakdown-bottom{
padding-top: 20px;
}
#total-no-discount{
  padding-top: 5px;
}
#checkout-box-content{
  margin: 0;
}
table#orders-table tbody tr td{
  vertical-align: middle;
  font-weight: bold;

}
table#orders-table tbody tr td small{
font-weight: normal;
}
ul#sub-totals {
  overflow: hidden;
}
ul#sub-totals li{
float: left;  
list-style: none;
padding-right: 29px;
padding-bottom: 10px;
}
ul#sub-totals h4{
  text-align: center;
}
/*.active-cart .navbar-user{
  padding-right: 321px;
  transition: all 200ms ease-out;
}*/
.navbar-user{
padding-right: 95px;
  }
button.navbar-toggle{
  margin-right: 38px;
}
.navbar-collapse{
  max-height: none !important;
}
.collapse.in{
  overflow: hidden;
}

.frozenHeader {
  position:fixed;
}

.productListPadding{
  padding-top:110px !important;
}

.headerWidthOnMozilla {
  width:100%;
}

.firefoxSearchMargin {
  margin-right:190px;
}

.faded {
  opacity:0.4;
}
.kindOfFaded {
  opacity:0.65;
}
.veryFaded {
  opacity:0.15;
}
.socialMediaIcon {
  margin-top:11px;
  opacity:0.45;
}
.socialMediaIcon:hover {
  opacity:1.0;
}

.adminTextfield {
  width:200px;
  display:inline;
  border-radius:7px;
  -moz-box-shadow:1px 1px 1px 1px #ccc;
  -webkit-box-shadow: 1px 1px 1px 1px #ccc;
  box-shadow:1px 1px 1px 1px #ccc;
  margin-top:-4px;
}

.dateRange {
  color:blue;
  font-weight:bold;
  padding:7px;
}

html, body {
    max-width: 100%;
    /*overflow-x: hidden;*/
}

.spinnerNew {
  right:50px;
  width: 40px;
  height: 40px;
  position: fixed;
  z-index: 4000;
  height: 5em;
  width: 5em;
  margin: auto;
}

.double-bounce1, .double-bounce2 {
  background-color:rgb(122,176,45);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: bounce 2.0s infinite ease-in-out;
  animation: bounce 2.0s infinite ease-in-out;
}

.chosenTip {

  background-color: rgb(122,176,45) !important;

}

.stripe-button-el{overflow:hidden;display:inline-block;visibility:visible !important;background-image:-webkit-linear-gradient(#28a0e5,#015e94);background-image:-moz-linear-gradient(#28a0e5,#015e94);background-image:-ms-linear-gradient(#28a0e5,#015e94);background-image:-o-linear-gradient(#28a0e5,#015e94);background-image:-webkit-linear-gradient(#28a0e5,#015e94);background-image:-moz-linear-gradient(#28a0e5,#015e94);background-image:-ms-linear-gradient(#28a0e5,#015e94);background-image:-o-linear-gradient(#28a0e5,#015e94);background-image:linear-gradient(#28a0e5,#015e94);-webkit-font-smoothing:antialiased;border:0;padding:1px;text-decoration:none;-webkit-border-radius:5px;-moz-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px;border-radius:5px;-webkit-box-shadow:0 1px 0 rgba(0,0,0,0.2);-moz-box-shadow:0 1px 0 rgba(0,0,0,0.2);-ms-box-shadow:0 1px 0 rgba(0,0,0,0.2);-o-box-shadow:0 1px 0 rgba(0,0,0,0.2);box-shadow:0 1px 0 rgba(0,0,0,0.2);-webkit-touch-callout:none;-webkit-tap-highlight-color:transparent;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;cursor:pointer}.stripe-button-el::-moz-focus-inner{border:0;padding:0}.stripe-button-el span{display:block;position:relative;padding:0 12px;height:30px;line-height:30px;background:#1275ff;background-image:-webkit-linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);background-image:-moz-linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);background-image:-ms-linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);background-image:-o-linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);background-image:-webkit-linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);background-image:-moz-linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);background-image:-ms-linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);background-image:-o-linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);background-image:linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);font-size:14px;color:#fff;font-weight:bold;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;text-shadow:0 -1px 0 rgba(0,0,0,0.25);-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.25);-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.25);-ms-box-shadow:inset 0 1px 0 rgba(255,255,255,0.25);-o-box-shadow:inset 0 1px 0 rgba(255,255,255,0.25);box-shadow:inset 0 1px 0 rgba(255,255,255,0.25);-webkit-border-radius:4px;-moz-border-radius:4px;-ms-border-radius:4px;-o-border-radius:4px;border-radius:4px}.stripe-button-el:not(:disabled):active,.stripe-button-el.active{background:#005d93}.stripe-button-el:not(:disabled):active span,.stripe-button-el.active span{color:#eee;background:#008cdd;background-image:-webkit-linear-gradient(#008cdd,#008cdd 85%,#239adf);background-image:-moz-linear-gradient(#008cdd,#008cdd 85%,#239adf);background-image:-ms-linear-gradient(#008cdd,#008cdd 85%,#239adf);background-image:-o-linear-gradient(#008cdd,#008cdd 85%,#239adf);background-image:-webkit-linear-gradient(#008cdd,#008cdd 85%,#239adf);background-image:-moz-linear-gradient(#008cdd,#008cdd 85%,#239adf);background-image:-ms-linear-gradient(#008cdd,#008cdd 85%,#239adf);background-image:-o-linear-gradient(#008cdd,#008cdd 85%,#239adf);background-image:linear-gradient(#008cdd,#008cdd 85%,#239adf);-webkit-box-shadow:inset 0 1px 0 rgba(0,0,0,0.1);-moz-box-shadow:inset 0 1px 0 rgba(0,0,0,0.1);-ms-box-shadow:inset 0 1px 0 rgba(0,0,0,0.1);-o-box-shadow:inset 0 1px 0 rgba(0,0,0,0.1);box-shadow:inset 0 1px 0 rgba(0,0,0,0.1)}.stripe-button-el:disabled,.stripe-button-el.disabled{background:rgba(0,0,0,0.2);-webkit-box-shadow:none;-moz-box-shadow:none;-ms-box-shadow:none;-o-box-shadow:none;box-shadow:none}.stripe-button-el:disabled span,.stripe-button-el.disabled span{color:#999;background:#f8f9fa;text-shadow:0 1px 0 rgba(255,255,255,0.5)}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}