<html>
<body>
Hello {{user.first_name}},

<p>We have received your request to reset password. You can do so by clicking the link below. Please note this link will expire in a day.</p>
<p>To reset your password <a href="https://www.smartkart.ca/api/user/token?exp={{user.pk}}&t={{user.forgot_password_hash}}"> click here</a>.</p>

<p>The Smartkart Team</p>
<img src="https://images-smartkartca.rhcloud.com/img/store-logo.png"/>
</body>
</html>